* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    letter-spacing: $letterSpacing;

    .ui-widget,
    .ui-widget .ui-widget {
        font-family:$fontFamily;
        text-decoration: none;
    }

    .ui-widget-content {
        background-color: $contentBgColor;
        border: 1px solid $contentBorderColor;
        padding: $contentPadding;
        
        .ui-icon {
            color: $textSecondaryColor;
        }
    }
    
    .ui-widget-header {
        background-color: $primaryColor;
        color: $headerTextColor;
        border: 1px solid $primaryColor;
        padding: $headerPadding;
        font-weight: $headerFontWeight;
        
        .ui-icon {
            color: $headerTextColor;
        }
    }

    .ui-state-active, .ui-state-highlight {
        background-color: $accentColor;
        color: $accentTextColor;
        
        .ui-icon {
            color: $accentTextColor;
        }
    }

    .ui-state-disabled {
        opacity: .35;
        filter: Alpha(Opacity=35);
        background-image: none;
    }

    .ui-corner-all {
        @include border-radius($borderRadius);
    }

    .ui-corner-top {
        @include border-radius-top($borderRadius);
    }

    .ui-corner-bottom {
        @include border-radius-bottom($borderRadius);
    }

    .ui-corner-left {
        @include border-radius-left($borderRadius);
    }

    .ui-corner-right {
        @include border-radius-right($borderRadius);
    }

    .ui-widget-overlay {
        background-color: #58575c;
        @include opacity(.8);
    }
    
    .ui-shadow {

    }

    .ui-icon {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: $iconFontSize;
        display: inline-block;
        width: $iconWidth;
        height: $iconHeight;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
        text-indent: 0;
        overflow: visible;

        /* Support for all WebKit browsers. */
        -webkit-font-smoothing: antialiased;
        /* Support for Safari and Chrome. */
        text-rendering: optimizeLegibility;

        /* Support for Firefox. */
        -moz-osx-font-smoothing: grayscale;

        /* Support for IE. */
        font-feature-settings: 'liga';
    }
    
    .material-icons {
      font-family: 'Material Icons';
      font-weight: normal;
      font-style: normal;
      font-size: 24px;  /* Preferred icon size */
      display: inline-block;
      width: 1em;
      height: 1em;
      line-height: 1;
      text-transform: none;
      letter-spacing: normal;
      word-wrap: normal;
      white-space: nowrap;
      direction: ltr;

      /* Support for all WebKit browsers. */
      -webkit-font-smoothing: antialiased;
      /* Support for Safari and Chrome. */
      text-rendering: optimizeLegibility;

      /* Support for Firefox. */
      -moz-osx-font-smoothing: grayscale;

      /* Support for IE. */
      font-feature-settings: 'liga';
    }
    
    .fa {
        font-family: 'FontAwesome';
    }
    
    a {
        color: $primaryColor;
        text-decoration: none;
    }
    
}