/* Add your customizations of theme here */

/* Generic */
body .ui-state-active, body .ui-state-highlight {
  color: $bodyStateActiveColor !important;
}

input, body .ui-widget, body .ui-widget .ui-widget,
body .ui-selectonemenu .ui-selectonemenu-label.ui-inputfield {
  font-family: $portalFontFamily;
}

body .ui-widget-header {
  background-color: $paleGrey !important;
  border: 1px solid $paleGrey;
}

/* Login page */
.login-body .login-panel .login-panel-header {
  background-color: $loginPanelHeaderBackgroundColor;
}

.login-body .login-panel .login-panel-content h1 {
  font-size: 1.6rem;
}

.login-body .login-panel .login-panel-header img {
    vertical-align: middle;
    width: auto !important;
    max-width: 100%;
}

/* Icon */
.fa:before {
	font-family: $iconFontFamily !important;
}

.ui-outputlabel .ui-outputlabel-rfi {
  color: $asterikIconColor;
}

.ui-dialog .ui-dialog-content .ui-icon-alert {
  font-size: 2rem;
}

body .ui-menu .ui-menu-list li.ui-menuitem .ui-menuitem-link .ui-menuitem-icon {
  font-size: 1.8rem;
}


body .ui-icon {
  font-size: 2rem !important;
}

/* Calendar */
.ui-datepicker .ui-datepicker-buttonpane button {
    border-radius: $actionButtonBorderRadius;
    background-color: $primaryColor;
}

body .ui-datepicker .ui-timepicker-div .ui_tpicker_time input {
  font-size: $smallFontSize;
}

body .ui-datepicker .ui-datepicker-header .ui-datepicker-next,
body .ui-datepicker .ui-datepicker-header .ui-datepicker-prev {
  font-size: 2rem !important;
}

.ui-datepicker .ui-datepicker-title {
  color: $uiDataPickerTitleColor;
}

.ui-datepicker .ui-datepicker-header {
  border-color: $uiDataPickerTitleBorderColor !important;
}

.ui-datepicker thead tr {
  background-color: $uiDataPickerHeaderColor !important;
}

/* Checkbox */
body .ui-chkbox .ui-chkbox-box.ui-state-active .ui-chkbox-icon {
    color: $primaryLightestColor !important;
}

.ui-chkbox.ui-widget {
  margin-top: 2px;
  margin-bottom: 2px;
}

.ui-chkbox .ui-widget.ui-chkbox-box.ui-state-active:before {
  left: 0.5em !important;
  top: 0.5em !important;
  height: 0.14em !important;
  width: 0.2em !important;
}


/* Radio button */
.ui-radiobutton .ui-radiobutton-box.ui-state-active:before {
  top: 0.6em !important;
  height: 0.12em !important;
}

/* Command link */
.ui-commandlink {
  color: $commandLinkTextColor !important;
}

.ui-commandlink:hover {
  color: $commandLinkHoveredTextColor !important;
}

.ui-commandlink:active {
  color: $commandLinkActiveTextColor !important;
}

.ui-commandlink.ui-state-disabled {
  color: grba($commandLinkDisabledTextColor,1) !important;
  font-size: $largeFontSize;
}

/* Data table */
.ui-datatable table tbody tr td span {
  color: $dataTableRowSpanColor !important;
}

.ui-datatable table tbody tr.ui-datatable-selectable.ui-state-highlight td {
    background-color: $highlightedTdDataTableBackgroundColor;
}

.ui-datatable table tbody tr.ui-datatable-selectable.ui-state-hover td {
    background-color: $hoveredTdDataTableBackGroundColor;
}

.ui-datatable table thead tr td:not(:last-child),
.ui-datatable table tbody tr td:not(:last-child) {
    border-right: 1px solid $rightBorderInsideDataTable;
}

.ui-datatable {
    thead {
        tr {
            th {
            	border-top: 1px solid $topBorderOutsideDataTableColor;
				border-bottom: 1px solid $bottomBorderHeaderDataTableColor;
	
                .ui-column-title {
                    color: $primaryTextColor;
                }

                .ui-sortable-column-icon.ui-icon {
                    color: $primaryTextColor;
                }

                &:not(:last-child) {
                    border-right: 1px solid $rightBorderInsideDataTable;
                }

                &:not(:first-child) {
                    border-left: 1px solid $leftBorderInsideDataTable;
                }
                
                &:first-child {
                    border-left: 1px solid $leftBorderOutsideDataTableColor !important;
                }
                
                &:last-child {
                    border-right: 1px solid $rightBorderOutsideDataTableColor !important;
                }
            }
        }

        .ui-inputfield.ui-inputtext.ui-widget.ui-state-default.ui-corner-all {
            &.ui-column-filter {
                background-image: linear-gradient(to bottom, $primaryColor, $primaryColor), linear-gradient(to bottom, $inputBorderColor, $inputBorderColor);
            }
        }
    }

    tbody {
        tr {
            td {
            	border-top: 1px solid $topBorderBodyDataTableColor !important;
            	border-bottom: 1px solid $bottomBorderOutsideDataTableColor !important;
                
                .ui-inputfield {
                    color: $uiInputFieldTdTextColor;
                }

                &:first-child {
                    border-left: 1px solid $leftBorderOutsideDataTableColor;
                }
                
                &:last-child {
                    border-right: 1px solid $rightBorderOutsideDataTableColor;
                }
            }
        }

        tr.ui-datatable-even {    
            .ui-editable-column.ui-state-highlight.ui-cell-editing {
                background-color: transparent;
            }
        }
    }

    .ui-datatable-scrollable-body {
        outline: transparent;
    }

    .ui-paginator-rpp-options {
        vertical-align: middle;
    }

    .ui-inputfield.ui-widget.ui-state-default.ui-corner-all.hasDatepicker {
        background-image: linear-gradient(to bottom, $primaryColor, $primaryColor), linear-gradient(to bottom, $inputBorderColor, $inputBorderColor) !important;
    }
}

.ui-datatable table tbody tr td span {
  color: $dataTableRowSpanColor !important;
}

.ui-datatable table tbody tr.ui-datatable-even {
  background-color: $dataTableRowBackgroundColorEven;
}

.ui-datatable table tbody tr.ui-datatable-odd,
.ui-datatable table tbody tr.ui-datatable-odd td {
  background-color: $dataTableRowBackgroundColorOdd;
}

.ui-state-default.ui-sortable-column {
    outline: transparent;
}

body .ui-datatable.ui-datatable-scrollable thead tr th {
  font-size: $largeFontSize;
}

@media (max-width: 640px) {
  .ui-datatable-reflow .ui-reflow-dropdown {
    font-size: $largeFontSize !important;
  }
}

/* Tree table */
.ui-treetable table thead tr th {
  color: $dataTableRowHeaderColor;
  background-color: $dataTableRowHeaderBgColor !important;
  border-bottom: 1px solid $topBorderOutsideTreeTableColor;
  border-top: 1px solid $bottomBorderOutsideTreeTableColor;
}

.ui-treetable-data tr:nth-child(odd) {
  background-color: $dataTableRowBackgroundColorEven;
}

.ui-treetable-data tr:nth-child(even) {
  background-color: $dataTableRowBackgroundColorOdd;
}

.ui-treetable table thead tr th {
  border-right: 1px solid $rightBorderOutsideTreeTableColor !important;
}

.ui-treetable table tbody tr td {
    border-right: 1px solid $rightBorderInsideTreeTableColor;
    border-bottom: 1px solid $bottomBoderBodyTreeTableColor !important;
}

.ui-treetable table tbody tr td:first-child,
.ui-treetable thead th:first-child {
  border-left: 1px solid $leftBorderOutsideTreeTableColor !important;
}

/* Tree node */
.ui-tree-container .ui-treenode-content {
  .ui-treenode-label.ui-state-highlight {
    background-color: transparent !important;
  }
  .ui-treenode-label.ui-treenode-outline {
    outline: 0 solid transparent !important;
  }
  .ui-chkbox.ui-widget.ui-selection {
    .ui-chkbox-icon.ui-icon.ui-icon-check, .ui-chkbox-icon.ui-icon.ui-icon-minus {
      color: $primaryLightestColor !important;
    }
  }
}


.ui-treenode.ui-treenode-parent.ui-treenode-selected,
.ui-treenode.ui-treenode-parent.ui-treenode-hasselected span.ui-treenode-content.ui-tree-selectable:first-child div.ui-chkbox.ui-widget.ui-selection,
li.ui-treenode.ui-treenode-selected .ui-chkbox.ui-widget.ui-selection,
li.ui-treenode.ui-treenode-unselected span.ui-treenode-content.ui-tree-selectable:first-child .ui-chkbox.ui-widget.ui-selection,
li.ui-treenode.ui-treenode-unselected span.ui-treenode-content.ui-tree-selectable:first-child .ui-chkbox.ui-widget.ui-selection {
  div.ui-chkbox-box.ui-widget.ui-state-default {
    border-color: $primaryColor;
    background-color: $primaryColor;
  }
}

li.ui-treenode.ui-treenode-unselected span.ui-treenode-content.ui-tree-selectable:first-child {
  .ui-chkbox.ui-widget.ui-selection .ui-chkbox-box.ui-widget.ui-state-default {
    border-color: $checkboxBorderColor !important;
    background-color: transparent !important;
  }
}

/* Dialog */
body {
    .ui-dialog {
        .ui-dialog-titlebar {
            border-bottom: 1px solid $lightGrey;
            padding: 8px 20px !important;

            .ui-dialog-title {
                padding-left: 2px;
                font-size: $bodyDialogTitleFontSize;
            }
        }
    }
}

body .ui-widget.ui-dialog .ui-dialog-content {
  font-size: $largeFontSize !important;
}

.icon-selection-dialog-selecting-icon .fa {
  font-size: 2rem;
}

body .ui-dialog .ui-dialog-titlebar {
  color: $uiDialogTitleBarTextColor;
}

/* Fieldset */
.ui-fieldset-content table {
  width: 100%;
}

.ui-fieldset-legend {
  padding: 0 10px !important;
}

.ui-fieldset-legend.ui-state-hover {
  background-color: $fieldSetLegendHoverColor;
}

.ui-fieldset-toggler:hover {
  background-color: $fieldsetToggerHoverBackgroundColor !important;
}

.ui-fieldset {
    .ui-fieldset-legend {
        color: $uiFiedsetLegendTextColor !important;

        .ui-fieldset-toggler {
            background-color: $fieldSetTogglerBackgroundColor !important;
            color: $uiFieldSetTogglerColor !important;
            width: 20px;
            height: 20px;
        }
    }
}

/* Tab */
.ui-tabs.ui-widget.ui-widget-content {
  > .ui-tabs-nav {
    > li {
      border-style: solid;
      border-width: 0 0 0 0;
    }
  }
  &.ui-tabs-top {
    > .ui-tabs-nav {
      > li {
        &.ui-state-active {
          border-width: 0 0 2px 0;
        }
      }
    }
  }
  &.ui-tabs-bottom {
    > .ui-tabs-nav {
      > li {
        &.ui-state-active {
          border-width: 2px 0 0 0;
        }
      }
    }
  }
  &.ui-tabs-left {
    > .ui-tabs-nav {
      > li {
        &.ui-state-active {
          border-width: 0 2px 0 0;
        }
      }
    }
  }
  &.ui-tabs-right {
    > .ui-tabs-nav {
      > li {
        &.ui-state-active {
          border-width: 0 0 0 2px;
        }
      }
    }
  }
}

/* Layout sidebar*/
.layout-wrapper .layout-sidebar,
.layout-main-mask {
  z-index: 1000 !important;
}

.layout-wrapper .layout-sidebar .layout-menu li > a {
  color: $sidebarMenuListItemLinkTextColor;
}

.layout-wrapper .layout-sidebar .layout-menu li > a i {
  font-size: 1.8rem;
  color: $sidebarMenuListItemIconColor;
}

.layout-wrapper .layout-sidebar .layout-menu li > a:hover i {
  color: $sidebarMenuListItemHoverIconColor;
}

.layout-wrapper .layout-sidebar .layout-menu>li.active-menuitem>a {
    background-color: $primaryLightestColor;
    color: $primaryTextColor;
    @include multi-shadow(0 4px 10px 0 rgba(0, 0, 0, 0.14), 0 5px 5px -5px rgba(60, 72, 88, 0.3), 0 5px 5px -5px rgba(60, 72, 88, 0.1));
}

.layout-wrapper .layout-sidebar {
    background-color: $paleGrey;
}

.layout-wrapper .layout-sidebar .layout-menu>li.active-menuitem>a i {
    color: $sidebarMenuListActiveIconColor;
}

.layout-wrapper .layout-sidebar .layout-menu {
  li {
    width : auto;
  }
}

.layout-wrapper .layout-sidebar .sidebar-logo {
    background-color: $paleGrey;
}

.layout-wrapper .layout-sidebar .sidebar-logo .sidebar-anchor {
    border-color: $white;
    background-color: $primaryColor;
}

.layout-wrapper-static .layout-sidebar .sidebar-logo .sidebar-anchor {
    background-color: $primaryColor;
    border-color: $primaryColor;
}

/*Layout topbar*/
.layout-wrapper .layout-topbar {
  z-index: 997 !important;
}

.layout-wrapper .layout-main .layout-topbar .menu-btn i {
      font-size: 2.4rem;
}

.layout-wrapper .layout-main .layout-topbar {
    background: $primaryLightestColor;
    box-shadow: none;
    padding-bottom: 0;
    height: 60px;
}

.layout-wrapper .layout-main .layout-content {
    padding: 60px 30px 0 30px;
    height: 100vh;
    overflow-x: hidden;
}

.topbar-menu li .ui-commandlink {
  font-size: $largeFontSize;
}

@media  screen and (max-height: 500px) {
  .layout-wrapper .layout-main .layout-content {
    height: 80vh !important;
  }
}

@media screen and (max-width: 40em) {
    .layout-wrapper .layout-main .layout-content {
        padding: 60px 0 0 0;
    }
}

@media (max-width: 1365px) {
    .layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu {
        display: inline;
    }
}

.layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li > ul {
    top: 54px !important;
    border-top: 3px solid $primaryColor !important;
}

.layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li > ul:before {
    border-bottom: 15px solid $primaryColor !important;
}

/* Panels */
body .ui-panelgrid tbody tr.ui-widget-content {
    border: none !important;
}

.ui-panel .ui-panel-content {
    padding: 8px !important;
}

/* Select one list box */
body .ui-selectonelistbox .ui-selectlistbox-item.ui-state-hover {
  color: $hoveredItemSelectOneListBoxTextColor;
}

/* Messages */
body .ui-messages .ui-messages-error-icon,
.ui-messages-info-icon,
.ui-messages-warn-icon,
.ui-messages-fatal-icon {
    margin-top: 2px !important;
    font-size: 2.4rem !important;
}

.ui-growl-item .ui-growl-message {
  .ui-growl-title {
    padding: 10px 0px 0px 0px !important;
  }
}

.message .message-header {
  font-size: $largeFontSize;
}

.message .message-container .message-detail {
  font-size: $smallFontSize;
}

.message .message-container {
  font-size: $largeFontSize;
}

.message .message-footer .ui-button {
  font-size: $smallFontSize;
}

body .md-inputfield .ui-message.ui-message-error {
  font-size: 1.1rem;
}

body .md-inputfield .ui-message.ui-message-error .ui-message-error-icon {
  font-size: 1.3rem;
}

body .ui-messages ul {
  display: block;
}

.ui-messages-info-summary {
  margin-left: 0px;
}

/* Buttons */
body .ui-button .ui-button-text {
  font-size: $largeFontSize;
}

.ui-widget.ui-button.ui-state-hover:not(.ui-spinner-button),
.ui-widget.ui-buttonset .ui-state-hover,
body .ui-buttonset .ui-state-active {
    background-color: $primaryLightGreen !important;
}

.ui-widget.ui-button {
    .ui-button-text {
        color: $primaryTextColor !important;
    }

    .ui-icon {
        color: $primaryTextColor !important;
    }

    ui-button-icon-left.ui-icon {
        color: $primaryTextColor !important;
    }
}

.ui-autocomplete {
    .ui-autocomplete-dropdown {
        min-width: 18px !important;
    }
}

body .ui-dialog .ui-dialog-footer .ui-button {
    background-color: $primaryColor;
}

.ui-inplace-content .ui-inplace-editor {
    .ui-button.ui-button-icon-only {
        .ui-icon {
           font-family: $iconFontFamily !important;
           font-size: $inplaceEditIconFontSize !important;
           margin-top: -9px !important;
        }
    }
}

.ui-widget.ui-datepicker-trigger.ui-button.ui-state-hover,
.ui-widget.ui-autocomplete-dropdown.ui-button.ui-state-hover,
.ui-widget.ui-datepicker-trigger.ui-button.ui-state-focus,
.ui-widget.ui-autocomplete-dropdown.ui-button.ui-state-focus {
  background-color: $autoCompleteDropdownFocusBackgroundColor !important;
}

.ui-inplace .ui-inplace-editor .ui-button.ui-inplace-save .ui-icon-check,
.ui-inplace .ui-inplace-editor .ui-button.ui-inplace-cancel .ui-icon-close {
  background: none repeat scroll 0 0 $uiInplaceBackgroundColor !important;
}

/* Inputs */
.ui-widget-content.ui-tabs-panel {
    padding: 7px !important;
}

.ui-selectonemenu {
  .ui-selectonemenu-trigger {
    .ui-icon.ui-icon-triangle-1-s {
        margin-top: 5px;
      }
    }
}

.ui-selectonemenu-trigger .ui-icon.ui-icon-triangle-1-s {
  position: absolute;
    right: 0;
}

body .ui-selectonemenu-panel .ui-selectonemenu-item.ui-state-hover {
  color: $hoveredItemSelectOneMenuTextColor;
}

body .ui-selectonemenu-panel .ui-state-highlight,
body .ui-autocomplete-panel .ui-state-highlight {
  background-color: $primaryLightGreen !important;
}

body .md-inputfield span.md-inputwrapper-focus ~ label, body .md-inputfield span.md-inputwrapper-filled ~ label {
    color: $primaryColor;
}

body .ui-inputfield {
  font-size: $largeFontSize;
  color: $uiInputFieldTextColor;
}

body .md-inputfield label:not(.ui-selectonemenu-label) {
  font-size: $largeFontSize !important;
}

body .md-inputfield input.ui-state-filled ~ label,
body .md-inputfield input:focus ~ label{
  font-size: $smallFontSize !important;
}

/* Select Checkbox Menu & Picklist */
body .ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-header .ui-selectcheckboxmenu-close.ui-state-hover {
  background: $selectCheckBoxCloseHoverColor !important;
}
.ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-filter-container .ui-icon-search,
.ui-picklist .ui-picklist-filter-container .ui-icon,
.ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger .ui-icon {
  color: $darkGrey;
  background: $checkboxMenuIconBackgroundColor;
}

.ui-selectcheckboxmenu-header .ui-selectcheckboxmenu-filter-container .ui-icon:before,
.ui-picklist .ui-picklist-filter-container .ui-icon:before {
 font-family: $iconFontFamily;
 font-size: $selectCheckboxMenuIconFontSize;
}

.ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger,
.ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger.ui-state-hover {
  background-color: $selectCheckboxMenuTriggerBackgroundColor;
}

body .ui-picklist li.ui-picklist-item.ui-state-hover {
  color: $hoveredPicklistItemTextColor;
}

/* Auto complete */
.ui-autocomplete-panel .ui-autocomplete-items.ui-autocomplete-table tr:hover {
  background: $hoverBgColor;
  color: $autoCompleteHoverColor;
}

.ui-autocomplete {
  .ui-autocomplete-dropdown {
    
    &.ui-button.ui-button-icon-only {
          top: 5px;
        }
    }
}

/* Inplace input */
.ui-inplace .ui-inplace-editor .ui-button.ui-inplace-save .ui-icon-check:before {
  font-family: $iconFontFamily;
}

.ui-inplace .ui-inplace-editor .ui-button.ui-inplace-cancel .ui-icon-close:before {
  font-family: $iconFontFamily;
}

/* Accordion */
.ui-accordion {
    .ui-accordion-header {

        &.ui-state-active,
        .ui-icon-triangle-1-e,
        .ui-icon-triangle-1-s {
            color: $primaryTextColor !important;
        }
    }
}

body .ui-accordion .ui-accordion-header {
  font-size: $largeFontSize !important;
}

/* Spinner */
.ui-spinner {
    .ui-spinner-input {
        padding-right: 30px !important;
    }

    .ui-spinner-button {
        min-width: auto;
    }
}

/* File upload */
@media (max-width: 1024px) {
  .ui-fileupload-files .ui-fileupload-row > div {
    display: block !important;
  }
}

/* Input switch */
body .ui-inputswitch.ui-inputswitch-checked .ui-inputswitch-handle {
  background-color: $white;
}