/*
 * Contains default styles, usually for single element selectors.
 * 
 * A Base style is applied to an element using an element selector, a
 * descendant selector, or a child selector, along with any pseudo classes.
 * It doesn’t include any class or ID selectors. It is defining the
 * default styling for how that element should look in all occurrences
 * on the page.
 * 
 * Example of base styles:
 * 
 * html, body, form { 
 *   margin: 0;
 *   padding: 0;
 * }
 * input[type=text] {
 *   border: 1px solid #999;
 * }
 * a {
 *   color: #039;
 * }
 * a:hover {
 *   color: #03C;
 * }
 *
 * Base styles include setting heading sizes, default link styles, default
 * font styles, and body backgrounds. There should be no need to use
 * !important in a Base style.
 *
 */
 

body {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
} 
 
/* Add action icon delegate, reserve, open, reset for task widget*/
@font-face {
  font-family: "true-minimalistic-icons";
  src:url("#{resource['true-minimalistic-icons:true-minimalistic-icons.eot']}");
  src:url("#{resource['true-minimalistic-icons:true-minimalistic-icons.eot']}?#iefix") format("embedded-opentype"),
    url("#{resource['true-minimalistic-icons:true-minimalistic-icons.woff']}") format("woff"),
    url("#{resource['true-minimalistic-icons:true-minimalistic-icons.ttf']}") format("truetype"),
    url("#{resource['true-minimalistic-icons:true-minimalistic-icons.svg']}#true-minimalistic-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "true-minimalistic-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="tmi-"]:before,
[class*=" tmi-"]:before {
  font-family: "true-minimalistic-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.tmi-box-arrow-left:before {
  content: "\e03c";
}
.tmi-box-arrow-right:before {
  content: "\e03d";
}
.tmi-box-arrow-toinside:before {
  content: "\e03e";
}
.tmi-chevorn-right:before {
  content: "\44";
}

.tmi-ellipsis-h:before,
.tmi-ellipsis-v:before {
  content: "\e00f";
}

.tmi-ellipsis-v {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

a.ui-widget:focus {
  text-decoration: none;
  outline: none;
}