/********************************** CHAT **********************************/
.chat-panel {
  background: black;
  position: fixed;
  top: 0;
  right: -600px;
  bottom: 0;
  transition: right .3s;
  display: flex;
  align-items: stretch;
  /* set it in front of top-layout */
  z-index: 1001;
}

.chat-panel.active {
  right: -300px;
}

.chat-panel.active.message-displayed {
  right: 0;
}

.chat-contact {
  width: 300px;
}

.chat-contact-header {
  height: 60px;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}

.chat-contact-header-action {
  color: #b2b2b2;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  transition: background-color .3s ease-out;
}

.chat-contact-header-action:before {
  content: '';
  dipslay: block;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
  background: hsl(120, 80%, 80%);
  transition: left .3s ease-out, right .3s ease-out;
}

.chat-contact-header-action.active, .chat-contact-header-action:hover {
  color: white;
}

.chat-contact-header-action.active:before, .chat-contact-header-action:hover:before {
  left: 0;
  right: 0;
}

.chat-contact-content-filter>input[type="text"] {
  width: 280px;
}

.chat-contact-content-contact-list {
  overflow-y: auto;
}

.contact-card {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 1s;
}

.contact-card.is-offline {
  opacity: .3;
}

.contact-card:hover, .contact-card.active {
  background: grey;
}

.contact-card-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white;
  font-size: 25px;
  color: #b2b2b2;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.contact-card-icon:after, .contact-card-icon[unread-message='']:after {
  content: none;
}

.contact-card-icon[unread-message]:after {
  content: attr(unread-message);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #FF6D6E;
  position: absolute;
  top: -5px;
  right: -5px;
  text-align: center;
  font-size: .5em;
  color: white;
}

.contact-card-name {
  margin: 16px;
  flex-grow: 1;
  color: white;
}

.contact-card-status {
  align-items: center;
  justify-content: center;
  stroke: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: hsl(120, 80%, 80%);
  transition: background-color .3s;
}

.contact-card-status.is-offline {
  background: #b2b2b2;
}

.message-list {
  width: 300px;
  height: 100%;
  background: white;
}

.message-list-form {
  height: 100%;
}

.message-list-header {
  height: 60px;
  background: #838383;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 0 10px;
}

.message-list-header-close {
  position: relative;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.message-list-header-close:before {
  transform: rotate(45deg);
}

.message-list-header-close:after {
  transform: rotate(135deg);
}

.message-list-header-close:before, .message-list-header-close:after {
  content: '';
  width: 14px;
  height: 4px;
  display: block;
  /* set its position center */
  position: absolute;
  top: 11px;
  left: 5px;
  border-radius: 30%;
  background: #b2b2b2;
  transition: background-color .65s;
}

.message-list-header-close:hover:before, .message-list-header-close:hover:after {
  background: #9b9b9b;
}

.message-list-content {
  height: calc(100% - 60px);
}

.message-card-list {
  height: calc(100% - 220px);
  padding: 0 30px;
  overflow-y: auto;
}

.message-list-content-send {
  height: 220px;
}

.message-list-content-send>form {
  height: 100%;
}

.message-list-content-send-input {
  width: 280px;
  /* override Primefaces/Modena rules */
  height: calc(100% - 63px) !important;
}

.message-list-content-send-button {
  width: 294px;
  height: 38px;
  margin: 3px;
}

.message-card {
  margin: 3px 0;
  position: relative;
  border-radius: 10px;
}

.message-card>p {
  display: inline-block;
  padding: 10px;
  margin: 0;
  border-radius: 10px;
  word-wrap: break-word;
  max-width: 170px;
}

.message-card.received {
  text-align: left;
  border-bottom-left-radius: 0;
}

.message-card.sent {
  text-align: right;
  border-bottom-right-radius: 0;
}

.message-card.received>p {
  background-color: #D2EEF9;
  border-bottom-left-radius: 0;
}

.message-card.sent>p {
  background-color: rgb(216, 235, 215);
  border-bottom-right-radius: 0;
  text-align: left;
}

.message-card.received>p:before {
  content: '';
  width: 0;
  display: block;
  border-width: 0 0 13px 20px;
  border-style: solid;
  border-color: #D2EEF9 transparent;
  position: absolute;
  bottom: 0;
  left: -20px;
}

.message-card.sent>p:before {
  content: '';
  width: 0;
  display: block;
  border-width: 0px 20px 13px 0px;
  border-style: solid;
  border-color: rgb(216, 235, 215) transparent;
  position: absolute;
  bottom: 0;
  right: -20px
}

/*Need to add "data-badge" attribute to element*/
.notification-badge {
  position: relative;
  line-height: 30px;
  font-size: 20px !important;
}

.notification-badge[data-badge]:after {
  position: absolute;
  content: attr(data-badge);
  top: -10px;
  right: -10px;
  line-height: 20px;
  border-radius: 50%;
  min-width: 20px;
  height: 20px;
  text-align: center;
  font-size: 0.7em;
  background-color: rgb(255, 109, 110);
  color: white;
}

.notification-badge:after, .notification-badge[data-badge='']:after {
  content: none;
}

.notification-badge.mod-chat-menu:after {
  top: 0;
  right: 0;
}
/********************************** END CHAT **********************************/