.document-table-component .align-center-column {
  text-align: center;
}

.document-table-component .margin-top-5 {
  margin-top: 5px;
}

.document-table-component .margin-top-10 {
  margin-top: 10px;
}

.document-table-component .upload-container {
  margin-top: 10px;
  padding-right: 0 !important;
}

.document-table-component .upload-container > * {
  float: right;
}

.document-table-component .upload-container .upload-button {
  padding: 0 !important;
}

.document-table-component .upload-container .type-selection, .document-table-component .upload-container .type-selection-label {
  margin-right: 5px;
}

.document-table-component .upload-container .ui-widget.ui-selectonemenu,
.document-table-component .upload-container .ui-widget.ui-outputlabel {
  margin-top: 5px;
}

.document-table-component .upload-container .ui-widget.ui-fileupload {
  margin-top: 0;
  margin-left: 10px;
}

.document-table-component .upload-container .ui-widget.ui-fileupload .ui-fileupload-buttonbar {
  padding: 0;
  background-color: transparent !important;
  border: none !important;
}

.document-table-component .upload-container .ui-widget.ui-fileupload .ui-fileupload-buttonbar .ui-widget.ui-button {
  float: right !important;
  margin-right: 0;
}

.document-table-component .upload-container .ui-widget.ui-fileupload .ui-fileupload-content {
  border: none;
  padding-right: 0;
  padding-bottom: 0;
}

.document-table-component .upload-container .ui-widget.ui-fileupload .ui-fileupload-content .ui-fileupload-messages {
  margin-top: 30px;
}
