/*
 * Contains styles divide the page into sections, usually holding modules together.
 *
 * From a layout perspective, all we care about is how each item relates
 * to each other. We don’t care, necessarily, about the design of
 * the modules themselves nor do we want to have to worry about the
 * context that this layout sits within.
 *
 * Example of layout styles:
 *
 * #article {
 *   width: 80%;
 *   float: left;
 * }
 * #side-bar {
 *   width: 20%;
 *   float: right;
 * }
 * .l-fixed #article {
 *   width: 600px;
 * }
 * .l-fixed #side-bar {
 *   width: 200px;
 * }
 *
 * Naming rules: use an l- prefix. This helps easily identify
 * the purpose of these styles and separate them from Modules or States.
 *
 */
