/*
 * Modules are the reusable, modular parts of our design. They are
 * the call-outs, the side-bar sections, the product lists and so on.
 *
 * When defining the rule set for a module, avoid using IDs and element
 * selectors, sticking only to class names. A module will likely
 * contain a number of elements and there is likely to be a desire to
 * use descendant or child selectors to target those elements.
 * 
 * Example of module rules:
 *
 * .pod {
 *   width: 100%;
 * }
 * .pod input[type=text] {
 *   width: 50%;
 * }
 * .pod-constrained input[type=text] {
 *   width: 100%;
 * }
 * .pod-callout {
 *   width: 200px;
 * }
 * .pod-callout input[type=text] {
 *   width: 180px;
 * }
 *
 */
.widget a:hover {
  border-bottom: 1px solid;
}

.widget-header {
  margin: 0 0 25px;
  border-bottom: 1px solid #E0E0E0;
  display: flex;
  color: white;
}

.widget-header-main {
  flex-grow: 1;
}

.widget-header-sub {
  padding-bottom: 5px;
}

.widget-header-main-title {
  display: inline-block;
  font-size: 1.6em;
  margin-bottom: 5px;
}

.widget-header-main-menu {
  margin: 0;
  padding: 5px 0;
}

.widget-header-main-menu .u-underline-from-center:before {
  height: 2px;
}

.widget-header-main-menu li {
  display: inline-block;
  font-size: .7em;
  margin-right: 10px;
  padding: 2px 0;
}

.widget-header-main-menu li a:hover {
  border-bottom: none;
}

.widget-header-main-menu li.is-selected:before {
  left: 0;
  right: 0;
}

.widget-content {
  
}

.widget-content-search {
  display: flex;
  flex-direction: row-reverse;
}

.widget-content-list {
  margin-top: 10px;
}

.widget-content-list-item {
  margin-top: 5px;
  background: rgba(255, 255, 255, .2);
}

.widget-content-list-item.mod-expanded {
  background: white;
  color: #546e7a;
}

.widget-content-list-item.mod-expanded a {
  color: #546e7a !important;
}

.widget-content-scroll-button {
  margin-top: 10px;
  min-height: 30px;
  text-align: center;
}

.widget-content-scroll-button>label {
  cursor: pointer;
  font-size: 1.5em;
}

/* override perfect scroll-bar styles */
.widget .ps-container.ps-active-y>.ps-scrollbar-y-rail {
  z-index: auto !important;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: stretch;
}

.grid-item {
  flex: 1 0 20px;
  border: 1px solid #e0e0e0;
  margin: 5px;
  padding: 20px 20px 10px;
  font-size: .8em;
}

.grid-item-header {
  font-size: 1.7em;
  font-weight: normal;
  padding: 0;
  margin: 0 0 20px;
  border-bottom: 1px solid #e0e0e0;
}

.grid-item-content {
  margin-top: 10px;
}

.grid-item-content-list {
  height: 205px;
  overflow: auto;
}

.grid-item-content-list-item {
  margin: 10px 0;
  display: flex;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px dashed #e0e0e0;
}

.grid-item-content-list-item.mod-has-action {
  justify-content: space-between;
}

.grid-item-content-list-item-left {
  width: 35%;
  text-align: right;
}

.grid-item-content-list-item-right {
  margin-left: 15px;
  font-weight: bold;
}

.grid-item-content-list-item.note {
  flex-direction: column;
  align-items: flex-start;
}

.grid-item-content-list-item .author {
  display: inline;
  font-weight: bold;
}

.grid-item-footer {
  text-align: center;
}

.grid-item-footer-icon {
  margin-right: 5px;
}

/********************************** START FILTER WIDGET **********************************/
.filter-widget {
  position: relative;
  display: flex;
}

.filter-widget-input {
  flex-grow: 1;
  padding-right: 30px !important; /* override PrimeFaces styles */
}

.filter-widget-icon {
  color: #A9B6BC;
  position: absolute;
  right: 8px;
  bottom: 12px;
}

/********************************** END FILTER WIDGET **********************************/

/********************************** START CASE ITEM **********************************/
.case-widget-empty-message {
  margin-top: 40px;
  text-align: center;
}

.case.expanded-mode {
  color: #546e7a;
  background-color: white;
  cursor: default;
}

.case-header {
  font-size: .7em;
  display: flex;
  padding: 10px;
}

.case-header-data {
  flex-grow: 1;
  cursor: pointer;
  position: relative;
}

.case-header .case-header-data:hover {
  border-bottom: none;
}

.case-header-data:before {
  content: '#{ivy.cms.co("/Dialogs/ch/ivy/addon/portalkit/component/CaseWidget/showDetailsHint")}';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  text-align: center;
  transition: opacity .65s;
}

.case-header-data:hover:before {
  opacity: .7;
}

.widget-content-list-item.mod-expanded .case-header-data:hover:before {
  content: none;
}

.case-header-data-middle {
  font-size: 2.3em;
  padding: 5px 0;
}

.case-header-action {
  display: flex;
  align-items: center;
}

.case-header-action-list-item-icon {
  font-size: 2.5em;
  text-align: center;
}

.case-body {
  border-top: solid 1px #E0E0E0;
  padding: 10px 5px;
  background: white;
}

.case-details-header-container {
  display: table;
  width: 100%;
}

.case-details-header-data {
  width: 15%;
}

.case-details-header-notes {
  width: 30%;
}

.case-details-header-histories {
  width: 30%;
}

.case-details-header-documents {
  width: 25%;
}

.case-details {
  width: 100%;
  display: table;
  vertical-align: middle;
  word-break: break-all;
}

.case-details-header {
  padding-left: 20px;
  margin-top: 20px;
  display: table-cell;
  font-size: 19px;
}

.case-details-data {
  display: table-cell;
  width: 15%;
  padding: 20px;
  vertical-align: top;
  font-size: .7em;
  border-right: 1px solid #e0e0e0;
}

.case-details-data td.first-column {
  padding-right: 10px;
  text-align: right;
  word-break: normal;
  white-space: nowrap;
}

.case-details-data td.second-column {
  text-align: left;
  font-weight: bold;
}

.case-details-related-tasks {
  display: table-cell;
  width: 30%;
  padding: 30px;
  vertical-align: top;
  font-size: .7em;
  border-right: 1px solid #e0e0e0;
}

.case-details-history {
  display: table-cell;
  width: 30%;
  padding: 20px;
  vertical-align: top;
  font-size: .7em;
  border-right: 1px solid #e0e0e0;
}

.case-details-document {
  display: table-cell;
  width: 25%;
  padding: 20px 0 20px 20px;
  vertical-align: top;
}

.case-details-document-scrollpanel.ui-scrollpanel {
  padding: 10px !important;
}

.case-details-document-download {
  margin: 5px;
}

.case-details-document-scrollpanel {
  height: 200px;
  font-size: .7em;
}

.case-details-document-add {
  display: block;
  text-align: center;
  margin-top: 10px;
}

.case-details-document-add-link {
  font-size: 14px;
}

.case-details-document-add-link-icon {
  margin-right: 5px;
}

.case.expanded-mode a {
  color: #546e7a !important;
}

.case.expanded-mode .ui-outputlabel {
  color: #546e7a;
}

.related-task-list-item-status {
  margin-right: 5px;
  display: block;
}

.history-note-content {
  margin-right: 5px;
  display: block;
}

/********************************** END CASE ITEM **********************************/
.process-start-list {
  margin: 10px 0 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.process-start-list a:hover {
  border-bottom: none;
}

.process-start-list-item-wrapper {
  min-width: 300px;
  margin-right: 5px;
  flex: 0 1 20em;
}

.process-start-list-item {
  padding: 10px;
  line-height: 50px;
  margin-top: 5px;
  background-color: rgba(255, 255, 255, 0.2);
}

.process-start-list-item.highlighted-item {
  background-color: #fff;
  color: #546e7a;  
}

.process-start-list-item:before, .process-start-list-item:after {
  content: "";
  display: table;
}

.process-start-list-item:after {
  clear: both;
}

.process-start-list-item-icon {
  width: 20%;
  float: left;
  text-align: center;
  font-size: 2.2em;
}

.process-start-list-item-name {
  width: 70%;
  float: left;
  text-align: left;
  font-family: "robotolight";
  font-size: .9em;
}

.process-start-list-item-name-text {
  display: block;
}

.process-start-list-item-action {
  width: 10%;
  float: left;
  text-align: center;
  font-size: 14px;
}

.process-start-list-item {
  color: white;
}

.new-process-command-buttons {
  text-align: right;
}

.autocomplete-process-description-tooltip {
  width: 150px;
}

.ui-autocomplete-panel .ui-autocomplete-table.ui-autocomplete-items {
  box-sizing: border-box;
}

.delegate-dialog-activator-panel {
  margin-top: 5px;
}

.delegate-dialog-type-selection {
  margin-right: 10px;
}

/* NEED TO BE REFACTORED */
.new-process-dialog {
  width: 600px !important;
}

.field-group {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  padding: 4px 0 4px 145px;
  position: relative;
  margin: 1px 0;
  width: 100%;
}

.field-group label {
  float: left;
  margin: 10px 0 0 -145px;
  position: relative;
  text-align: right;
  width: 130px;
  word-wrap: break-word;
}

.field-group label span.ui-outputlabel-rfi {
  margin-right: -8px;
}

.field-group input, .field-group .autocomplete-group {
  width: 90%;
}

.widget a.border-bottom-none {
  border-bottom: none;
}

.widget .action-separator {
  margin-left: 4px;
  margin-right: 5px
}

.widget .process-button-position {
  margin-top: 10px;
  margin-button: 20px;
}

.process-action-button {
  font-size: 14px;
  text-align: center;
}

.menu-toolbar:after {
  clear: none !important;
}

/* END NEED TO BE REFACTORED */

/********************************** TASK WIDGET **********************************/
.task-widget-header-container {
  padding: 0 10px;
}

.task-widget-header-content {
  display: flex;
}

.task-view-container {
  padding: 0 10px 5px;
  position: relative;
  overflow: hidden;
}

.task-view-container .Card {
  padding: 10px;
}

.task-start-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-start-list-item {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 19px;
}

.task-start-list-item-position {
  margin-top: 5px;
  overflow: hidden;
}

.task-start-action {
  font-size: 1.3em !important;
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.task-start-action a {
  text-align: center;
}

.task-start-action a:hover {
  border-bottom: none;
}

.task-start-action-before {
  border-left: 2px solid;
  line-height: 10px;
}

.task-start-action li {
  display: inline-block;
  margin-left: 10px;
  width: 75px;
  overflow: hidden;
  text-align: center;
}

.task-start-action label {
  font-size: .4em;
}

.task-start-action .icon-compact-mode {
  font-size: 14px;
}

.task-start-action .fa {
  display: block;
}

.task-start-priority {
  width: 50px;
  margin-right: 10px;
  font-size: .7em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .7em;
}

.task-start-info-header {
  font-size: .6em;
}

.task-start-info-content {
  margin: .4em 0;
  font-weight: bold;
}

.task-start-info-footer {
  font-size: .6em;
}

.task-start-link {
  flex: 20;
}

.task-start-button {
  position: relative;
}

.mod-expanded-mode .task-start-button:before {
  content: '#{ivy.cms.co("/ch.ivy.addon.portalkit.ui.jsf/components/taskStart/showDetailsHint")}';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: .6em;
  opacity: 0;
  transition: opacity .65s;
}

.mod-expanded-mode .task-start-button:hover:before {
  opacity: .7;
}

.mod-expanded-mode.show-task-details-mode .task-start-button:hover:before {
  content: none;
}

.task-start-link.show-task-details-mode {
  flex: 5;
}

.task-start-list-item.show-task-details-mode {
  color: #546e7a;
  background-color: white;
}

.task-start-list-item.show-task-details-mode a {
  color: #546e7a !important;
}

.task-start-list-item.show-task-details-mode .ui-outputlabel {
  color: #546e7a;
}

.switch-mode-command-icon {
  font-size: 9px;
  padding-right: 2px;
}

.mod-compact-mode {
  flex: 1;
}

.task-command {
  width: 80px;
}

.task-start-link a {
  cursor: pointer;
  display: flex;
}

.task-start-link a:hover {
  border-bottom: none;
}

.task-details-header-container {
  display: table;
  width: 100%;
}

.task-details-header {
  padding-left: 20px;
  margin-top: 20px;
  display: table-cell;
  font-size: 19px;
}

.task-details-header-description {
  width: 20%;
}

.task-details-header-info {
  width: 20%;
}

.task-details-header-notes {
  width: 30%;
}

.task-details-header-documents {
  width: 30%;
}

.task-details-content {
  vertical-align: top;
}

.note-content-textarea {
  width: calc(100% - 20px);
}

.border-document {
  border: 1px solid #E0E0E0;
  height: 200px;
}

.document-upload {
  border: 2px dashed #cccccc;
  border-radius: 8px;
  padding: 5px;
}

#task-note .scroll-panel, #task-document .scroll-panel, #task-description .scroll-panel {
  height: 200px;
  padding: 10px !important;
}

/********************************** END TASK WIDGET **********************************/

/********************************** TASK DETAIL **********************************/
.task-details {
  width: 100%;
  display: table;
  vertical-align: middle;
  word-break: break-all;
}

.task-details-description {
  display: table-cell;
  width: 20%;
  padding: 20px;
  text-align: justify;
  vertical-align: top;
  font-size: .6em;
  border-right: 1px solid #e0e0e0;
}

.task-details-data {
  display: table-cell;
  width: 20%;
  padding: 20px;
  vertical-align: top;
  font-size: .6em;
  border-right: 1px solid #e0e0e0;
}

.task-details-data-1st-column {
  padding-right: 10px;
  text-align: right;
  word-break: normal;
  white-space: nowrap;
}

.task-details-data-2nd-column {
  text-align: left;
  font-weight: bold;
}

.task-details-data-priority-icon {
  font-size: .7em;
  padding: 0 5px;
}

.task-details-note {
  display: table-cell;
  width: 30%;
  padding: 20px;
  vertical-align: top;
  border-right: 1px solid #e0e0e0;
}

.task-details-note-scrollpanel {
  height: 200px;
  font-size: .6em;
}

.add-new-note-command-buttons {
  margin-top: 10px;
  text-align: right;
}

.proceed-task-delegate-command-buttons {
  text-align: right;
  margin-top: 5px;
}

/* override Primefaces style */
.task-details-note-scrollpanel.ui-scrollpanel {
  padding: 10px !important;
}

.task-details-note-add {
  display: block;
  text-align: center;
  margin-top: 10px;
}

.task-details-note-add-link {
  font-size: 14px;
}

.task-details-note-add-link-icon {
  margin-right: 5px;
}

.task-details-document {
  display: table-cell;
  width: 30%;
  padding: 20px;
  vertical-align: top;
}

.task-details-document-scrollpanel {
  height: 200px;
  font-size: .6em;
}

/* override Primefaces style */
.task-details-document-scrollpanel.ui-scrollpanel {
  padding: 10px !important;
}

.task-details-document-download {
  margin: 5px;
}

.task-details-document-download-icon {
  margin-right: 5px;
}

.task-details-document-add {
  display: block;
  text-align: center;
  margin-top: 10px;
}

.task-details-document-add-link {
  font-size: 14px;
}

.task-details-document-add-link-icon {
  margin-right: 5px;
}
/********************************** END TASK DETAIL **********************************/
.ui-panelmenu .ui-menu-parent .ui-menuitem-link-hasicon {
  padding-left: 2.8em !important;
}

/*Portal Global Ajax Status */
.ajax-status-position {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  top: 0;
}

.ajax-status-color {
  background-color: rgba(0, 0, 0, 0.46);
  color: white;
}

.ajax-status span {
  margin: auto;
  height: 0;
}

.dropdown-icon {
  margin-right: 8px;
}

.dropdown-icon:after {
  border: 5px solid transparent;
  border-top-color: #546E7A;
  content: "";
  position: absolute;
  margin-left: 5px;
  margin-top: 0.7em;
}

/* Override Primefaces styles */
.add-new-note-save-command.ui-button, .document-deletion-command.ui-button {
  margin-right: 5px;
}

.icon-selection-icon-text {
  padding-right: 5px;
}

.icon-selection-icon-text:empty {
  padding-right: 0;
}

.icon-selection-dialog-selecting-icon {
  display: inline-flex;
  width: 30px;
  height: 30px;
}

.icon-selection-dialog-selecting-icon .fa {
  margin: auto;
}

a[id*=application-menu-item]>span.ui-menuitem-text {
  min-width: 5ex !important;
}

.popover-content a:hover {
  text-decoration: underline !important;
}

/********************************** CASE VIEW **********************************/
.case-view-title {
  color: white;
}

.case-view-title-icon {
  margin-right: 5px;
}

.case-view-table .fa:before {
  font-family: 'FontAwesome';
}

.case-view-table-column {
  width: 8%;
}

.contact-popover-container td {
  color: #546e7a;
}
/********************************** END CASE VIEW **********************************/

/********************************** PROCESS CHAIN **********************************/
.process-chain {
  position: relative;
  float: right;
  top: 20px;
  right: 20px;
  clear: both;
}

.process-chain .process-step {
  width: 80px;
  height: 50px;
  display: inline-block;
  margin: -2px;
  text-align: center;
  font-size: 11px;
}

.process-chain .process-step[type="current"] {
  background-image: url("#{resource['images/processChain/processChain_current.png']}");
  font-size: 13px;
  font-weight: bold;
}

.process-chain .process-step[type="current"] .step-title {
  position: relative;
  margin-top: -11px !important;
  float: left;
  width: 100%;
  text-align: center;
}

.process-chain .process-step[type="current"]:first-child {
  background-image: url("#{resource['images/processChain/processChain_current_first.png']}");
}

.process-chain .process-step[type="current"]:last-child {
  background-image: url("#{resource['images/processChain/processChain_current_last.png']}");
}

.process-chain .process-step[type="visited"] {
  background-image: url("#{resource['images/processChain/processChain_visited2.png']}");
}

.process-chain .process-step[type="visited"] .step-title {
  position: relative;
  top: -5px;
  float: left;
  width: 100%;
  text-align: center;
}

.process-chain .process-step[type="visited"]:first-child {
  background-image: url("#{resource['images/processChain/processChain_visited_first2.png']}");
}

.process-chain .process-step[type="visited"]:last-child {
  background-image: url("#{resource['images/processChain/processChain_visited_last.png']}");
}

.process-chain .process-step[type="waiting"] {
  background-image: url("#{resource['images/processChain/processChain_waiting.png']}");
}

.process-chain .process-step[type="waiting"] .step-title {
  position: relative;
  top: -5px;
  float: left;
  width: 100%;
  text-align: center;
}

.process-chain .process-step[type="waiting"]:last-child {
  background-image: url("#{resource['images/processChain/processChain_waiting_last.png']}") !important;
}
/********************************** END PROCESS CHAIN **********************************/

/********************************** ALL TASKS **********************************/
.task-list-header {
  margin-left: 5px;
}
/********************************** END ALL TASKS **********************************/

/********************************** TASK TABLE **********************************/
.task-column {
  border-width: 0px !important;
}

.task-header thead {
  display: none;
}
/********************************** END TASK TABLE **********************************/

/********************************** UNIVERSAL CASE LIST **********************************/
.filter-table-column {
  width: 100px;
}

.filter-field-group span {
  margin-right: 15px;
}

/********************************** END UNIVERSAL CASE LIST **********************************/

/********************************** ADMIN SETTING **********************************/
.admin-settings-no-permission-message {
  color: #E53935;
}

.delete-server-warning-buttons {
  text-align: right;
  padding: 10px;
}

.edit-server-link {
  padding: 0 5px;
}

.delete-server-link {
  padding: 0 5px;
}

.server-table-action-column, .server-table-ntlm-column, .application-table-is-online-column,
  .application-table-type-column, .application-table-action-column, .settings-table-action-buttons {
  text-align: center;
}

.action-column-icon-button {
  margin: 0 5px;
}

.server-tab-action-buttons, .application-tab-action-buttons, .setting-tab-action-buttons, .server-dialog-action-buttons,
  .application-dialog-action-buttons, .global-settings-dialog-action-buttons, .application-selection-action-buttons,
  .application-display-name-action-buttons {
  text-align: right;
  margin: 5px 0;
}

.dialog-form-checkbox {
  float: left;
}

.application-dialog-add-application-container {
  width: 100%;
}

.admin-settings-form-input {
  width: 90%;
}

.admin-settings-form-input-label {
  float: right;
}

/********************************** ABSENCES AND DEPUTY **********************************/
.absences-view-command-buttons {
  float: right;
}

.absence-in-the-past-command {
  float: left;
  margin-top: 5px;
}

.absence-close-command {
  float: right;
  margin-top: 10px;
}

.absence-reset-float {
  clear: both;
  margin-bottom: 10px;
}

.absence-date-field {
  text-align: center;
}

.absences-table-action-column {
  text-align: center;
}

.new-absence-container td {
  border-style: hidden !important;
}

.new-absence-label {
  text-align: right;
}

.new-absence-till-label {
  margin: 0 10px;
}

.absences-table-action-column-icon-button {
  margin: 0 10px;
}

.add-absences-dialog-input-comment {
  width: calc(100% - 20px);
}

.substitution-user-selection-container {
  margin-bottom: 10px;
}

.deputy-data-section {
  width: 900px;
}

.substitude-exception-dialog {
  width: 50%;
}

.substitute-container {
  height: 350px;
  overflow: auto;
}

.substitude-role {
  width: 40%;
}

.substitude-deputy {
  width: 30%;
}

.substitude-comment {
  width: 30%;
}

.substitude-comment input {
  width: calc(100% - 20px);
}

/* Override Primefaces table style */
.absence-table table {
  box-sizing: border-box !important;
}

/********************************** EMAIL SETTINGS **********************************/
.email-settings-command-buttons, .email-setting-exception-dialog-buttons {
  text-align: right;
  padding: 10px;
}

.email-setting-exception-dialog {
  width: 50%;
}

/********************************** LANGUAGE SETTINGS **********************************/
.language-settings-command-buttons, .language-settings-exception-dialog-buttons {
  text-align: right;
  padding: 10px;
}

.language-settings-exception-dialog {
  width: 70%;
}

/********************************** UNIVERSAL TASK LIST **********************************/
.universal-tasks-header {
  border-bottom: 1px solid #dedede;
}

.universal-task-id-header {
  width: 80px;
}

.universal-task-priority-header {
  width: 80px;
}

.universal-task-state-header {
  width: 120px;
}

.universal-task-deadline-header {
  width: 100px;
}

.universal-task-responsible-header {
  width: 180px;
}

.universal-task-actions-header {
  width: 240px;
}
/********************************** END UNIVERSAL TASK LIST **********************************/

/********************************** CASE NOTE **********************************/
.case-note-view-container {
  width: 300px;
  height: 250px;
}

.case-note-message {
  white-space: pre-wrap;
}
/********************************** END CASE NOTE **********************************/

/********************************** CASE STATUS INFORMATION **********************************/
.case-status-proceed-remove-delay-command {
  margin-left: 90px;
}

.case-status-general-information {
  margin: 30px 0;
}

.case-status-label-column {
  text-align: right;
  width: 150px;
}

.case-status-current-task-icon {
  margin-right: 5px;
}

/********************************** END CASE STATUS INFORMATION **********************************/

/********************************** PROCESS STARTS **********************************/
.process-start-container {
  float: left;
  width: auto;
  border: none;
}

.process-starts-global-filter {
  width: 95%;
}

.process-starts-link {
  font-size: 8pt;
}

.process-starts-icon {
  font-size: 11pt;
}
/********************************** END PROCESS START **********************************/

/********************************** STATISTIC AVERAGE **********************************/
.statistic-average-case-chart {
  height: 600px;
  width: 100%;
}

.statistic-average-button-container {
  margin: 0px 52px;
}
/********************************** END STATISTIC AVERAGE **********************************/

/********************************** STATISTIC DETAILS **********************************/
.statistic-details-description {
  margin-left: 5px;
}

.statistic-details-case-general-information {
  margin: 30px 0px 20px 50px;
}

.statistic-details-task-chart {
  height: 500px;
  width: 100%;
}

.statistic-details-button-container {
  margin: 0px 52px;
}
/********************************** END STATISTIC DETAILS **********************************/

/********************************** TASK INFORMATION **********************************/
.task-icon {
  margin-right: 5px;
}

.note-input {
  margin-left: -5px;
}
/********************************** END TASK INFORMATION **********************************/

/********************************** AWESOME ICON SELECTION **********************************/
.select-awesome-icon-button {
  margin-left: 10px;
}

/********************************** CHAT **********************************/
.chat-panel {
  background: black;
  position: fixed;
  top: 0;
  right: -600px;
  bottom: 0;
  transition: right .3s;
  display: flex;
  align-items: stretch;
  /* set it in front of top-layout */
  z-index: 1001;
}

.chat-panel.active {
  right: -300px;
}

.chat-panel.active.message-displayed {
  right: 0;
}

.chat-contact {
  width: 300px;
}

.chat-contact-header {
  height: 60px;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}

.chat-contact-header-action {
  color: #b2b2b2;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  transition: background-color .3s ease-out;
}

.chat-contact-header-action:before {
  content: '';
  dipslay: block;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
  background: hsl(120, 80%, 80%);
  transition: left .3s ease-out, right .3s ease-out;
}

.chat-contact-header-action.active, .chat-contact-header-action:hover {
  color: white;
}

.chat-contact-header-action.active:before, .chat-contact-header-action:hover:before {
  left: 0;
  right: 0;
}

.chat-contact-content-filter>input[type="text"] {
  width: 280px;
}

.chat-contact-content-contact-list {
  overflow-y: auto;
}

.contact-card {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 1s;
}

.contact-card.is-offline {
  opacity: .3;
}

.contact-card:hover, .contact-card.active {
  background: grey;
}

.contact-card-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white;
  font-size: 25px;
  color: #b2b2b2;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.contact-card-icon:after, .contact-card-icon[unread-message='']:after {
  content: none;
}

.contact-card-icon[unread-message]:after {
  content: attr(unread-message);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #FF6D6E;
  position: absolute;
  top: -5px;
  right: -5px;
  text-align: center;
  font-size: .5em;
  color: white;
}

.contact-card-name {
  margin: 16px;
  flex-grow: 1;
  color: white;
}

.contact-card-status {
  align-items: center;
  justify-content: center;
  stroke: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: hsl(120, 80%, 80%);
  transition: background-color .3s;
}

.contact-card-status.is-offline {
  background: #b2b2b2;
}

.message-list {
  width: 300px;
  height: 100%;
  background: white;
}

.message-list-form {
  height: 100%;
}

.message-list-header {
  height: 60px;
  background: #838383;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 0 10px;
}

.message-list-header-close {
  position: relative;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.message-list-header-close:before {
  transform: rotate(45deg);
}

.message-list-header-close:after {
  transform: rotate(135deg);
}

.message-list-header-close:before, .message-list-header-close:after {
  content: '';
  width: 14px;
  height: 4px;
  display: block;
  /* set its position center */
  position: absolute;
  top: 11px;
  left: 5px;
  border-radius: 30%;
  background: #b2b2b2;
  transition: background-color .65s;
}

.message-list-header-close:hover:before, .message-list-header-close:hover:after {
  background: #9b9b9b;
}

.message-list-content {
  height: calc(100% - 60px);
}

.message-card-list {
  height: calc(100% - 220px);
  padding: 0 30px;
  overflow-y: auto;
}

.message-list-content-send {
  height: 220px;
}

.message-list-content-send>form {
  height: 100%;
}

.message-list-content-send-input {
  width: 280px;
  /* override Primefaces/Modena rules */
  height: calc(100% - 63px) !important;
}

.message-list-content-send-button {
  width: 294px;
  height: 38px;
  margin: 3px;
}

.message-card {
  margin: 3px 0;
  position: relative;
  border-radius: 10px;
}

.message-card>p {
  display: inline-block;
  padding: 10px;
  margin: 0;
  border-radius: 10px;
  word-wrap: break-word;
  max-width: 170px;
}

.message-card.received {
  text-align: left;
  border-bottom-left-radius: 0;
}

.message-card.sent {
  text-align: right;
  border-bottom-right-radius: 0;
}

.message-card.received>p {
  background-color: #D2EEF9;
  border-bottom-left-radius: 0;
}

.message-card.sent>p {
  background-color: rgb(216, 235, 215);
  border-bottom-right-radius: 0;
  text-align: left;
}

.message-card.received>p:before {
  content: '';
  width: 0;
  display: block;
  border-width: 0 0 13px 20px;
  border-style: solid;
  border-color: #D2EEF9 transparent;
  position: absolute;
  bottom: 0;
  left: -20px;
}

.message-card.sent>p:before {
  content: '';
  width: 0;
  display: block;
  border-width: 0px 20px 13px 0px;
  border-style: solid;
  border-color: rgb(216, 235, 215) transparent;
  position: absolute;
  bottom: 0;
  right: -20px
}

/*Need to add "data-badge" attribute to element*/
.notification-badge {
  position: relative;
}

.notification-badge[data-badge]:after {
  position: absolute;
  content: attr(data-badge);
  top: -10px;
  right: -10px;
  line-height: 20px;
  border-radius: 50%;
  min-width: 20px;
  height: 20px;
  text-align: center;
  font-size: 0.7em;
  background-color: rgb(255, 109, 110);
  color: white;
}

.notification-badge:after, .notification-badge[data-badge='']:after {
  content: none;
}

.notification-badge.mod-chat-menu:after {
  top: 0;
  right: 0;
}
/********************************** END CHAT **********************************/

/********************************** STATISTIC WIDGET **********************************/
.statistic-widget {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.statistic-widget-empty-message {
  margin-top: 40px;
}

.statistic-widget-empty-message.not-compact-mode {
  text-align: center;
}

.chart-height {
  height: 350px;
}

/* Override Primefaces style */
.jqplot-title {
  color: #fff;
}

.jqplot-target {
  font-size: 12px !important;
}

.compact-mode .jqplot-target {
  font-size: 12px !important;
  width: 320px;
}

.statistic-widget .jqplot-event-canvas {
  -webkit-box-shadow: 0px 1px 3px 0px rgba(43, 59, 93, 0.4);
  -moz-box-shadow: 0px 1px 3px 0px rgba(43, 59, 93, 0.4);
  box-shadow: 0px 1px 3px 0px rgba(43, 59, 93, 0.4);
}

.jqplot-data-label {
  color: #5f5f5f;
}

.jqplot-highlighter-tooltip {
  font-size: 1em;
  color: #1A1A1A;
}
/********************************** END STATISTIC WIDGET **********************************/

/********************************** START NOTIFICATION **********************************/
.notification-container {
  position: fixed;
  top: 60px;
  left: 25%;
  right: 25%;
  z-index: 999;
}

.notification {
  display: flex;
  flex: row;
  margin-top: -60px;
  animation: show-notification 15s;
}

@keyframes show-notification { 
  5% {
    margin-top: 0;
  }
  95% {
    margin-top : 0;
  }
}

.notification-content {
  flex-grow: 1;
  width: 430px;
  height: 60px;
  background: rgb(230, 113, 99);
  font-size: 1em;
  display: flex;
}

.notification-content-message {
  flex-grow: 1;
  color: white;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.notification-content-action {
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification-content-action-more-details {
  color: white;
  transition: color .65s;
}

.notification-content-action-more-details:hover {
  text-decoration: underline;
}

.notification-content-action-close {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
  border-radius: 15px;
}

.notification-content-action-close:before, .notification-content-action-close:after {
  content: '';
  display: block;
  width: 12px;
  height: 2px;
  background: white;
  position: absolute;
  top: 14px;
  left: 9px;
  transition: background-color .65s;
}

.notification-content-action-close:hover:before, .notification-content-action-close:hover:after {
  background: black;
}

.notification-content-action-close:before {
  transform: rotate(45deg);
}

.notification-content-action-close:after {
  transform: rotate(135deg);
}
/********************************** END NOTIFICATION **********************************/

/********************************** START EXCEPTION DIALOG **********************************/
.exception-handler-stacktrace {
  height: 400px;
  overflow-x: auto;
}

.exception-handler-stacktrace-text {
  width: 100%;
}

.exception-handler-command {
  text-align: right;
  padding: 10px;
}

/********************************** END EXCEPTION DIALOG **********************************/
/*  ----------MAIN MENU---------- */
.main-menu-container.ui-treetable {
  border: none;
}

.main-menu-container>table>thead {
  display: none;
}

.main-menu-container.ui-treetable table tbody tr td {
  border: none;
  font-size: 16px;
  padding: 18px 16px;
}

.main-menu-container.ui-treetable table tbody tr td span.fa:before {
  font-size: 18px;
  margin-right: 8px;
}

.main-menu-container.ui-treetable .ui-treetable-toggler {
  float: right;
  margin-top: -5px;
  margin-right: 0;
}

.main-menu-container.ui-treetable .ui-icon {
  width: 25px;
  height: 25px;
}

.main-menu-container.ui-treetable .ui-icon {
  background-size: 70%;
}

.main-menu-container.ui-treetable .ui-icon:hover {
  border-radius: 50px;
  background-color: #fff;
}

.main-menu-container.ui-treetable .ui-icon-triangle-1-e {
  background-image: url("/ivy/faces/javax.faces.resource/images/plus-sign-navy.svg?ln=primefaces-modena-ivy");
}

.main-menu-container.ui-treetable .ui-icon-triangle-1-s {
  background-image: url("/ivy/faces/javax.faces.resource/images/minus-sign-navy.svg?ln=primefaces-modena-ivy");
}

.main-menu-container.ui-treetable .ui-treetable-indent:first-child {
  margin-right: 20px;
}

/*  -------HAMBURGER BUTTON--------- */
.bt-menu-trigger {
  float: left;
  font-size: 12px;
  position: relative;
  display: inline-block;
  width: 2em;
  height: 40px;
  cursor: pointer;
  margin-right: 10px;
  background: rgba(42, 42, 42, 0.3);
  border-radius: 50px;
  padding: 0 8px;
}

.bt-menu-trigger:hover {
  background: rgba(42, 42, 42, 0.6);
}

.bt-menu-trigger span {
  position: absolute;
  top: 50%;
  left: 8px;
  display: block;
  width: 24px;
  height: 0.2em;
  margin-top: -0.1em;
  background-color: #fff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.bt-menu-trigger span:after, .bt-menu-trigger span:before {
  position: absolute;
  width: 24px;
  height: 100%;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.bt-menu-trigger span:before {
  -webkit-transform: translateY(-0.5em);
  transform: translateY(-0.5em);
}

.bt-menu-trigger span:after {
  -webkit-transform: translateY(0.5em);
  transform: translateY(0.5em);
}

.bt-menu-trigger.bt-menu-open {
  transform: translateX(0.1em);
}

.bt-menu-trigger.bt-menu-open span:before {
  -webkit-transform: translateY(-0.36em) translateX(0.65em) rotate(135deg) scaleX(0.6);
  transform: translateY(-0.35em) translateX(-0.6em) rotate(135deg) scaleX(0.6);
}

.bt-menu-trigger.bt-menu-open span:after {
  -webkit-transform: translateY(0.36em) translateX(0.65em) rotate(225deg) scaleX(0.6);
  transform: translateY(0.35em) translateX(-0.6em) rotate(225deg) scaleX(0.6);
}

/* --------------------------- */