/*
 * State styles are ways to describe how our modules or layouts will
 * look when in a particular state. Is it hidden or expanded? Is it active
 * or inactive? They are about describing how a module or layout
 * looks on screens that are smaller or bigger. They are also about describing
 * how a module might look in different views like the home
 * page or the inside page.
 * 
 * Example of state styles:
 *
 * .is-tab-active {
 *   background-color: white;
 *   color: black;
 * }
 *
 * Note: A sub-module style and a state style. They both modify the existing look of an element.
 * However, they differ in two key ways:
 *  1. State styles can apply to layout and/or module styles;
 *  and
 *  2. State styles indicate a JavaScript dependency.
 */
.task-priority-low {
  color: rgba(212,212,212,1);
}

.task-priority-normal {
  color: rgba(150,220,130,1);
}

.task-priority-high {
  color: rgba(255,192,192,1);
}

.task-priority-exception {
  color: rgba(255,90,90,1)
}

.in-progress-case {
  color: #43A047;
}

.done-case {
  color: #546e7a;
}