AxonIvyPortal/AxonIvyExpress/src_dataClasses/
AxonIvyPortal/PortalKitTestHelper/src_dataClasses/
Showcase/InternalSupport/src_dataClasses/
AxonIvyPortal/PortalTest/src_dataClasses/
Showcase/InternalSupport/target/
**/.flattened-pom.xml