AxonIvyPortal/AxonIvyExpress/src_dataClasses/
AxonIvyPortal/PortalConnector/src_dataClasses/
AxonIvyPortal/PortalKit/src_dataClasses/
AxonIvyPortal/PortalConnector/src_wsproc/
AxonIvyPortal/PortalKitTestHelper/src_dataClasses/
Showcase/InternalSupport/src_dataClasses/
AxonIvyPortal/PortalTemplate/src_dataClasses/
AxonIvyPortal/SelfServiceBPM/src_dataClasses/
AxonIvyPortal/PortalTest/src_dataClasses/
AxonIvyPortal/PortalStyle/src_dataClasses/
Showcase/InternalSupport/target/
AxonIvyPortal/PortalKit/target/
AxonIvyPortal/PortalStyle/target/
AxonIvyPortal/PortalStyle/classes/
AxonIvyPortal/PortalTemplate/target/
**/.flattened-pom.xml