@CHARSET "UTF-8";
body, html, td, tr, th, input, textarea, select, form {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
}

body {
	margin: 0;
	padding: 0;
}

#layoutHeader  {
	background-image: url(#{resource['ivy-webcontent:layouts/images/headerBackground.gif']});
	background-repeat:repeat-x;
	color:#FFFFFF;
}

#layoutHeader a {
	color: #FFFFFF;
}