/* Empty file, you can put your own styles.
   You should take a look at theme.less file to see how many variables that Portal supports for customizing.
   E.g. @body-background-color: #ffffff;
   After customizing, you should run a maven command ("mvn lesscss:compile") to compile these LESS files.
   And then, refresh PortalStyle project to see the changing */


@darkgrey: #757575;
@black: #000000;
@white: #ffffff;
@lighter-grey: #f5f5f5;
@context-button-color: @action-button-color;
@menu-color: #00377A;
@process-chain-menu-color: @menu-color;
@action-button-color: #0099FF;

/*AWS*/

.aws-main-cointainer .ui-g .ui-outputlabel:not(.fluid-label),
.aws-create-task-container .ui-outputlabel {
	margin-top: 10px;
	margin-left: auto;
	float: right;
}

.aws-main-cointainer .ui-g .ui-outputlabel.textarea-label {
	margin-top: 0;
}

.ui-g > div {
	display: unset;
	align-items: normal !important;
}

_:-ms-input-placeholder, :root .ui-g .ui-outputlabel.choose-users-label {
	margin-top: 0;
}

.aws-main-cointainer {
	border: 1px solid rgba(0,0,0,0.1);
	margin-top: 20px;
	padding: 15px;
}

.aws-header-cointainer {
	border: 1px solid rgba(0,0,0,0.1);
	margin: 20px 5px 0 5px;
	padding: 15px;
}

.aws-button-container {
	margin-right: -7px;
}

.aws-button-container .ui-button {
	margin-left: 10px;
}

.ui-widget-content .ui-inputfield.ui-state-disabled {
	background: transparent;
}

/* RESPONSIVE MODIFICATION */

/* Very Small screen */
@media (max-width: 500px) {
  .aws-button-container {
    text-align: center;
    margin-right: 0;
  }

  .aws-button-container .ui-button {
    width: 90% !important;
    margin: auto;
    margin-bottom: 10px;
    float: initial !important;
  }
}

.open-add-user-dialog-button.ui-button-icon-only .ui-icon {
	margin-top: -11px;
}

/* Small screen */
@media (max-width: 1365px) {
	.open-add-user-dialog-button {
		float: right;
	}
}

.enable-overflow {
	overflow-y: auto !important;
}

.ui-datatable-reflow .ui-datatable-data td[role="gridcell"] {
	height: auto;
}

.ui-fluid .fluid-button-container .ui-button {
	width: auto;
}

/* END RESPONSIVE MODIFICATION */

/* CHOOSE USERS DIALOG */
.selected-users-link {
	font-size: 1.4rem;
}

.selected-users-link:after {
  font-family: 'FontAwesome' !important;
  content: " \f044";
  margin-left: 5px;
  color: black;
}

.choose-users-dialog .add-user-container {
	width: 100%;
}

.choose-users-dialog .add-user-container .ui-button {
	width: auto !important;
	float: right;
}

.choose-users-dialog .selected-user-panel {
	width: 100%;
	border: none;
}

.choose-users-dialog .selected-user-panel td {
	border: none;
}

.choose-users-dialog .selected-user-panel .icon-column {
	width: 1rem;
}

.choose-users-dialog .aws-button-container .ui-button {
	width: auto !important;
	float: right;
}

.choose-users-dialog .aws-button-container {
	padding-right: 9px;
	margin-top: 9px;
}

/* Small screen */
@media (max-width: 1365px) {
	.choose-users-label {
		margin-top: 0 !important;
	}
}

/* END CHOOSE USERS DIALOG */

/* NOTE */
.ui-fluid .fluid-button-container .ui-button.add-note-button {
	margin-left: 0 !important;
}
/* END NOTE */

/* DOCUMENT */
.add-document-button-container .ui-button {
	margin-left: 0 !important;
}

.add-document-button-container .ui-fileupload-buttonbar {
	padding: 0 !important;
}

.add-document-button-container .ui-fileupload-choose .ui-icon {
	display: none;
}

.add-document-button-container .ui-fileupload-choose .ui-button-text {
	padding: 13px 0 !important;
	border-left: 0;
}
/* END DOCUMENT */

/* PROJECT SEARCH */
.search-button {
	width: 100px !important;
	float: right;
}

.export-button {
	width: 100px !important;
	float: right;
}

.project-add-button {
	width: auto !important;
	float: right;
}

.search-close-button {
	width: 100px !important;
	float: right !important;
	margin-bottom: 30px;
}

.related-task-comment {
	float: left !important;
}

.request-frame {
	width: 100%;
	height: 600px;
	border: 0;
}

/* Related running tasks and cases */
_:-ms-fullscreen, :root .case-detail-no-related-task-case {
  display: inline-block !important;
}