/*Default variables*/
@import "variables.less";

@sidebar-dimension-transition-duration: 1s;
@sidebar-opacity-transition-duration: 1s;

/*Style For Logos --------------------------------------------------------------------------------------*/
.portal-home-logo {
  height: @home-logo-height !important;
}

.portal-login-logo {
  height: @login-logo-height;
}

/*Style For Background --------------------------------------------------------------------------------------*/
body {
  background: @body-background-color;
}

/*Style For Main menu (Left Sidebar) */
.left-sidebar-color {
	background-color: @menu-color;
}

.left-sidebar-animation {
  transition: width @sidebar-dimension-transition-duration, height @sidebar-dimension-transition-duration, opacity @sidebar-opacity-transition-duration, color @sidebar-opacity-transition-duration !important;
}


/*Style For Process Widget --------------------------------------------------------------------------------------*/
.process-start-list-item:hover .process-start-list-item-icon {
  color: @menu-color;
}

.process-widget .order-list-items.ui-orderlist .ui-orderlist-list .ui-orderlist-item:hover .process-start-list-item-icon {
  color: @menu-color;
}

.process-group.ui-fieldset .ui-fieldset-legend{
  font-size: 1.4rem;
  color: @menu-color;
}

.process-widget .process-group .ui-fieldset-toggler {
  background-image: none !important;
  text-indent: 0;
  font-size: 25px;
  color: @menu-color !important;
}

.process-widget .process-group .ui-fieldset-toggler:before {
  font-family: 'FontAwesome';
  font-size: 2.4rem;
  color: @menu-color !important;
}
/*Style For Task Widget ----------------------------------------------------------------------------------*/
.filter-selection-form .filter-name:hover,
.filter-selection-form .filter-name-overlay-panel .user-definied-filter-container .delete-user-definied-filter-command:hover {
  color: @menu-color !important;
}

.task-state-open {
  color: @task-state-open-color;
}

.task-state-in-progress {
  color: @task-state-in-progress-color;
}

.task-state-done {
  color: @task-state-done-color;
}

.task-state-zombie-destroyed {
  color: @task-state-zombie-destroyed-color;
}

.task-state-reserved {
  color: @task-state-reserved-color;
}

.task-state-system {
  color: @task-state-system-color;
}

.task-priority-low {
  color: @task-priority-low-color;
}

.task-priority-normal {
  color: @task-priority-normal-color;
}

.task-priority-high {
  color: @task-priority-high-color;
}

.task-priority-exception {
  color: @task-priority-exception-color;
}

/*Style For Statistic Widget -----------------------------------------------------------------------------*/
.statistic-carousel .ui-carousel-header {
  background-color: @menu-color;
}

.statistic-carousel .ui-carousel-header .ui-carousel-next-button:hover,
.statistic-carousel .ui-carousel-header .ui-carousel-prev-button:hover {
  background-color: fade(@menu-color, 20%) !important;
}

.dashboard-chart-panel .ui-panel-titlebar {
  background-color: @menu-color;
}

.statistic-selection .add-link:hover {
  color: @menu-color !important;
}

/*Style For Buttons --------------------------------------------------------------------------------------*/
.ui-widget.ui-button {
  border-radius: @action-button-border-radius !important;
  background-color: fade(@action-button-color, 50%);
}

.ui-widget.ui-button.ui-state-hover, .ui-widget.ui-buttonset .ui-state-hover {
  background-color: fade(@action-button-color, 60%) !important;
}

.ui-widget.ui-button.ui-state-focus {
  background-color: fade(@action-button-color, 80%);
}

.portal-cancel-button.ui-widget.ui-button, .ui-inplace-cancel.ui-widget.ui-button, .ui-fileupload-cancel.ui-widget.ui-button {
  background-color: fade(@cancel-button-background-color, 50%);
}

.portal-cancel-button.ui-widget.ui-button.ui-state-hover, .portal-cancel-button.ui-widget.ui-buttonset .ui-state-hover, .ui-inplace-cancel.ui-widget.ui-button.ui-state-hover, .ui-fileupload-cancel.ui-widget.ui-button.ui-state-hover {
  background-color: fade(@cancel-button-background-color, 60%) !important;
}

.portal-cancel-button.ui-widget.ui-button.ui-state-focus, .ui-inplace-cancel.ui-widget.ui-button.ui-state-focus, .ui-fileupload-cancel.ui-widget.ui-button.ui-state-focus {
  background-color: fade(@cancel-button-background-color, 80%);
}

.ui-widget.ui-button.context-button{
  border-radius: @context-button-border-radius !important;
  background-color:fade(@context-button-color, 50%);
}

.ui-widget.ui-button.context-button.ui-state-hover{
  background-color:fade(@context-button-color, 60%)!important;
}

.ui-widget.ui-button.context-button.ui-state-focus{
  background-color:fade(@context-button-color, 80%)!important;
}

/*Style for table --------------------------------------------------------------------------------------*/
.ui-datatable table tbody tr.ui-datatable-selectable.ui-state-highlight td  {
  background-color: rgba(red(@menu-color), green(@menu-color), blue(@menu-color), 0.6);
}

.ui-datatable table tbody tr.ui-datatable-selectable.ui-state-hover td {
  background-color: rgba(red(@menu-color), green(@menu-color), blue(@menu-color), 0.25);
}

.ui-treetable table tbody .ui-state-highlight td  {
  background-color: rgba(red(@menu-color), green(@menu-color), blue(@menu-color), 0.6) !important;
}

.ui-treetable table tbody .ui-state-hover td {
  background-color: rgba(red(@menu-color), green(@menu-color), blue(@menu-color), 0.25) !important;
}

/*Style for self service --------------------------------------------------------------------------------------*/
img[id*='additonalTaskUserAvatar'] {
	border:	solid 2px;
	border-color : @menu-color;
}

/*Style for express --------------------------------------------------------------------------------------*/
.express-start-process-panel .process-list .icon-placeholder .fa {
  color: @menu-color;
}

.express-start-process-panel .process-list .icon-placeholder .fa:hover {
  color: fade(@menu-color, 60%) !important;
}

.process-start-list-item .process-start-list-item-action .express-workflow:hover {
  color: @menu-color !important;
}

.process-start-list-item.express-workflow .process-start-list-item-icon {
  color: @menu-color !important;
  opacity: 1;
}

/*Style for stages breadcrumb --------------------------------------------------------------------------------------*/
.stages-chain .current i {
  color: @menu-color;
}

/*Style for calendar*/
div.ui-timepicker-div {
	width: 199px;
}

/*Style for stages process chain -----------------------------------------------------------------------------------*/
.circle-process-chain .circle-horizontal-process-step.visited .circle-horizontal-step-container span:before {
  border-color: @process-chain-menu-color;
}

.circle-process-chain .circle-horizontal-process-step.waiting .circle-horizontal-step-container {
  border: solid 2px @process-chain-menu-color;
}

.circle-process-chain .circle-horizontal-process-step .circle-horizontal-step-container {
  background-color: @process-chain-menu-color;
}

.circle-process-chain .circle-vertical-process-step.visited .circle-vertical-step-container span:before {
  border-color: @process-chain-menu-color;
}

.circle-process-chain .circle-vertical-process-step.waiting .circle-vertical-step-container {
  border: solid 2px @process-chain-menu-color;
}

.circle-process-chain .circle-vertical-process-step .circle-vertical-step-container {
  background-color: @process-chain-menu-color;
}

.line-process-chain .line-horizontal-process-step .line-horizontal-step-container {
  background-color: @process-chain-menu-color;
}

.line-process-chain .line-horizontal-process-step.hide-left-steps  {
  background: repeating-linear-gradient(90deg, @process-chain-menu-color, @process-chain-menu-color 10px, @body-background-color 10px, @body-background-color 20px);
}

.line-process-chain .line-horizontal-process-step.hide-right-steps {
  background: repeating-linear-gradient(90deg, #E0E0E0, #E0E0E0 10px, @body-background-color 10px, @body-background-color 20px);
}

.line-process-chain .line-vertical-process-step .line-vertical-step-container {
  background-color: @process-chain-menu-color;
}

.line-process-chain .line-vertical-process-step.hide-left-steps  {
  background: repeating-linear-gradient(180deg, @process-chain-menu-color, @process-chain-menu-color 10px, @body-background-color 10px, @body-background-color 20px);
}

.line-process-chain .line-vertical-process-step.hide-right-steps {
  background: repeating-linear-gradient(180deg, #E0E0E0, #E0E0E0 10px, @body-background-color 10px, @body-background-color 20px);
}

@import "font-faces.less";
@import "customization.less";