@body-background-color: #ffffff;
@menu-color: #afca05;
@process-chain-menu-color: @menu-color;
@cancel-button-background-color: #d3d3d3;

@login-logo-height: 50px;
@home-logo-height: 42px;

/*task priority color*/
@task-priority-low-color: #d4d4d4;
@task-priority-normal-color: #96dc82;
@task-priority-high-color: #ffc0c0;
@task-priority-exception-color: #ff5a5a;

/*task state color*/
@task-state-open-color: #078cff;
@task-state-in-progress-color: #4eb41c;
@task-state-done-color: #4eb41c;
@task-state-zombie-destroyed-color: #ff6464;
@task-state-reserved-color: rgba(0,0,0,0.4);
@task-state-system-color: rgba(0,0,0,0.4);

/*Color and border radius of Portal button e.g Add, Close, New, Save, OK ..*/
@action-button-color: @menu-color;
@action-button-border-radius:8px;

/*Color and border radius of context button, 
it only affects when button has attribute styleClass="context-button"*/
@context-button-color: @menu-color;
@context-button-border-radius:@action-button-border-radius;

/*Circle process chain number step color*/
@circle-step-number-color: #212121;