@import '../sass/ivy/variables-customization';
@import '../sass/ivy/variables';
@import '../sass/ivy/font-faces';
@import '../sass/ivy/customization';

.process-history-column-header {
  flex: 1 0 100%;
  height: 60px;
  display: flex;
  align-items: flex-end;
  line-height: normal;
  margin: 0;
  padding: 0 2px 10px 2px;
  margin-bottom: 1px;
}

.process-history-list .ui-datascroller {
  border: none;
  border-radius: 0;
}

.process-history-list .ui-datascroller .ui-datascroller-content {
  padding: 2px;
}

.process-history-list-header-default {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

.process-history.process-history-list.process-history-list-cell-default {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.process-history.process-history-list.process-history-list-cell-default.process-history-list-width-120,
  .process-history-list-header-default.process-history-list-width-120 {
  flex: 0 0 120px;
}

.process-history-list-name-header {
  padding-left: 10px;
}

.case-widget-container .case-widget-top-header {
  position: relative;
  height: 36px;
}

.widget.case-widget-container .case-view {
  padding-top: 0;
  padding-bottom: 0;
}

.case-widget-top-header .filter {
  width: 30%;
  padding-left: 25px;
  box-sizing: border-box;
  margin-top: 11px;
}

.case-default-widget-container .case-widget-top-header .widget-header-main-title {
  width: 100%;
  display: flex;
  position: relative;
  margin-top: 4px;
}

.case-default-widget-container .case-widget-top-header .widget-header-main-title span.case-header-title {
  white-space: nowrap;
  max-width: calc(100% - 30px);
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  margin-right: 3px;
}

.case-list-item:hover {
  z-index: 1;
}

.case-widget-container .widget-column-header, .case-default-widget-container .widget-column-header {
  flex: 1 0 auto;
  flex-basis: calc(100% - 14px);
  display: flex;
  align-items: flex-end;
  line-height: normal;
  padding-bottom: 10px;
  margin: auto 7px;
  height: 45px;
}

.case-widget-container .sort-icon {
  margin-left: 2px;
}

.case-header-container {
  display: flex;
  height: 65px;
  align-items: center;
  position: relative;
}

.case-header-name-desc-cell .case-header-name-cell {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.case-header-name-cell .ui-inplace-content {
  display: flex;
}

.case-header-name-desc-cell .case-header-desc-cell {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.case-list .ui-datascroller, .case-list .ui-datascroller .ui-datascroller-content {
  border: none;
  border-radius: 0;
}

.case-header-name-desc-cell {
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 105px;
  display: grid;
}

.case-header-data .case-header-default-cell {
  flex: 0 0 90px;
  text-align: center;
}

.case-header-data .case-header-id-cell {
  flex: 0 0 100px;
}

.case-header-data .case-header-creator-cell {
  flex: 0 0 135px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
}

.case-info-row {
  display: flex;
  width: 100%;
  align-items: center;
  cursor: pointer;
}

.case-header-action-cell, .task-header-action-cell {
  text-align: right;
  padding: 0 10px;
}

.action-container, .action-container a.task-action-item, .action-container span.task-action-item {
  display: flex;
  align-items: center;
}

.action-container a.task-action-item .icon-compact-mode, .action-container span.task-action-item .icon-compact-mode,
.task-detail-general-card .task-details-action-container a.ui-commandlink.task-action-item i.tmi-chevorn-right,
span.task-action-item i.tmi-chevorn-right {
  margin-top: 3px;
}


@media (max-width: 991px) {
  .case-header-action-cell, .task-header-action-cell {
    border-left: none;
  }
}

.case-header-action-cell .action-item {
  margin: auto;
  padding: 5px 10px;
}

.case-header-action-cell .action-item .ui-button {
  box-shadow: none;
}

.case-header-action-cell .case-command:not(:last-child) {
  margin-right: 10px;
}

.case-command {
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.case-command.side-step {
  top: 1.5rem;
  right: 10px;
  position: absolute;
}

.case-command.side-step.no-label {
  top: 2rem;
}

.case-description-inplace {
  width: 100%;
}

.case-description-singleapp {
  margin-left: 60px;
}

.case-description {
  max-height: 100px;
  overflow: auto
}

.case-description-inplace.ui-inplace .ui-inplace-editor {
  height: 39px;
}

.case-description-inplace.ui-inplace .ui-inplace-content {
  width: 100%
}

.case-description-input {
  width: 75%;
}

.case-name-input {
  flex: 1 0 70%;
  height: 38px;
  box-sizing: border-box;
}

.action-steps-panel {
  max-width: 220px;
  width: auto !important;
  padding: 0 !important;
}

.action-steps-panel .case-action-separator, .options-panel hr.u-separator {
  width: 100%;
  margin: 0;
  border-collapse: unset;
}

.action-steps-panel .ui-overlaypanel-content {
  padding: 0 !important;
  display: grid;
}

.action-steps-panel .action-icon {
  margin-right: 5px;
}

.action-steps-panel .action-step-item {
  clear: both;
  float: left;
  padding: 10px;
  margin: 0;
  width: 160px;
  line-height: 1.4rem;
  box-sizing: content-box;
  text-align: left;
}

.case-detail-header {
  display: flex;
  float: left;
  flex: 1;
  width: 1px;
}

.case-details-back-btn, .task-details-back-btn {
  flex: 0 0 110px;
  text-align: right;
}

.case-detail-title-header-container {
  padding: 0 !important;
  display: flex;
  line-height: 38px;
}

.case-details-back-btn, .task-details-back-btn, .case-detail-title-header-container .case-detail-header {
  align-self: center;
}

.case-detail-section-title-container {
  display: flex;
}

.case-detail-section-title {
  margin-bottom: 14px;
}

.case-detail-section-title-container .case-detail-section-title {
  flex: 1;
  width: 1px;
}

.case-detail-section-title-container .case-history-button-container {
  flex: 0 0 auto;
}

.case-detail-section-title, .case-history-button-container {
  display: inline-block !important;
  align-content: start;
  padding: 0 !important;
}

.case-detail-second-content-container {
  display: inline-block !important;
  padding: 0 !important;
}

.case-detail-card, .task-detail-card {
  display: block;
  float: left;
}

.case-detail-body .card {
  margin-bottom: 6px;
  width: 100%;
  height: 360px;
  padding-bottom: 16px;
}

.case-history-button-container, .task-history-button-container {
  text-align: right;
}

.case-task-note-histories {
  white-space: pre-wrap;
}

@media screen and (max-width: 40em) {
  .case-detail-body .card.case-history-component,
  .case-detail-body .card.case-related-task-component,
  .case-detail-body .card.case-document-component {
    height: auto;
  }
}

/*Style for Case Item --------------------------------------------------------------------------------------*/
.case-list-unsortable-header-cell {
  font-size: $largeFontSize;
  color: $caseListUnsortableHeaderCellTextColor;
}

a.case-details-document-add-link,
a.task-details-document-add-link,
span.case-details-document-add-link,
span.task-details-document-add-link {
  font-weight: $detailsDocumentAddLinkFontWeight;
}

.case-detail-section-title, .case-history-button-container,
.task-history-button-container {
  font-weight: $historyButtonContainerFontWeight;
}

.case-header-action-cell .action-item .ui-button {
  background: $caseHeaderActionCellButtonBackgroundColor;
  outline: $caseHeaderActionCellButtonBackgroundColor;
}

.action-steps-panel .case-action-separator,
.options-panel hr.u-separator {
  border: 0.8px solid $caseActionSeparatorBorderColor;
}

.case-list-item {
  border: 1px solid transparent;
  border-bottom: 1px solid $borderColor;
  background-color: $caseListItemBackgroundColor;
}

.case-list-item:hover {
  background: $compactTaskStartListItemHoverBackgroundColor;
  border: $compactTaskStartLinkItemHoverBorder;
  box-sizing: border-box;
}

.case-widget-container .widget-column-header a.ui-commandlink.is-selected {
  color: $caseWidgetColumnHeaderIsSelectedColor;
}

.case-header-name-desc-cell .case-header-desc-cell {
  color: $caseItemDescriptionCell;
}

.action-steps-panel .ui-overlaypanel-content {
  background-color: $caseActionStepsContentsBackgroundColor;
}

.action-steps-panel {
  font-size: $largeFontSize;
}

.action-steps-panel.ui-menu .ui-menu-list li.ui-menuitem .ui-menuitem-link {
  color: $actionStepTextColor;
}

.action-steps-panel.ui-menu .ui-menu-list li.ui-menuitem .ui-menuitem-link:hover {
  color: $actionStepHoverTextColor;
}

.action-steps-panel.ui-menu .ui-menu-list li.ui-menuitem .ui-menuitem-link.ui-state-disabled {
  color: $actionStepDisabledTextColor;
}

.action-steps-panel a.action-step-item:hover {
  background-color: $caseItemActionStepsItemHoverBackgroundColor;
  color: $caseItemActionStepsItemHoverTextColor;
}

.case-state-in-progress {
  color: $caseStateInProgressColor;
}

.case-state-done {
  color: $caseStateDoneColor;
}

.case-widget-container .widget-column-header,
.case-default-widget-container .widget-column-header {
  border-bottom: 1px solid $caseWidgetColumnHeaderBorderBottom;
}

.case-list .ui-datascroller,
.case-list .ui-datascroller .ui-datascroller-content {
  background-color: $caseListDataScrollerContentBackgroundColor;
}

.case-header-action-cell, .task-header-action-cell {
  border-left: solid 1px $headerActionActionLeftBorderColor;
}

.action-steps-panel .action-icon {
  font-size: $largeFontSize;
}
.process-history-list .ui-widget-content {
  border: none;
}

.process-history-list .ui-widget-content {
  border: none;
}

.process-history-list .ui-datascroller {
  background-color: $processHistoryListDataScrollerBackgroundColor;
}

.process-history-column-header .is-selected {
  color: $processHistoryColumnHeaderIsSelectedColor;
}

.process-history-column-header {
  border-bottom: 1px solid $processHistoryColumnHeaderBorder;
}

.process-history-empty-message .ui-outputlabel {
  color: $processHistoryMessageLabelColor;
  font-size: $smallFontSize;
}