@import '../sass/ivy/customization';
@import '../sass/ivy/variables';
@import '../sass/ivy/font-faces';
@import '../sass/theme/_theme';

/*Style For Logos --------------------------------------------------------------------------------------*/
.portal-home-logo {
    height: $homeLogoHeight !important;
    width: calc(100% - 72px);
}

.layout-sidebar .sidebar-logo .portal-home-logo-small img {
    width: 42px !important;
}

.login-body .login-panel .login-panel-header img {
    height: $loginLogoHeight;
}

/*Style For Color Header --------------------------------------------------------------------------------------*/
.first-header-bar {
    width: 70%;
    background-color: $firstHeaderBarColor;
}

.second-header-bar {
    width: 15%;
    background-color: $secondHeaderBarColor;
}

.third-header-bar {
    width: 15%;
    background-color: $thirdHeaderBarColor;
}

/*Style For Main menu (Left Sidebar)------------------------------------------------------------------------ */
.left-sidebar-color {
    background-color: $paleGrey;
}

.layout-wrapper .layout-sidebar .layout-menu .submenu-container {
  padding: 4px 0;
  a:hover {
    background-color: $sidebarMenuListItemLinkHoverBackgroundColor !important;
    color: $sidebarMenuListItemLinkHoverTextColor;
    border-radius: 0 !important;
  }
}

/*Style for Top bar -------------------------------------------------------------------------------------- */
@media (max-width: 1365px) {
    .app-dialog {
        top: 150px !important;
    }
}

@media (min-width: 1366px) and (max-width: 1919px) {
    .app-dialog {
        top: 250px !important;
    }
}

@media (min-width: 1920px) {
    .app-dialog {
        top: 300px !important;
    }
}

@media screen and (max-width: 40em) {
    .task-template-container {
        padding: 0 10px !important;
    }
}

/*Style Email Setting --------------------------------------------------------------------------------*/
@media (min-width: 1024px) and (max-width: 1365px) {
    .applications-email-setting-dialog {
        top: 150px !important;
    }
}

@media (min-width: 1366px) and (max-width: 1919px) {
    .applications-email-setting-dialog {
        top: 200px !important;
    }
}

.daily-summary.ui-selectmanycheckbox.ui-widget label {
    margin-left: 0px !important;
}

.application-email-setting .ui-widget-header{
    color: $emailSettingWidgetHeader !important;
}

.applications-email-setting-dialog .ui-dialog-content.ui-widget-content {
  font-size: $largeFontSize;
}

/*Style For Process Widget --------------------------------------------------------------------------------*/
.process-start-list-item:hover .process-start-list-item-icon {
    color: $hoveredProcessStartListItemIConColor;
}

.process-start-list-item-icon {
  font-size: 2rem;
}

.process-widget .order-list-items.ui-orderlist .ui-orderlist-list .ui-orderlist-item:hover .process-start-list-item-icon {
    color: $hoveredUserProcessStartListItemIconColor;
}

.process-group.ui-fieldset .ui-fieldset-legend {
    font-size: $largeFontSize;
    padding: 14px 10px 10px 0 !important;
    margin-left: -1px;
}

.process-widget .process-group .ui-fieldset-toggler {
    background-image: none !important;
    text-indent: 0;
}

/*Style For Task Widget ----------------------------------------------------------------------------------*/
.filter-selection-form .filter-name:hover,
.filter-selection-form .filter-name-overlay-panel .user-defined-filter-container .delete-user-defined-filter-command:hover {
    color: $taskFilterDeleteUserDefinedIconHoverColor !important;
}

.filter-selection-form .filter-name-overlay-panel .user-defined-filter-container .delete-user-defined-filter-command {
  font-size: $largeFontSize;
}

.task-state-open {
    color: $taskStateOpenColor;
}

.task-state-in-progress {
    color: $taskStateInProgressColor;
}

.task-state-done {
    color: $taskStateDoneColor;
}

.task-state-zombie-destroyed {
    color: $taskStateZombieDestroyedColor;
}

.task-state-reserved {
    color: $taskStateReservedColor;
}

.task-state-system {
    color: $taskStateSystemColor;
}

.task-priority-low {
    color: $taskPriorityLowColor;
}

.task-priority-normal {
    color: $taskPriorityNormalColor;
}

.task-priority-high {
    color: $taskPriorityHighColor;
}

.task-priority-exception {
    color: $taskPriorityExceptionColor;
}

.in-progress-task-checkbox .ui-chkbox-label {
  color: $taskInProgressCheckboxLabelColor;
}

/*Style For Statistic Widget -----------------------------------------------------------------------------*/
.statistic-carousel .ui-carousel-header {
    background-color: $statisticPanelHeader !important;
    border-color: $statisticPanelHeaderBorder;
}

.statistic-carousel .ui-carousel-header .ui-carousel-button.ui-icon {
  color: $statisticCarouselHeaderButtonColor !important;
}

.statistic-carousel .ui-carousel-header .ui-carousel-next-button:hover,
.statistic-carousel .ui-carousel-header .ui-carousel-prev-button:hover {
  color: $statisticCarouselHeaderButtonHoverColor !important;
}

.statistic-carousel .ui-carousel-header .ui-carousel-header-title .chart-info,
.dashboard-chart-panel .chart-actions-container .chart-action,
.dashboard-chart-panel .chart-info {
  color: $statisticCarouselHeaderButtonColor !important;
  font-size: 1.5rem;
}

.statistic-carousel .ui-carousel-header .ui-carousel-header-title .chart-info:hover,
.dashboard-chart-panel .chart-info:hover,
.dashboard-chart-panel .chart-actions-container .chart-action:hover {
  color: $statisticCarouselHeaderButtonHoverColor !important;
}

.statistic-carousel .ui-carousel-header-title .chart-name {
  color: $statisticCarouselHeaderColor;
  font-size: $chartNameFontSize;
}

.dashboard-chart-panel .chart-name {
  color: $statisticCarouselHeaderColor;
  font-size: $dashboardChartNameFontSize;
  font-weight: $dashboardChartPanelChartNameFontWeight;
}

.edit-statistic-container .chart-list .chart-container .label,
.chart-filter-header-text {
  font-size: $chartFilterHeaderFontSize;
}

.edit-statistic-container .chart-list .chart-container .add-link {
  font-size: $chartContainerAddLinkFontSize;
}

.ui-columntoggler[id$='task-table-toggler'] .ui-columntoggler-item label {
    font-size: $largeFontSize;
}

.chart-info-header {
  font-size: $largeFontSize;
  font-weight: $chartInfoHeaderFontWeight;
}

.chart-info-container label {
  font-weight: $chartInfoLabelFontWeight;
}

.dashboard-chart-panel .card,
.edit-statistic-container .card,
.statistic-widget.compact-mode .statistic-carousel.card {
  box-shadow: 0 2px 6px 0 rgba($statisticCarouselCardBoxShadowColor, 0.2),
              0 2px 4px 0 rgba($statisticCarouselCardBoxShadowColor, 0.14),
              0 4px 2px -1px rgba($statisticCarouselCardBoxShadowColor, 0.12);
}

.statistic-filter-accordion-panel .ui-accordion-content {
  border: solid 1px $statisticFilterAccordionPanelBorder !important;
}

.statistic-widget-container, .widget.analysis-task-widget {
  .widget-header-main {
    border-bottom: none !important;
  }

  .widget-header {
    border-bottom: 1px solid rgba($black, 0.1);
  }
}

/*Style For Buttons --------------------------------------------------------------------------------------*/
.portal-cancel-button.ui-widget.ui-button,
.ui-inplace-cancel.ui-widget.ui-button,
.ui-fileupload-cancel.ui-widget.ui-button {
    background-color: $cancelButtonBackgroundColor !important;
}

.portal-cancel-button.ui-widget.ui-button.ui-state-hover,
.portal-cancel-button.ui-widget.ui-buttonset .ui-state-hover,
.ui-inplace-cancel.ui-widget.ui-button.ui-state-hover,
.ui-fileupload-cancel.ui-widget.ui-button.ui-state-hover {
    background-color: rgba($cancelButtonBackgroundColor, 0.6) !important;
}

.portal-cancel-button.ui-widget.ui-button.ui-state-focus,
.ui-inplace-cancel.ui-widget.ui-button.ui-state-focus,
.ui-fileupload-cancel.ui-widget.ui-button.ui-state-focus {
    background-color: rgba($cancelButtonBackgroundColor, 0.8) !important;
}

.ui-widget.ui-button.context-button {
    border-radius: $contextButtonBorderRadius !important;
    background-color: $contextButtonBackgroundColor !important;
}

.ui-widget.ui-button.context-button.ui-state-hover,
.ui-widget.ui-button.context-button.ui-state-focus {
    background-color: $contextButtonStateHoverOrFocusBackgroundColor;
}

/*Style for table --------------------------------------------------------------------------------------*/
.express-many-checkbox-options.ui-datatable tbody tr td {
  border-top: 1px solid $topBorderBodyExpressManyCheckboxTableColor !important;
}

/*Style for express --------------------------------------------------------------------------------------*/
.process-start-list-item .process-start-list-item-action .express-workflow:hover {
    color: $hoveredProcessStartListItemIConColor !important;
}

.ui-widget.ui-button.defined-task-button.active,
.ui-widget.ui-button.defined-task-button.visited {
    border: solid 2px $definedTaskButtonActivedBorderColor;
    background-color: $definedTaskButtonActivedOrHoverBackgroundColor !important;
}

.ui-widget.ui-button.defined-task-button.active:before {
    border-color: $definedTaskButtonActivedBorderColor;
}

.ui-widget.ui-button.defined-task-button.ui-state-hover {
    background-color: $definedTaskButtonActivedOrHoverBackgroundColor !important;
}

/*Style for stages breadcrumb --------------------------------------------------------------------------------------*/
.stages-chain .current i {
    color: $stagesChainCurrentIconColor;
}

/*Style for stages process chain -----------------------------------------------------------------------------------*/
.circle-process-chain .circle-horizontal-process-step.visited .circle-horizontal-step-container span:before {
    border-color: $processChainMenuColor;
}

.circle-process-chain .circle-horizontal-process-step.waiting .circle-horizontal-step-container {
  border: solid 2px $processChainMenuColor;
  background-color: $circleHorizontalWaitingStepNumberContainerBackgroundColor;
}

.circle-process-chain .circle-horizontal-process-step .circle-horizontal-step-container {
  background-color: $processChainMenuColor;
  border: solid 2px $circleStepContainerBorder;
}

.circle-process-chain .circle-vertical-process-step.visited .circle-vertical-step-container span:before {
    border-color: $processChainMenuColor;
}

.circle-process-chain .circle-vertical-process-step.current .circle-vertical-step-title {
  font-weight: $currentCircleVerticalStepTitleFontWeight;
}

.circle-process-chain .circle-vertical-process-step.waiting .circle-vertical-step-container {
  border: solid 2px $processChainMenuColor;
  background-color: $circleVerticalStepContainerBackgroundColor;
}

.circle-process-chain .circle-vertical-process-step .circle-vertical-step-container {
  background-color: $processChainMenuColor;
  border: solid 2px $circleStepContainerBorder;
}

.circle-process-chain .circle-vertical-process-step:not(:last-child) .circle-vertical-step-container .step-number-container:after {
  border-left: 3px solid $circleVerticalStepNumberContainerBorder;
}

.circle-process-chain .circle-horizontal-process-step.current .circle-horizontal-step-title {
  font-weight: $currentCircleHorizontalStepTitleFontWeight;
}

.line-process-chain .line-horizontal-process-step .line-horizontal-step-container {
    background-color: $processChainMenuColor;
}

.line-process-chain .line-horizontal-process-step.current .line-horizontal-step-title {
  font-weight: $currentLineHorizontalStepTitleFontWeight;
}

.line-process-chain .line-horizontal-process-step.hide-left-steps {
    background: repeating-linear-gradient(90deg, $processChainMenuColor, $processChainMenuColor 10px, $bodyBackgroundColor 10px, $bodyBackgroundColor 20px);
}

.line-process-chain .line-horizontal-process-step.hide-right-steps {
    background: repeating-linear-gradient(90deg, #e0e0e0, #e0e0e0 10px, $bodyBackgroundColor 10px, $bodyBackgroundColor 20px);
}

.line-process-chain .line-vertical-process-step .line-vertical-step-container {
    background-color: $processChainMenuColor;
}

.line-process-chain .line-vertical-process-step.hide-left-steps {
    background: repeating-linear-gradient(180deg, $processChainMenuColor, $processChainMenuColor 10px, $bodyBackgroundColor 10px, $bodyBackgroundColor 20px);
}

.line-process-chain .line-vertical-process-step.hide-right-steps {
    background: repeating-linear-gradient(180deg, #e0e0e0, #e0e0e0 10px, $bodyBackgroundColor 10px, $bodyBackgroundColor 20px);
}

.line-process-chain .line-horizontal-process-step.waiting .line-horizontal-step-container,
.line-process-chain .line-vertical-process-step.waiting .line-vertical-step-container {
  background-color: $lineWaitingStepBackgroundColor;
}

.line-process-chain .line-vertical-process-step.current .line-vertical-step-title {
  font-weight: $currentLineVerticalStepTitleFontWeight;
}

.current .cicrle-step-container, .visited .cicrle-step-container {
    color: $circleStepNumberColor;
}

.circle-horizontal-step-container:not(.right-steps) .step-number-container:after {
  border-top-color: $circleHorizontalStepNumberContainerBorderTop !important;
}
  
.circle-horizontal-step-container:not(.last-step) .step-number-container:after {
    border-top: 3px dashed $circleHorizontalStepNumberContainerBorderTop;
  }

.circle-horizontal-step-container.last-step .step-number-container:after {
  border-top: 3px dashed $circleHorizontalLastStepNumberContainerBorderTop !important;
}
  
.circle-horizontal-step-container .step-number-container:before {
  border-top: 3px solid $circleHorizontalStepNumberContainerBorderTopColor;
}

.circle-horizontal-process-step:not(:last-child) .circle-horizontal-step-container .step-number-container:after {
  border-top: 3px solid $circleHorizontalStepNumberContainerBorderTop;
}

.circle-process-chain .circle-horizontal-process-step,
.circle-process-chain .circle-vertical-process-step,
.line-process-chain .line-vertical-process-step {
  font-size: $smallFontSize;
}

/*Style for announcement*/
.announcement-message-customizable {
    background-color: $announcementBackgroundColor;
    border: 2px solid $announcementBorderColor;
}

.action-button {
  box-shadow: none !important;
  background-color: transparent !important;
  border: 1px solid transparent !important;

  .ui-button-text.ui-c, .ui-button-icon-right.ui-icon.ui-c {
    color: $caseTaskActionButtonColor !important;
  }
}

.ui-button.ui-widget.action-button.ui-state-hover {
   background-color: $caseTaskActionButtonHoverBackgroundColor !important;
}

.case-detail-title-header-container, .task-detail-header {
  border-bottom: 1px solid rgba($black, 0.1);
}

/*Style For Task Detail --------------------------------------------------------------------------------------*/

.task-item-body .task-details-item-note, .task-item-body .task-details-item-document {
  .ui-paginator.ui-paginator-top.ui-widget-header.ui-corner-top {
    background-color: $taskDetailPaginatorHeaderCornerTopBackgroundColor !important;
    border-color: $taskDetailPaginatorHeaderCornerTopBorderColor;
    padding: 2px 10px;
  }
  
  .ui-paginator a, .ui-paginator-current {
    color: $taskDetailPaginatorColor !important;
  }
  
  .ui-paginator a.ui-paginator-page, .ui-paginator a.ui-paginator-page, a.ui-paginator-first, a.ui-paginator-prev, a.ui-paginator-next, a.ui-paginator-last {
    &.ui-state-hover, &.ui-state-active {
        background-color: $taskDetailPaginatorHoveredButtonBackgroundColor;
      }
  }
}

.task-description-inplace, .edit-priority-inplace, .task-name-inplace, .expiry-edit-inplace{
  .ui-inplace-display.ui-state-highlight {
      background-color: $taskHighlightedInplaceFieldBackgroundColor;
    }
}

.task-name-input {
  font-size: $largeFontSize !important;
  font-weight: $taskNameInputFontWeight;
}

.task-detail-header {
  font-weight: $taskDetailHeaderFontWeight;
}

.task-detail-section-title {
  font-weight: $taskDetailSectionTitleFontWeight;
}

.task-action-item:hover {
  background-color: $taskDetailActionItemHoverBackgroundColor !important;
}

/*Style For Advance Filter --------------------------------------------------------------------------------------*/
.ui-datepicker .ui-timepicker-div dl dd {
  margin-top: 30px !important;
  .ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content {
    margin-right: 10px;
  }
}

/*Style for Fieldset --------------------------------------------------------------------------------------*/
.fieldset-no-border .ui-fieldset-toggler:before {
  font-size: $largeFontSize;
  color: $fieldSetTogglerColor !important;
  font-family: $iconFontFamily;
}

.fieldset-no-border {
  background-color: $fieldSetNoBorderColor !important;
}

/*Style for start Filter Widget--------------------------------------------------------------------------------------*/
.filter-category-checkbox-tree {
  width: auto;
}

.filter-category-checkbox-tree.ui-tree .ui-treenode .ui-treenode-label,
.task-widget .advanced-filter, .case-widget .advanced-filter,
.case-widget-container .advanced-filter {
  font-size: $smallFontSize;
}

.task-widget .advanced-filter,
.case-widget-container .advanced-filter, .case-widget .advanced-filter {
  border: solid $widgetAdvancedFilterBorder 1px;
}

.filter-category-checkbox-tree .ui-icon.ui-icon-search:before {
  font-family: $iconFontFamily !important;
}

.widget-header-filter-input.ui-inputfield {
  font-size: $largeFontSize;
  background-color: $widgetHeaderInputFieldBackgroundColor;
}

.widget-header-filter-input.ui-inputfield.ui-state-hover, 
.widget-header-filter-input.ui-inputfield.ui-state-focus {
  font-size: $largeFontSize;
  background-color: $widgetHeaderInputHoverBackgroundColor; 
}

.grid-item-header {
  font-size: $largeFontSize;
}
.widget-header-main-menu a.ui-widget.ui-commandlink, .widget-header-main-menu span.ui-widget.ui-commandlink.ui-state-disabled,
.widget-sort-menu span.ui-widget.ui-commandlink.ui-state-disabled {
  font-size: $smallFontSize;
}

.widget-header-main-title {
  font-size: $largeFontSize ;
}

.widget-sort-menu.full-mode a.ui-widget.ui-commandlink { 
  font-size: $largeFontSize;
}

.widget-sort-menu a.ui-widget.ui-commandlink.is-selected {
  color: $taskWidgetSortMenuLinkIsSelectedColor !important;
}

.task-widget .ui-widget.ui-button.advanced-filter-command:after, 
.case-widget-container .ui-widget.ui-button.advanced-filter-command:after,
.filter-selection-form a.filter-name.ui-commandlink:after {
  color: $widgetHeaderFilterColor;
  font-family: $iconFontFamily;
  font-size: $smallFontSize;
}

.task-widget .ui-widget.ui-button.advanced-filter-command, 
.case-widget-container .ui-widget.ui-button.advanced-filter-command {
  background: $widgetAdvancedFilterCommandBackgroundColor;
}

.task-widget .ui-widget.ui-button.advanced-filter-command.error-filter:before, 
.case-widget-container .ui-widget.ui-button.advanced-filter-command.error-filter:before {
  color: $advancedFilterErrorColor;
  font-family: $iconFontFamily;
}

.widget-header-main {
  border-bottom: 1px solid $widgetHeaderMainBorderBottomColor;
}

.widget-tasklist-header {
  border-bottom: 1px solid $widgetTaskListHeaderBorderBottomColor;
}

.widget-sort-menu.full-mode {
  border-bottom: 1px solid $widgetSortMenuBorderBottomColor;
}

.task-widget .action-container .ui-commandlink.ui-state-disabled {
  color: $mediumGrey !important;
}

/*Style for Case Widget-------------------------------------------------------------------------------------*/ 
.case-widget-top-header-main-title, .case-header-container {
  font-size: $largeFontSize;
}

/*Style for Case Detail --------------------------------------------------------------------------------------*/
.case-detail-header {
  font-size: $largeFontSize;
}

.process-empty-container ,
.process-start-list-item-action,
.process-start-list-item-name {
  font-size: $smallFontSize;
}

.process-widget .favorite-process-title,
.process-widget .default-process-title  {
  font-size: $largeFontSize;
}

.filter-selection-form label,
.filter-selection-form a.ui-commandlink,
.filter-selection-form a.ui-commandlink:hover,
.filter-selection-form .filter-name-overlay-panel .user-defined-filter-container .ui-commandlink,
.filter-name-overlay-panel .filter-type-label {
  font-size: $largeFontSize;
}

.filter-selection-form .filter-name-overlay-panel .user-defined-filter-container:hover .ui-commandlink {
  font-weight: $userDefinedFilterContainerHoverFontWeight;
}

.task-start-info-header,
.task-start-list-item.full-mode .task-start-link {
  font-size: $largeFontSize;
}

.task-start-info-footer, .task-start-info-content { 
  font-size: $smallFontSize;
}

.case-details-data-1st-column {
  font-size: $largeFontSize !important;
}

.history-author, .history-note > * {
  font-size: $largeFontSize;
}

.additional-case-details-link,
.announcement-message { 
  font-size: $largeFontSize;
}

.document-upload {
  border: 2px dashed $caseDocumentUploadBorder;
}

.case-detail-body .case-details-item {
  .ui-paginator.ui-paginator-top.ui-widget-header.ui-corner-top {
      background-color: $caseDetailPaginatorHeaderCornerTopBackgroundColor;
      border-color: $caseRelatedTaskContentBorder;
      padding: 2px 10px;
  }
  
  .ui-paginator a, .ui-paginator-current {
    color: $caseDetailPaginatorColor !important;
  }
  
  .ui-paginator a.ui-paginator-page, .ui-paginator a.ui-paginator-page, a.ui-paginator-first, a.ui-paginator-prev, a.ui-paginator-next, a.ui-paginator-last {
    &.ui-state-hover, &.ui-state-active {
        background-color: $caseDetailPaginatorHoverButtonBackgroundColor;
      }
  }
  
  .case-description-form .ui-inplace-display.ui-state-highlight {
    background-color: $textboxBgColor;
    border-radius: $borderRadius;
  }
  
  .ui-paginator.ui-paginator-top.ui-widget-header.ui-corner-top {
    padding-left: 0;
    padding-right: 0;
    
    .ui-paginator-current {
      margin-left: 0;
    }
  }
  
  .ui-datascroller-content.ui-widget-content.ui-corner-all {
    padding: 0;
    border: none;
    border-right-color: $caseRelatedTaskContentBorder !important;
  }
  
  .case-related-task-case-running ul li:first-child {
    .related-task-content {
      border-top: none !important;
    }
  }

  .case-related-task-case-running ul li:last-child {
    .related-task-content {
      border-bottom: 1px solid $caseRelatedTaskContentBorder !important;
    }
  }
}

.case-detail-name-inplace-edit {
  .ui-inplace-display.ui-state-highlight {
    background-color: $textboxBgColor;
    padding: 3px;
    border-radius: $borderRadius;
  }
}

.case-detail-header {
  font-size: $largeFontSize;
  font-weight: $caseDetailHeaderFontWeight;
}

.note-show-more-link {
  color: $noteShowMoreLinkColor !important;
}

.note-show-more-link:hover {
  color: $noteShowMoreLinkHoverColor !important;
}

.related-task-content .related-task,
.case-related-running {
  color: $caseRelatedTaskColor !important;
}

.related-task-content .related-task:hover {
  color: $caseRelatedTaskHoverColor !important;
}

.additional-case-details-link {
  color: $additionalCaseDetailLinkColor !important;
  font-weight: $additionalCaseDetailLinkFontWeight;
}

.additional-case-details-link:hover {
  color: $additionalCaseDetailLinkHoverColor !important;
}

.related-task-content,
.case-related-running,
.no-running-task-case {
  border: 1px solid $caseRelatedTaskContentBorder;
}

.no-running-task-case {
  border-top: none !important;
  margin-bottom: 10px;
}

.case-details-note-add-link-icon {
  font-size: $largeFontSize;
}

/**Style for Absences and Debuty  --------------------------------------*/
.substituted-user-text {
  font-size: $largeFontSize;
}

.not-display-result-tab-view {
  font-size: $smallFontSize;
}

/** Style for Task Template * --------------------------------------*/
.task-template-title {
  font-size: $largeFontSize;
  font-weight: $taskTemplateTitleFontWeight;
}

.ui-outputlabel.task-template-title {
  font-size: $largeFontSize !important;
  font-weight: $outputLabelTaskTemplateTitleFontWeight;
}

.process-history-empty-message .ui-outputlabel {
  font-size: $smallFontSize;
}

.task-template-content .task-actions-button:focus {
  outline: $taskTemplateActionButtonFocus;
}

/** Style for Line Horizontal  --------------------------------------*/
.line-process-chain .line-horizontal-process-step {
  font-size: $smallFontSize;
}

.compact-process-widget .toggle-processes-link,
.compact-toggle-tasks-link {
  font-size: $largeFontSize !important;
}

/* Style for Start Menu Item-----------------------------*/
.layout-wrapper .layout-sidebar .layout-menu>li>a.current-application {
  border-bottom: 1px solid $menuItemCurrentApplicationBorderBottomColor;
}

.layout-wrapper .layout-sidebar .layout-menu>li:not(.active-menuitem)>a.current-application {
  border-bottom-color: $sidebarMenuInactiveItemCurrentAppBorderBottomColor !important;
}

/* Style for SubMenu Item-----------------------------*/
.submenu-container {
  background-color: $submenuBgColor;
}

.submenu-container.active-menuitem a:hover {
  background-color: $subMenuItemLinkHoverBackgroundColor !important;
}

.submenu-container a {
  background-color: $subMenuItemLinkBackgroundColor !important;
}


.layout-wrapper .layout-sidebar .layout-menu .submenu-container a:hover {
  background-color: $subMenuItemLinkHoverBackgroundColor !important;
}

.submenu-container.active-menuitem a:not(:hover) i,
.submenu-container.active-menuitem a:not(:hover) {
  color: $accentColor !important;
}

/* Style for Filter Widget -----------------------------**/
.task-widget .advanced-filter:hover, 
.case-widget-container .advanced-filter:hover,
.task-widget .filter-selection-container:hover,
.case-widget-container .filter-selection-container:hover {
  background-color: $widgetAdvancedFilterHoverBackroundColor;
  border-color: $widgetAdvancedFilterHoverBorder;
}

.task-widget .filter-selection-container,
.case-widget-container .filter-selection-container {
  border: solid $widgetFilterSelectionContainerBorder 1px;
  background: $widgetAdvancedFilterBackgroundColor;
}

.task-widget .ui-widget.ui-button.advanced-filter-command.ui-state-hover,
.task-widget .ui-widget.ui-button.advanced-filter-command.ui-state-active,
.task-widget .ui-widget.ui-button.advanced-filter-command.ui-state-focus,
.case-widget-container .ui-widget.ui-button.advanced-filter-command.ui-state-hover,
.case-widget-container .ui-widget.ui-button.advanced-filter-command.ui-state-active,
.case-widget-container .ui-widget.ui-button.advanced-filter-command.ui-state-focus {
  background: $widgetAdvancedFilterCommandStateFocusBackgroundColor !important;
}

.task-widget .ui-overlaypanel.advanced-filter-panel .ui-overlaypanel-footer,
.case-widget-container .ui-overlaypanel.advanced-filter-panel .ui-overlaypanel-footer {
  border-top: solid 1px $widgetAdvancedFilterOverlayPanelFooter;
}

.advanced-filter-icon {
  color: $widgetAdvancedFilterIconColor !important;
  font-size: 1.8rem;
}

.task-widget .ui-overlaypanel.advanced-filter-panel,
.task-widget .ui-overlaypanel.advanced-filter-panel .ui-overlaypanel-content,
.case-widget-container .ui-overlaypanel.advanced-filter-panel,
.case-widget-container .ui-overlaypanel.advanced-filter-panel .ui-overlaypanel-content,
.task-widget .ui-overlaypanel.filter-add-panel .ui-overlaypanel-content,
.case-widget-container .ui-overlaypanel.filter-add-panel .ui-overlaypanel-content {
  background-color: $taskWidgetOverlayPanelContentBackgroundColor;
}

.history-note a, .history-note .task-note-link {
  color: $historyNoteColor !important;
}

.history-note {
  border-left: 1px solid $historyNoteBorder !important;
}

.history-note .task-note-link:hover {
  color: $taskNoteLinkHoverColor !important;
}

.case-document-name a, .task-document-name a {
  color: $caseTaskDocumentNameColor !important;
}

:-ms-input-placeholder, :root .case-detail-body .history-note a {
  display: inline !important;
}

/*Style for Case Item --------------------------------------------------------------------------------------*/
.case-list-unsortable-header-cell {
  font-size: $largeFontSize;
  color: $caseListUnsortableHeaderCellTextColor;
}

a.case-details-document-add-link,
a.task-details-document-add-link,
span.case-details-document-add-link,
span.task-details-document-add-link {
  font-size: $largeFontSize ;
  font-weight: $detailsDocumentAddLinkFontWeight;
}

.case-detail-name-input {
  font-size: $largeFontSize !important;
  font-weight: $caseDetailNameInputFontWeight !important;
}

.case-detail-section-title, .case-history-button-container,
.task-history-button-container {
  font-size: $largeFontSize ;
  font-weight: $historyButtonContainerFontWeight;
}

.case-header-action-cell .action-item .ui-button.ui-widget.ui-state-hover .ui-button-text,
.case-header-action-cell .action-item .ui-button.ui-widget.ui-state-hover .ui-button-icon-left.ui-icon.ui-icon-triangle-1-s:before,
.case-header-action-cell .action-item .ui-button.ui-widget.ui-state-focus .ui-button-text,
.case-header-action-cell .action-item .ui-button.ui-widget.ui-state-focus .ui-button-icon-left.ui-icon.ui-icon-triangle-1-s:before {
   color: $primaryTextColor !important; 
}

.case-header-action-cell .action-item .ui-button {
  background: $caseHeaderActionCellButtonBackgroundColor;
  outline: $caseHeaderActionCellButtonBackgroundColor;
}

.action-steps-panel .case-action-separator,
.options-panel hr.u-separator {
  border: 0.8px solid $caseActionSeparatorBorderColor;
}

.case-list-item {
  background-color: $caseListItemBackgroundColor;
}

.case-list-item:hover {
  background-color: $caseListItemHoverBackgroundColor !important;
}
.case-list-item.case-odd-row {
  background-color: $caseOddRowBackgroundColor;
}

.case-widget-container .widget-column-header .is-selected {
  color: $caseWidgetColumnHeaderIsSelectedColor !important;
}

.case-header-name-desc-cell .case-header-desc-cell {
  color: $caseItemDescriptionCell;
}

.action-steps-panel .ui-overlaypanel-content {
  background-color: $caseActionStepsContentsBackgroundColor;
}

.action-steps-panel {
  font-size: $largeFontSize;
}

.action-steps-panel.ui-menu .ui-menu-list li.ui-menuitem .ui-menuitem-link {
  color: $actionStepTextColor !important;
}

.action-steps-panel.ui-menu .ui-menu-list li.ui-menuitem .ui-menuitem-link:hover {
  color: $actionStepHoverTextColor !important;
}

.action-steps-panel.ui-menu .ui-menu-list li.ui-menuitem .ui-menuitem-link.ui-state-disabled {
  color: $actionStepDisabledTextColor !important;
}

.action-steps-panel .action-step-item:hover {
  background-color: $caseItemActionStepsItemHoverBackgroundColor;
  color: $caseItemActionStepsItemHoverTextColor !important;
}

.case-state-in-progress {
  color: $caseStateInProgressColor;
}

.case-state-done {
  color: $caseStateDoneColor;
}

.case-widget-container .case-widget-top-header {
  border-bottom: 1px solid $caseWidgetTopHeaderBorderBottom;
}

.case-widget-container .widget-column-header,
.case-default-widget-container .widget-column-header {
  border-bottom: 1px solid $caseWidgetColumnHeaderBorderBottom;
}

.case-list .ui-datascroller,
.case-list .ui-datascroller .ui-datascroller-content {
  background-color: $caseListDataScrollerContentBackgroundColor;
}

.case-header-action-cell, .task-header-action-cell {
  border-left: solid 1px $headerActionActionLeftBorderColor;
}

.action-steps-panel .action-icon {
  font-size: $largeFontSize;
}

/*Process --------------------------------------*/
.expand-collapse-btns .expand-collapse-btn {
  color: $expandCollapseButtonColor !important;
  background-color: $collapseButtonBackgroundColor;
  font-size: $smallFontSize;
}

.expand-collapse-btns a.expand-collapse-btn:hover {
  background-color: $collapseButtonHoverBackgroundColor;
}

.process-widget .process-nav .process-nav-item { 
  color: $processNavigatorItemColor !important;
  font-size: $largeFontSize;
}

.process-widget .process-nav .process-nav-item.selected {
  font-weight: $selectedProcessNavItemFontWeight;
}

.process-widget .process-nav .process-nav-item.disabled {
  color: $processNavItemDisableColor !important;
}

.process-widget .process-nav {
  border-left: 1px solid $processNavigatorBorder;
}

.process-widget .process-nav .process-nav-item.selected:before {
  border-left: 3px solid $processNavigatorItemSelectedBorder;
}

.process-start-list-item,
.process-widget .order-list-items.ui-orderlist .ui-orderlist-list .ui-orderlist-item {
  background-color: $processOrderListItemBackgroundColor;
  color: $processStartListItemColor;
}

.process-start-list-item:hover,
.process-widget .order-list-items.ui-orderlist .ui-orderlist-list .ui-orderlist-item:hover {
  background: $processStartListItemHoverBackgroundColor;
  -webkit-box-shadow: 0 0 4px 0 rgba($processOrderItemHoverBoxShadowColor, 0.8);
  -moz-box-shadow: 0 0 4px 0 rgba($processOrderItemHoverBoxShadowColor, 0.8);
  box-shadow: 0 0 4px 0 rgba($processOrderItemHoverBoxShadowColor, 0.8);
}

.process-start-list-item:hover .process-start-list-item-name,
.process-widget .order-list-items.ui-orderlist .ui-orderlist-list .ui-orderlist-item:hover .process-start-list-item-name {
  font-weight: $processStartListItemNameFontWeight;
}
.process-history-list .ui-widget-content {
  border: none !important;
}

.process-history-list .ui-datascroller {
  background-color: $processHistoryListDataScrollerBackgroundColor;
}

.process-history-column-header .is-selected {
  color: $processHistoryColumnHeaderIsSelectedColor !important;
}

.process-history-column-header {
  border-bottom: 1px solid $processHistoryColumnHeaderBorder;
}

.process-history-empty-message .ui-outputlabel {
  color: $processHistoryMessageLabelColor;
}

.process-start-list-item .ui-commandlink,
.process-start-list-item .ui-link,
.process-widget .order-list-items.ui-orderlist .ui-orderlist-list .ui-orderlist-item .ui-commandlink,
.process-widget .order-list-items.ui-orderlist .ui-orderlist-list .ui-orderlist-item .ui-link,
.process-widget .order-list-items.ui-orderlist .ui-orderlist-list table tr td,
.process-widget .order-list-items.ui-orderlist .ui-orderlist-list .ui-orderlist-item.ui-state-hover tr td {
  color: $processStartListItemColor !important;
}

.compact-process-widget .toggle-processes-link.fa-plus:before,
.compact-toggle-tasks-link.fa-plus:before {
  font-family: $iconFontFamily !important;
  font-size: $largeFontSize !important;
}

.compact-process-widget .toggle-processes-link.fa-minus:before,
.compact-toggle-tasks-link.fa-minus:before {
  font-family: $iconFontFamily !important;
  font-size: $largeFontSize !important;
}

.process-header .process-header-title-container {
  border-bottom: 1px solid $processHeaderTitleContainerBorderBottom;
}

.process-header .create-express-workflow-icon,
.express-process-logo {
  background-color: $processExpressLogoBackgroundColor !important;
}

.process-item-action-container {
  font-size: $largeFontSize;
}

.process-start-list-item .process-start-list-item-action .process-description,
.process-start-list-item .ui-commandlink.process-item {
  font-size: 1.5rem;
}

/* Task Widget --------------------------------**/
.filter-selection-form label,
.filter-selection-form a.ui-commandlink,
.filter-selection-form a.ui-commandlink:hover {
  color: $taskWidgetLinkColor !important;
}

.filter-selection-form .filter-name-overlay-panel .ui-overlaypanel-content {
  background-color: $taskWidgetOverlayPanelContentBackgroundColor;
}

.filter-selection-form .filter-name-overlay-panel .user-defined-filter-container:hover {
  background-color: $taskFilterSelectionFormHoverBackgroundColor;
}

.filter-name-overlay-panel .filter-type-label {
  color: $filterNameLabelColor;
}

a.compact-task-start-link .task-start-list-item {
  background-color: $compactTaskStartLinkItemBackgroundColor;
}

a.compact-task-start-link .task-start-list-item:hover, .task-start-list-item.full-mode:hover {
  background: $compactTaskStartListItemHoverBackgroundColor;
}

.task-start-info-header, .task-start-info-content, .task-start-info-footer {
  color: $compactTaskStartInfoColor;
}

.task-start-info-header {
  font-weight: $taskStartInfoHeaderFontWeight;
}

.task-start-info-task-id {
  font-weight: $taskStartInfoTaskIdFontWeight;
}

.task-start-list .description-cell {
  color: $taskStartListDescriptionCell;
}

.task-odd-row.full-mode {
  background-color: $taskOddRowFullModeBackgroundColor;
}

.filter-name-overlay-panel .filter-separator.ui-separator{
  border-bottom: 1px solid $taskFilterSeparatorBorderBottom;
}

.task-view-container .ui-datascroller,
.task-view-container .ui-datascroller .ui-datascroller-content {
  background-color: $taskViewContainerDataScrollerContentBackgroundColor;
}

.task-widget .filter-container .filter-selection-container-group,
.case-widget-container .filter-container .filter-selection-container-group {
  border-right: solid 1px $filterSelectionContainerGroupBorderColor;
}

#task-description .scroll-panel, .action-icon.icon-compact-mode {
  font-size: $smallFontSize;
  color: $compactTaskStartInfoIconColor;
}

.task-start-list .priority-cell,
.task-start-list .state-cell {
  font-size: $largeFontSize;
}

/* Admin Setting--------------------------*/
.admin-settings-no-permission-message {
  color: $adminSettingNoPermissionMessageColor;
}

#user-setting-container li a {
  font-size: $largeFontSize;
  color: $userSettingContainerLinkColor !important;
}

#user-setting-container li a:hover {
  color: $userSettingContainerLinkHoverColor !important;
}

#user-setting-container {
  border-radius: 0 0 10px 10px $userSettingContainerBoxShadow !important;
  -webkit-box-shadow: 0px 2px 4px 0px $userSettingContainerBoxShadow !important;
  -moz-box-shadow: 0px 2px 4px 0px $userSettingContainerBoxShadow !important;
  box-shadow: 0px 2px 4px 0px $userSettingContainerBoxShadow !important;
}

#user-setting-container.active-menu {
  border-top: solid 1px $userSettingContainerActiveMenuBorder !important;
}

.user-name-show-environment-info {
  font-weight: $usernameShowEnvironmentInfoFontWeight;
}

.new-app, .ui-dialog-footer button {
  -webkit-box-shadow: 0 1px 2.5px 0 rgba($dialogFooterButtonBoxShadowColor, 0.26), 0 1px 5px 0 rgba($dialogFooterButtonBoxShadowColor, 0.16) !important;
  box-shadow: 0 1px 2.5px 0 rgba($dialogFooterButtonBoxShadowColor, 0.26), 0 1px 5px 0 rgba($dialogFooterButtonBoxShadowColor, 0.16) !important;
}

/* Absences and Debuty -------------------------*/
.substituted-user-text {
  color: $substitutedUserTextColor;
}

/*Awesome Icon Selection--------------------------*/
.select-awesome-icon-button {
  color: $linkChangeAwesomeIconColor !important;
  font-weight: $selectAwesomeIconButtonFontWeight;
  font-size: $smallFontSize;
}

.ui-widget-content a.icon-selection-dialog-selecting-icon {
  color: $contentLinkChangeAwesomeIconColor;
}

.chart-filter-info-icon {
  opacity: 0.75;
  font-size: $largeFontSize !important;
}

.icon-selection-dialog-selecting-icon {
  border: solid 1px $iconSelectionDialogBorder;
}

.icon-selection-dialog-selecting-icon:hover {
  border: solid 1px $iconSelectionDialogBorderHover;
}

/*Start Notification ----------------------------*/
.notification-content {
  background: $notificationContentBackgroundColor;
  font-size: $smallFontSize;
}

.notification-content-message,
.notification-content-action-more-details {
  color: $notificationContentActionColor;
}

.notification-content-action-close:before, .notification-content-action-close:after {
  background: $notificationContentActionColor;
}

.notification-content-action-close:hover:before, .notification-content-action-close:hover:after {
  background: $notificationContentActionHoverBackgroundColor;
}

/* Stages breadcrumb -------------------*/
.stages-chain .visited i {
  color: $stagesChainVisitedColor;
}

.stages-chain .waiting i {
  color: $stagesChainWaitingColor;
}

.stages-chain .process-flow .flow-txt .visible {
  background: $stagesChainProcessFlowVisibleBackgroundColor;
}

.stages-chain .process-step i{
  font-size: 1.6rem;
}

/* Task Action Item-----------------------*/
.task-action-item .task-action-item-label {
  font-weight: $taskActionItemLabelFontWeight;
}

.action-button.task-action-item .ui-button-icon-left.ui-icon {
  color: $taskActionLeftIconColor !important;
}

.task-actions-menu .ui-slidemenu-backward.ui-widget-header {
  background-color: $taskActionItemWidgetHeaderColor;
  color: $primaryTextColor;
}

.task-actions-menu .ui-slidemenu-backward.ui-widget-header .ui-icon.ui-icon-triangle-1-w {
  color: $primaryTextColor;
}

.task-actions-menu ul li a {
  &:hover {
    span {
      color: $actionStepHoverTextColor !important;
    }
  }

  span {
    color: $actionStepTextColor !important;
  }

  &.ui-state-disabled {
    color: $actionStepDisabledTextColor !important;
  }
}

/*Style for Message -------------------------*/
.no-documents-message {
  font-size: $largeFontSize;
}

/*Style for Global Search--------------------*/
.global-search-input {
  font-size: $largeFontSize;
}

/*Style for Error Page*/ 
.error-container {
  color: $errorContainerColor;
}

.message {
  background-color: $errorMessageBackgroundColor;
}

.message .message-header {
  color: $errorMessageHeaderColor;
}

/* Express */
.ui-widget.ui-button.defined-task-button {
  border: solid 2px $definedTaskButtonBorderColor;
  background-color: $definedTaskButtonBackgroundColor;
}

.express-work-flow .express-input-switch-selection,
.ui-inputswitch.ui-widget.ui-widget-content.express-input-switch-selection.ui-inputswitch-checked {
  background-color: $expressInputSwitchSelectionBackgroundColor;
  border-color: $expressInputSwitchSelectionBorder;
}

.express-input-switch-selection .ui-inputswitch.ui-inputswitch-checked .ui-inputswitch-handle, 
.express-input-switch-selection .ui-inputswitch-handle.ui-state-default {
  background-color: $expressInputSwitchHandleBackgroundColor !important;
}

.available-elements-action-btn button {
  background-color: $expressAvailableElementsActionButtonBackgroundColor !important;
  box-shadow: $expressAvailableElementsActionButtonShadow !important;
}

.task-responsible-label.ui-state-error {
  color: $taskResponsibleLabelStateErrorColor;
}

.assignee-selection-panel .delete-assignee {
  color: $expressAssigneeIconColor !important;
}

.selected-formelements-panel.hover-drop-section {
  background-color: $formElementsPanelHoverDropSectionBackgroundColor;
}

.review-content-title {
  font-weight: $expressReviewContentTitleFontWeight;
  border-bottom: 1px solid $expressReviewContentTitleBorderColor;
}

.express-table-no-header .ui-datatable-header.ui-widget-header.ui-corner-top {
  color: $formElementsCheckboxFieldsColor;
  background-color: $expressTableNoHeaderBackgroundColor;
  border-color: $expressTableNoHeaderBorder;
}

.defined-task-label {
  background: $definedTaskLabelBackgroundColor;
} 

.defined-task-label label {
  font-size: $smallFontSize;
}

.defined-task-button-container .ui-state-hover ~ span.defined-task-label,
.defined-task-button-container .active ~ span.defined-task-label,
.defined-task-button-container .visited ~ span.defined-task-label {
  background: $definedTaskButtonContainerBackgroundColor;
}

.form-definition-table .ui-state-highlight,
.form-definition-table .hover-drop-section {
  color: $formElementsPanelHoverDropSectionLabelColor;
}

.form-definition-table {
  border: solid 4px $formDefinitionTableBorder;
}

.form-definition-table .selected-formelements-panel {
  border: dashed 2px $formDefinitionTableSelectedPanelBorder;
}

.form-definition-table .selected-formelements-panel .ui-datagrid {
  background: $formDefinitionTableSelectedPanelBackgroundColor;
}

.email-attachment .ui-fileupload-buttonbar.ui-widget-header.ui-corner-top {
  background-color: $emailFileUploadCornerTopBackgroundColor !important;
}

.task-responsible-link {
   font-size: $largeFontSize;
}

.task-responsible-link:after {
  font-family: $iconFontFamily;
}

.express-work-flow label.switch-active {
  font-weight: $expressWorkflowActiveSwitchLabelFontWeight !important;
}

.finished-task-label {
  font-weight: $expressFinishedTaskLabelFontWeight;
}

.ui-widget.ui-button.defined-task-button.active {
  font-weight: $expressActiveDefinedTaskButtonFontWeight;
}

.ui-autocomplete-panel .ui-autocomplete-items .ui-autocomplete-moretext.ui-state-highlight,
.ui-autocomplete-panel .ui-autocomplete-items .ui-autocomplete-moretext.ui-state-highlight td {
 background-color: $autocompleteMoreTextStateHighlightBackgroundColor;
}

/* Chat*/
.notification-badge i.fa.fa-comment {
  font-size: $notificationBadgeIconFontSize !important;
}

.chat-panel {
  background: $chatPanelBackgroundColor;
}

.contact-card:hover .contact-card-icon, .contact-card.active .contact-card-icon {
  color: $contactCardBackgroundColor;
  background: $chatPanelBackgroundColor;
}

.no-group-chat {
  color: $noGroupChatColor;
  font-size: $largeFontSize;
}

.contact-card:hover {
  background: rgba($contactCardBackgroundColor, 0.85);

  .contact-card-name {
    color: $contactCardName;
  }
}

.contact-card.active {
  background: $contactCardBackgroundColor;

  .contact-card-name {
    color: $contactCardName;
  }
}

.contact-card-icon {
  color: $contactCardIconColor;
  font-size: $contactCardIconFontSize;
  background: $contactCardBackgroundColor;
}

.contact-card-icon[unread-message]:after {
  background: $contactCardIconUnreadMessageBackgroundColor;
  color: $contactCardIconUnreadMessageColor;
  font-size: $contactCardIconAfterFontsize;
}

.contact-card-name {
  color: $contactCardNameColor;
  font-size: $largeFontSize;
}

.contact-card-status {
  background: $contactCardStatusBackgroundColor;
}

.contact-notification {
  color: $contactNotificationColor;
  background-color: $contactNotificationBackgroundColor;
}

.contact-card-status.is-offline {
  background: $contactCardIconOfflineColor;
}

.message-list {
  background: $messageListBackgroundColor;
  box-shadow: $chatBoxShadow;
}

.message-list-header {
  background: $messageListHeaderBackgroundColor;
  box-shadow: $chatBoxShadow;
}

.show-participants-link,
.message-list-header-close {
  color: $messageListHeaderCloseIconBackgroundColor !important;
}

.message-list-header-close {
  font-size: $chatContactTypeHeaderFontSize;
}

.chat-message-list .chat-message {
  font-size: $largeFontSize;
  background: $chatMessageBackgroundColor;
}

.chat-message-list .my-message .chat-message {
  background: $chatMyMessageBackgroundColor;
}

.message-chat-header-name {
  font-weight: $messageChatHeaderNameFontWeight;
  color: $messageChatHeaderNameColor;
  font-size: $chatContactTypeHeaderFontSize;
}

.show-participants-link:hover {
  color: $showParticipantsLinkColor !important;
}

.chat-send-form {
  background: $chatFormBackgroundColor;
}

.notification-badge[data-badge]:after {
  background-color: $notificationBadgeBackgroundColor;
  color: $notificationBadgeColor;
  font-size: $notificationBadgeFontSize;
}

.chat-contact {
  -webkit-box-shadow: $chatContactsBoxShadow;
  -moz-box-shadow: $chatContactsBoxShadow;
  box-shadow: $chatContactsBoxShadow;
}

.chat-contact-type-header {
  color: $chatContactTypeHeaderColor;
  font-size: $chatContactTypeHeaderFontSize;
}

.chat-meta .tooltip {
  color: $chatTooltipColor;
  background-color: $chatTooltipBackgroundColor;
}

.chat-send-form .ui-widget.ui-button {
  background: $chatSendFormButtonBackgroundColor;
  
  .ui-icon {
    font-size: $chatContactTypeHeaderFontSize !important;
  } 
}

.message-list-content-send-input {
  background: $messageListContentSendInputBackgroundColor;
}

.role-name,
.participants-list-header {
  color: $participantsListHeaderColor;
  font-size:  $largeFontSize;
  font-weight: $participantsListHeaderFontWeight;
}

ul.users-in-role {
  border: solid 1px $chatUserInRoleBorder !important;
}

ul.participants-list li {
  font-size: $largeFontSize;
}

.close-chat {
  button {
    .ui-button-icon-left.ui-icon {
      font-size: $closeChatFontSize !important;
    }
    &.ui-button.ui-button-icon-only {
      background: $lightGrey;
    }
  }
}
/* Ends Chat */

.options-panel .option-item:hover {
  background-color: $taskActionHoverBackgroundColor;
}

.process-widget-action .name-sort-command,
.editing-switch-command,
.show-adding-dialog-commmand {
  font-size:  $smallFontSize;
}

.config-checkbox-container {
  border-bottom: 1px solid $configCheckboxContainerBorder;
}

.mobile-filter-icon span {
  font-size: $largeFontSize !important;
}

.user-name {
  font-size: $largeFontSize;
}

.show-environment-info {
  font-size: 1.1rem;
}

.global-search-icon {
  font-size: $largeFontSize;
}

.action-button .ui-button-icon-right.ui-icon.ui-c {
  font-size: 2rem !important;
}