version: '3.7'
services:
  ivy:
    image: axonivy/axonivy-engine:12.0
    container_name: ivy-10
    ports:
     - 8010:8080
    volumes:
     - ./ivy.yaml:/etc/axonivy-engine/ivy.yaml
     - ./applications:/usr/lib/axonivy-engine/applications
     - ./configuration:/usr/lib/axonivy-engine/configuration
     - ./data:/usr/lib/axonivy-engine/data
     - ./work:/usr/lib/axonivy-engine/work
     - ./logs:/usr/lib/axonivy-engine/logs
    networks:
     - postgres_network
networks:
  postgres_network:
    external: true
