html {
	font-size: 10px;
}

.custom-varchar {
	flex: 0 0 150px;
}

.custom-datetime {
	flex: 0 0 90px;
}

.custom-task-details-panel-top {
  background-color: #c7d426;
}

.custom-task-details-panel-middle {
  background-color: rgba(0,0,0,0.5);
}

.custom-task-details-panel {
  background-color: #f0c5ac;
}

.custom-general-panel {
  height: 100%;
}

.custom-task-middle-container {
 padding-left: 0px !important;
 padding-right: 0px !important; 
 padding-bottom: 18px;
}

.custom-task-panel-middle {
  height: 343px;
  margin-top: 15px;
  margin :0;
}

.custom-task-panel {
 padding-left: 14px;
 padding-right : 14px;
}
.custom-task-details-panel, .custom-task-details-panel-top,.custom-task-details-panel-middle {	
	text-align: center;
	font-size: 1.2rem;
	height: 245px;
}

.custom-case-details-panel-override-height {
  height: auto !important;
}

.custom-case-details-panel-font-size {
  font-size: 1.6rem !important;
}
.custom-task-left-component {
  padding-bottom: 15px !important;
}

.customized-case-header-column {
	flex: 0 0 155px;
	text-align: center;
}

.customized-home-custom-widget {
	border: 2px solid;
	text-align: center;
	height: 500px;
}

.welcome-page-div {
	text-align: center;
}

.login-container {
	height: 100%;
	margin: 0;
}

.customized-login-bg {
	background-image: url("#{resource['ivy-webcontent:images/login/Login-HD.jpg']}");
	filter: blur(4px);
	-webkit-filter: blur(4px);
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.customized-login {
	background-color: transparent;
	color: white;
	font-weight: bold;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 80%;
	padding: 20px;
	text-align: center;
}

.customized-login-form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 430px;
	background-color: white;
	border-radius: 20px;
	text-align: center;
	padding: 30px 20px;
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 6px 10px 0 rgba(0, 0, 0, 0.14);
}

.customized-login-form .title {
	margin: 0;
	font-size: 2rem;
	color: #212121;
}

.customized-login-form .input.ui-inputfield {
	margin: 18px auto 0;
	padding: 0 !important;
	text-align: center;
	display: block;
	width: 70%;
	background: transparent;
	font-size: 1.8rem;
}

.customized-login-form .login-command {
	font-size: 1.4rem;
	color: black !important;
	text-decoration: none !important;
	outline: none !important;
}

.customized-login-form .ui-messages.ui-messages-noicon ul {
	margin: 0;
}

.customized-login-form .ui-messages-error {
	border: none;
	margin: 10px 0 0;
	padding: 0 !important;
	color: red !important;
	background: transparent !important;
	text-align: center;
}

.process-chain-container-iframe {
	height: calc(var(--vh, 1vh) * 100 - 32px);
	margin: 0 20px;
}

.process-chain-test-form {
	padding: 0.5em 1em;
}

.process-chain-test,
.process-chain-test-button {
	height: 150px;
}

.process-chain-test-vertical,
.process-chain-test-vertical-line {
	height: 500px !important;
	float: left;
}

.process-chain-test-vertical {
	width: 200px;
}
.process-chain-test-button,
.process-chain-test-vertical-line {
	width: 600px !important;
}

.floating-label-margin-top {
	margin-top: 6px;
}

.mg-top-20 {
  margin-top: 20px;
}

.assign-task-to-selected-user,
.assign-task-to-selected-role {
	margin-top: 15px;
	float:right;
}

.assign-task-to-selected-user-panel.display-block {
	display: block;
}

.width-100, .width-100 .ui-autocomplete-input{
	width: 100%;
}

.user-selection-component-header {
	margin-left: 10px;
}

@media screen and (max-width: 40em) {
  .document-table-component .document-creator-column,
  .document-table-component .document-created-column,
  .document-table-component .document-customer-column {
    display: none;
  }
}

.code-block {
  display: inline-block;
  white-space: nowrap;
  max-width: 100%;
  background: #fff;
  border: 1px solid #e1e4e5;
  padding: 2px 5px;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, Courier, monospace;
  color: #e74c3c;
  overflow-x: auto;
}

.font-size-75 {
  font-size: 75%;
}