version: '3.7'
services:
  ivy:
    image: axonivy/axonivy-engine:12.0
    container_name: ivy-performance-10
    ports:
     - 9010:8080
    volumes:
     - ./licence-10.lic:/etc/axonivy-engine/licence.lic
     - ./ivy.yaml:/etc/axonivy-engine/ivy.yaml
     - ./configuration-app-portal:/usr/lib/axonivy-engine/configuration/applications/Portal
     - ./applications:/usr/lib/axonivy-engine/applications
     - ./data:/usr/lib/axonivy-engine/data
     - ./work:/usr/lib/axonivy-engine/work
     - ./logs:/usr/lib/axonivy-engine/logs
    networks:
     - postgres_network
networks:
  postgres_network:
    external: true       
