@CHARSET "UTF-8";

.circularImg {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  overflow: hidden;
}

.circularGroupImg {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  overflow: hidden;
}

.flowpanelHot {
  background-color: #eeeeee;
  border: 1px solid;
  border-radius: 10px;
  border-color: rgb(237, 0, 0);
  height: 80px;
}

.flowpanel {
  height: 80px;
}

.iconButton {
  border: 0px;
}

.flowpanelButton {
  border: 0px;
}

.panel {
  background-color: #eeeeee;
}

.acm-task-deletion-button {
  background-color: #eeeeee;
}

.acm-task-deletion-button.ui-button.ui-button-icon-only .ui-button-text {
  padding: 0px !important;
}

.font-bold {
  font-weight: bold !important;
}

.case-info, .task-description, .comment {
  width: 500px;
}

.acm-user-list-form table {
  width: 100%;
}

.acm-user-list-form .add-user-list {
  width: 100%;
}

_:-ms-fullscreen, :root .add-user-list {
  width: 97%;
}

.acm-user-list-form .add-user-list .ui-autocomplete-input {
  width: 92%;
}

.acm-user-list-form .add-user-button {
  float: right;
  margin-top: 10px;
  margin-bottom: 20px;
}

_:-ms-fullscreen, :root .acm-user-list-form .add-user-button {
  margin-right: 15px;
}

.acm-user-list-form .select-user-ok-button {
  margin-top: 20px;
}

.acm-user-list-form .acm-assignee-selection {
  width: 100%;
}

.acm-user-list-form .selected-user-panel {
  margin: 0;
}

#main-area-panel {
  overflow-x: hidden;
  overflow-y: auto;
}