.wy-side-nav-search {
    /*background-color: #a4b104;*/
    background-color: #616161;
}

/* fix coloring of visited links */
.wy-nav-content a:visited  {
    color: #2980B9;
}

/* spaces between single li elements */
.wy-nav-content li {
    margin: 0 0 4px 0;
}

/* make images captions nice */
.wy-nav-content p.caption {
    margin-top: 10px;
}
.wy-nav-content p.caption span.caption-text {
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
}

/* fix table widhts */
/* https://rackerlabs.github.io/docs-rackspace/tools/rtd-tables.html */
@media screen and (min-width: 767px) {

    .wy-table-responsive table td {
       /* !important prevents the common CSS stylesheets from overriding
          this as on RTD they are loaded after this stylesheet */
       white-space: normal !important;
       vertical-align: top !important;
    }
 
    .wy-table-responsive {
       overflow: visible !important;
    }
 }