/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url("\#{resource['serenity-layout:fonts/roboto-v15-latin-300.eot']}"); /* IE9 Compat Modes */
  src: local('Roboto Light'), local('Roboto-Light'),
       url("\#{resource['serenity-layout:fonts/roboto-v15-latin-300.eot']}#iefix") format('embedded-opentype'), /* IE6-IE8 */
       url("\#{resource['serenity-layout:fonts/roboto-v15-latin-300.woff2']}") format('woff2'), /* Super Modern Browsers */
       url("\#{resource['serenity-layout:fonts/roboto-v15-latin-300.woff']}") format('woff'), /* Modern Browsers */
       url("\#{resource['serenity-layout:fonts/roboto-v15-latin-300.ttf']}") format('truetype'), /* Safari, Android, iOS */
       url("\#{resource['serenity-layout:fonts/roboto-v15-latin-300.svg']}#Roboto") format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("\#{resource['serenity-layout:fonts/roboto-v15-latin-regular.eot']}"); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url("\#{resource['serenity-layout:fonts/roboto-v15-latin-regular.eot']}#iefix") format('embedded-opentype'), /* IE6-IE8 */
       url("\#{resource['serenity-layout:fonts/roboto-v15-latin-regular.woff2']}") format('woff2'), /* Super Modern Browsers */
       url("\#{resource['serenity-layout:fonts/roboto-v15-latin-regular.woff']}") format('woff'), /* Modern Browsers */
       url("\#{resource['serenity-layout:fonts/roboto-v15-latin-regular.ttf']}") format('truetype'), /* Safari, Android, iOS */
       url("\#{resource['serenity-layout:fonts/roboto-v15-latin-regular.svg']}#Roboto") format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("\#{resource['serenity-layout:fonts/roboto-v15-latin-700.eot']}"); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url("\#{resource['serenity-layout:fonts/roboto-v15-latin-700.eot']}#iefix") format('embedded-opentype'), /* IE6-IE8 */
       url("\#{resource['serenity-layout:fonts/roboto-v15-latin-700.woff2']}") format('woff2'), /* Super Modern Browsers */
       url("\#{resource['serenity-layout:fonts/roboto-v15-latin-700.woff']}") format('woff'), /* Modern Browsers */
       url("\#{resource['serenity-layout:fonts/roboto-v15-latin-700.ttf']}") format('truetype'), /* Safari, Android, iOS */
       url("\#{resource['serenity-layout:fonts/roboto-v15-latin-700.svg']}#Roboto") format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("\#{resource['serenity-layout:fonts/MaterialIcons-Regular.eot']}"); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url("\#{resource['serenity-layout:fonts/MaterialIcons-Regular.woff2']}") format('woff2'),
       url("\#{resource['serenity-layout:fonts/MaterialIcons-Regular.woff']}") format('woff'),
       url("\#{resource['serenity-layout:fonts/MaterialIcons-Regular.ttf']}") format('truetype');
}

@font-face {
  font-family: "true-minimalistic-icons";
  src:url("\#{resource['true-minimalistic-icons:true-minimalistic-icons.eot']}");
  src:url("\#{resource['true-minimalistic-icons:true-minimalistic-icons.eot']}?#iefix") format("embedded-opentype"),
    url("\#{resource['true-minimalistic-icons:true-minimalistic-icons.woff']}") format("woff"),
    url("\#{resource['true-minimalistic-icons:true-minimalistic-icons.ttf']}") format("truetype"),
    url("\#{resource['true-minimalistic-icons:true-minimalistic-icons.svg']}#true-minimalistic-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}


