/* Theme Colors */
$red: #ff0000;
$white: #fff;
$black: #000;

/*Grey*/
$grey1: #808080;

$grey2: #e0e0e0;
$grey3: #d8d8d8;
$grey4: #f0f0f0;

/*Consolidate grey*/
$basicGrey: f9fafa;
$paleGrey: #f4f5f5;
$lightGrey: #d9dada; 
$mediumGrey: #9c9d9d;
$darkGrey: #575656;

/* Consolidate green*/

$primaryGreen: red;
$primaryLightGreen: #d7e52c;

$primaryColor: $primaryGreen;
$primaryDarkColor: #97ae04;  /*Change to lightgrey*/
$primaryLightColor: $primaryLightGreen;
$primaryLightestColor: $white;
$primaryTextColor: $black;
$accentColor: $primaryGreen;
$accentDarkColor: $primaryDarkColor;
$accentLightColor: $primaryLightColor;
$accentTextColor: #ecfc82;
$headerPadding: 14px 1em;

$borderColor: rgba($black, 0.1);
$bodyBackgroundColor: $white;

$processChainMenuColor: $primaryGreen;

$loginLogoHeight: 50px;
$homeLogoHeight: 42px;

/* Default Portal styles */
$defaultFontSize: 10px;
$defaultBodyFontSize: 1.4rem;
$largeFontSize: 1.4rem; // font size for header,title, groups, menu
$smallFontSize: 1.2rem; // font size for text, label, input
$portalFontFamily: "Roboto";
$defaultFontStyle: normal;
$defaultFontWeight: 400;
$inplaceEditIconFontSize: 1.8rem;

/* 3 colors of header bar */
$firstHeaderBarColor: $primaryGreen;
$secondHeaderBarColor: $primaryGreen;
$thirdHeaderBarColor: $primaryGreen;

/* Task priority color */
$taskPriorityLowColor: #d4d4d4;
$taskPriorityNormalColor: #96dc82;
$taskPriorityHighColor: #ffc0c0;
$taskPriorityExceptionColor: #ff5a5a;

/* Task state color */
$taskStateOpenColor: #078cff;
$taskStateInProgressColor: #4eb41c;
$taskStateDoneColor: #4eb41c;
$taskStateReservedColor: rgba(black, 0.4);
$taskStateSystemColor: rgba(black, 0.4);
$taskStateZombieDestroyedColor: #ff6464;

/* Color and border radius of Portal button e.g Add, Close, New, Save, OK .. */
$actionButtonColor: $primaryGreen;
$cancelButtonBackgroundColor: #d3d3d3;
$actionButtonBorderRadius: 0px;

/* Color and border radius of context button, 
it only affects when button has attribute styleClass="context-button" */
$contextButtonColor: #7c7c7c;
$contextButtonBorderRadius: $actionButtonBorderRadius;

/* Link */
$commandLinkTextColor: $mediumGrey;
$commandLinkHoveredTextColor: $darkGrey;
$commandLinkActiveTextColor: rgba($black, 0.8); /*Change to grey*/
$commandLinkDisabledTextColor: rgba($black, 0.2);  /*Change to grey*/

/* Fieldset */
$fieldSetTogglerColor: $primaryTextColor;
$fieldSetLegendHoverColor: $white; 
$fieldSetTogglerBackgroundColor: #eee;
$fieldSetNoBorderColor: transparent;

/* Widget header */
$widgetHeaderMainBorderBottomColor: $borderColor;
$widgetTaskListHeaderBorderBottomColor: $borderColor;
$widgetSortMenuBorderBottomColor: $borderColor;
$widgetHeaderInputFieldBackgroundColor: transparent;
$widgetHeaderInputHoverBackgroundColor: transparent;
$widgetHeaderMainMenuTextColor: rgba($black, 0.4); /* Change to grey */

/* Announcement panel color */
$announcementBackgroundColor: #ffff80;
$announcementBorderColor: $red;

/* Process chain */
$lineWaitingStepBackgroundColor: $grey2;
$circleStepNumberColor: $primaryTextColor;
$circleHorizontalStepNumberContainerBorderTopColor: $primaryGreen;
$circleHorizontalStepNumberContainerBorderTop: $grey2;
$circleHorizontalLastStepNumberContainerBorderTop: $primaryGreen;
$circleHorizontalWaitingStepNumberContainerBackgroundColor: transparent;
$circleStepContainerBorder: transparent;
$circleVerticalStepNumberContainerBorder: $grey2;
$circleVerticalStepContainerBackgroundColor: transparent;
$currentLineHorizontalStepTitleFontWeight: bold;
$currentLineVerticalStepTitleFontWeight: bold;
$currentCircleHorizontalStepTitleFontWeight: bold;
$currentCircleVerticalStepTitleFontWeight: bold;

/* Statistic widget */
$statisticPanelHeader: $white;
$statisticPanelHeaderBorder: $white;
$carouselItemPanelGridBorder: $grey2;
$statisticActionPanelBorder: $borderColor;
$statisticFilterAccordionPanelBorder: $grey2;
$dashboardChartPanelChartNameFontWeight: 400;
$chartInfoHeaderFontWeight: bold;
$chartInfoLabelFontWeight: bold;
$chartNameFontSize: 1.6rem;
$chartFilterHeaderFontSize: 1.8rem;
$chartContainerAddLinkFontSize: 1.3rem;
$dashboardChartNameFontSize: 2rem;
$statisticCarouselHeaderButtonHoverColor: rgba($black, 0.8);
$statisticCarouselHeaderButtonColor: rgba($black, 0.5);
$statisticCarouselHeaderColor: rgba($black, 0.8);
$statisticCarouselCardBoxShadowColor: black;

/* Start Menu Item */
$menuItemCurrentApplicationBorderBottomColor: transparent;

/* Submenu Item */
$subMenuItemLinkHoverBackgroundColor: transparent;
$subMenuItemLinkBackgroundColor: transparent;
$subMenuBackgroundColor: rgba($white, 0.6);

/* Filter Widget */
$advancedFilterErrorColor: $red;
$widgetHeaderFilterColor: $black;
$widgetAdvancedFilterBorder: transparent;
$widgetAdvancedFilterHoverBorder: $grey3;
$widgetFilterSelectionContainerBorder: transparent;
$widgetAdvancedFilterCommandStateFocusBackgroundColor: none;
$widgetAdvancedFilterOverlayPanelFooter: #eaeaea;
$widgetAdvancedFilterCommandBackgroundColor: none;
$widgetAdvancedFilterBackgroundColor: none;
$filterWidgetInputTextColor: rgba($black, 0.5); /* Change to grey*/
$widgetAdvancedFilterIconColor: rgba($black, 0.3); /* Change to grey*/
$widgetAdvancedFilterHoveredBackroundColor: rgba($black, 0.04); /* Change to grey*/
$filterNameLabelColor: rgba($black, 0.6); /* Change to grey*/
$filterSelectionContainerGroupBorderColor: rgba($black, 0.5); /* Change to grey*/
$categoryInputFieldBoxShadowColor: rgba(black, 0.3); /* Change to grey*/

/* Process */
$processNavigatorItemColor: $black;
$processStartListItemHoverBackgroundColor: $white;
$processHistoryColumnHeaderIsSelectedColor: $black;
$processHistoryMessageLabelColor: $black;
$processStartListItemColor: $primaryTextColor;
$processHeaderTitleContainerBorderBottom: $borderColor;
$processNavigatorBorder: $borderColor;
$processNavigatorItemSelectedBorder: $primaryGreen;
$processHistoryColumnHeaderBorder: $borderColor;
$processHistoryListDataScrollerBackgroundColor: transparent;
$processOrderListItemBackgroundColor: $paleGrey;
$selectedProcessNavItemFontWeight: bold;
$processStartListItemNameFontWeight: 400;
$processNavItemDisableColor: rgba($black, 0.3);
$processOrderItemHoverBoxShadowColor: black;

$hoveredProcessStartListItemIConColor: $primaryColor;
/* Case Detail */
$caseRelatedTaskColor: $primaryTextColor;
$caseRelatedTaskHoveredColor: rgba($black, 0.6);
$caseDetailPaginatorColor: $primaryTextColor;
$caseRelatedTaskContentBorder: $grey3;
$caseDocumentUploadBorder: #cccccc;
$userDefinedFilterContainerHoverFontWeight: bold;
$caseDetailNameInputFontWeight: bold;
$additionalCaseDetailLinkFontWeight: 400;
$detailsDocumentAddLinkFontWeight: 400;
$caseDetailHeaderFontWeight: bold;
$historyButtonContainerFontWeight: bold;
$caseDetailPaginatorHeaderCornerTopBackgroundColor: rgba($black, 0.05); /*Change to Grey*/
$caseDetailPaginatorHoveredButtonBackgroundColor: rgba($black, 0.05); /*Change to Grey*/

/* Case List */
$caseOddRowBackgroundColor: rgba($black, 0.04);  /* change to grey */

/* Case Item */
$historyNoteColor: $primaryTextColor;
$historyNoteBorder: $grey3;
$linkTextColor: rgba($black, 0.5); /* change to grey */
$additionalCaseDetailLinkColor: $linkTextColor;
$noteShowMoreLinkColor: $linkTextColor;
$noteShowMoreLinkHoveredColor: rgba($black, 0.6);  /* change to grey */
$caseTaskDocumentNameColor: $primaryTextColor;
$caseWidgetColumnHeaderIsSelectedColor: $black;
$caseItemActionStepsItemHoverBackgroundColor: #e8e9ef;
$caseActionStepsContentsBackgroundColor: $white;
$caseActionSeparatorBorderColor: rgba($black, 0.15); /* Change to grey */
$caseStateInProgressColor: rgba(7, 140, 255, 1);
$caseStateDoneColor: rgba(78, 180, 28, 1);
$caseWidgetTopHeaderBorderBottom: $borderColor;
$caseWidgetColumnHeaderBorderBottom: $borderColor;
$caseListDataScrollerContentBackgroundColor: transparent;
$caseHeaderActionCellButtonBackgroundColor: transparent;
$caseHeaderActionDetailItem: rgba($black, 0.5);  /* Change to grey */
$headerActionActionLeftBorderColor: rgba($black, 0.4); /* Consider color */
$caseItemActionStepsFontWeight: bold;
$taskNoteLinkHoveredColor: rgba($black, 0.6); /* Change to grey */
$caseListUnsortableHeaderCellTextColor: $mediumGrey; /* should set same variable color with commandlink for sortable column */
$caseListItemHoverBackgroundColor: #e8e9ef;
$caseListItemBackgroundColor: rgba($white, 0.2);
$caseItemDescriptionCell: rgba($black, 0.4);
$actionStepItemTextColor: rgba($black, 0.5);

/* Case and Task Action Item */
$caseTaskActionButtonHoveredBackgroundColor: rgba($black, 0.05); /*Change to Grey*/
$caseTaskActionButtonIconColor: rgba($black, 0.5); /*Change to Grey*/

/* Task Widget */
$taskFilterSelectionFormHoverBackgroundColor: #f5f5f5;
$compactTaskStartListItemHoverBackgroundColor: rgba($lightGrey, 0.5);
$compactTaskStartLinkItemBackgroundColor: $paleGrey;
$compactTaskStartInfoColor: $primaryTextColor;
$taskWidgetSortMenuLinkIsSelectedColor: $black;
$taskWidgetOverlayPanelContentBackgroundColor: $white;
$taskWidgetLinkColor: $black;
$taskActionHoverBackgroundColor: #f5f5f5;
$taskActionLeftIconColor: $caseTaskActionButtonIconColor;
$taskFilterSeparatorBorderBottom: $borderColor;
$taskViewContainerDataScrollerContentBackgroundColor: transparent;
$taskOptionPanelBoxShadow: rgba(43, 59, 93, 0.6);
$taskOptionPanelBorderTop: rgba(43, 59, 93, 0.2);
$taskWidgetSortMenuFullModeTextColor: rgba($black, 0.6); /* Change to grey */
$taskStartListDescriptionCell: rgba($black, 0.4);
$taskOddRowFullModeBackgroundColor: $paleGrey;

/* Task Detail */
$taskDetailPaginatorColor: $primaryTextColor; 
$taskDetailPaginatorHeaderCornerTopBackgroundColor: rgba($black, 0.05); /*Change to Grey*/
$taskDetailPaginatorHeaderCornerTopBorderColor: $grey3;
$taskDetailPaginatorHoveredButtonBackgroundColor: rgba($black, 0.05); /*Change to Grey*/
$taskDetailActionItemHoverBackgroundColor: transparent;
$taskDetailHeaderFontWeight: bold;
$taskDetailSectionTitleFontWeight: bold;
$taskStartInfoHeaderFontWeight: bold;
$taskStartInfoTaskIdFontWeight: normal;
$taskNameInputFontWeight: bold;
$taskHighlightedInplaceFieldBackgroundColor: $grey4;

/* Task Action Item */
$taskActionItemWidgetHeaderColor: $white;
$taskActionItemLabelFontWeight: normal;

/* Task Template */
$taskTemplateActionButtonFocus: transparent;
$taskTemplateTitleFontWeight: bold;
$outputLabelTaskTemplateTitleFontWeight: 400;

/* Admin Setting */
$adminSettingNoPermissionMessageColor: #e53935;
$userSettingContainerLinkHoverColor: $commandLinkHoveredTextColor;
$userSettingContainerLinkColor: $commandLinkTextColor;
$userSettingContainerActiveMenuBorder: rgba(43, 59, 93, 0.2);
$userSettingContainerBoxShadow: rgba(43, 59, 93, 0.6);
$emailSettingWidgetHeader: $black;
$usernameShowEnvironmentInfoFontWeight: bold;


/* Absences and Deputy */
$substitutedUserTextColor: $grey1;
$dialogFooterButtonBoxShadowColor: black;

/* Awesome Icon Selection */
$linkChangeAwesomeIconColor: $black;
$contentLinkChangeAwesomeIconColor: #337ab7;
$selectAwesomeIconButtonFontWeight: bold;

/* Start Notification */
$notificationContentBackgroundColor: rgb(230, 113, 99);
$notificationContentActionColor: $white;
$notificationContentActionHoverBackgroundColor: $black;

/* Login */
$loginPanelHeaderBackgroundColor: #f0f0f0;

/* Stages breadcrumb */
$stagesChainVisitedColor: #555555;
$stagesChainWaitingColor: #cccccc;
$stagesChainProcessFlowVisibleBackgroundColor: #cccccc;

/* Asterik Icon */
$asterikIconColor: #f03369;

/* Error Page */
$errorContainerColor: #546e7a;
$errorMessageBackgroundColor: $white;
$errorMessageHeaderColor: #e67163;

/* SelectCheckbox */
$selectCheckBoxCloseHoverColor: $white;
$configCheckboxContainerBorder: $black;
$selectCheckboxMenuIconFontSize: 1.8rem;
 
$bodyStateActiveColor: $primaryTextColor;
$autoCompleteHoverColor: $primaryTextColor;
$bodyColumnTogglerLabelColor: $black;
 
 /* Express */
$expressInputSwitchSelectionBackgroundColor: $accentColor;
$expressInputSwitchHandleBackgroundColor: $white;
$expressShowDefaultIconColor: $black;
$taskResponsibleLabelStateErrorColor: #e62a10;
$definedTaskButtonBackgroundColor: $white;
$formElementsPanelHoverDropSectionBackgroundColor: $primaryLightGreen;
$reviewContentTitleColor: $black;
$formElementsCheckboxFieldsColor: $primaryTextColor;
$definedTaskLabelBackgroundColor: $accentColor;
$definedTaskButtonContainerBackgroundColor: $white;
$formElementsPanelHoverDropSectionLabelColor: $primaryTextColor;
$selectManyCheckboxLabelColor: $grey1;
$autocompleteMoreTextStateHighlightBackgroundColor: white;
$expressInputSwitchSelectionBorder: $primaryGreen;
$expressAvailableElementsActionButtonBackgroundColor: transparent;
$expressAvailableElementsActionButtonShadow: none;
$formElementsPanelHoverDropSectionBorder: #699924;
$formDefinitionTableBorder: rgba(117, 117, 117, 0.5);
$formDefinitionTableSelectedPanelBorder: $grey2;
$formDefinitionTableSelectedPanelBackgroundColor: transparent;
$emailFileUploadCornerTopBackgroundColor: transparent;
$expressTableNoHeaderBorder: $grey3;
$expressTableNoHeaderBackgroundColor: transparent;
$selectCheckboxMenuTriggerBackgroundColor: $white;
$expressExpandCollapseButtonColor: $primaryTextColor;
$processExpressLogoBackgroundColor: transparent;
$expressWorkflowActiveSwitchLabelFontWeight: 700;
$expressReviewContentTitleFontWeight: 700;
$expressFinishedTaskLabelFontWeight: 700;
$expressActiveDefinedTaskButtonFontWeight: bold;
$expressCollapseButtonBackgroundColor: rgba($black, 0.10); /* Change to grey*/
$expressCollapseButtonHoveredBackgroundColor: rgba($black, 0.10);  /* Change to grey*/
$expressAssigneeIconColor: rgba($black, 0.7); /* Consider to change to grey */
$expressReviewContentTitleBorderColor: rgba($black, 0.25); /* Consider to change to grey */

/* Chat */
$chatPanelBackgroundColor: $black;
$noGroupChatColor: $white;
$contactCardHoverBackgroundColor: $grey1;
$contactCardIconColor: #b2b2b2;
$contactCardBackgroundColor: $white;
$contactCardIconUnreadMessageColor: $white;
$contactCardIconUnreadMessageBackgroundColor: #ff6d6e;
$contactCardNameColor: $white;
$contactCardStatusBackgroundColor: #64d864;
$contactNotificationColor: $white;
$contactNotificationBackgroundColor: $red;
$messageListBackgroundColor: $white;
$messageListHeaderBackgroundColor: $grey1;
$messageListHeaderCloseIconHoverBackgroundColor: #9b9b9b;
$messageListHeaderCloseIconBackgroundColor: #b2b2b2;
$messageSeparatorBorder: $grey2;
$chatMessageBackgroundColor: #f3f6f9;
$chatMyMessageBackgroundColor: #def4fd;
$messageChatHeaderNameColor: $white;
$showParticipantsLinkColor: $white;
$chatFormBackgroundColor: #f5f5f5;
$notificationBadgeBackgroundColor: rgb(255, 109, 110);
$notificationBadgeColor: $white;
$chatContactTypeHeaderColor: $white;
$chatTooltipColor: $white;
$chatTooltipBackgroundColor: $black;
$participantsListHeaderColor: $black;
$chatSendFormButtonBackgroundColor: transparent;
$messageListContentSendInputBackgroundColor: transparent;
$chatUserInRoleBorder: $grey2;
$showParticipantsLinkFontWeight: bold;
$participantsListHeaderFontWeight: bold;
$messageChatHeaderNameFontWeight: 600;
$chatContactTypeHeaderFontSize: 1.8rem;

/* Icon */
$iconFontFamily: "FontAwesome";
$checkboxMenuIconBackgroundColor: transparent;
$fieldsetToggerHoverBackgroundColor: transparent;
$iconSelectionDialogBorder: transparent;
$iconSelectionDialogBorderHover: $black;
$autoCompleteDropdownFocusBackgroundColor: transparent;
$uiInplaceBackgroundColor: transparent;
$dataIconFontFamily: "true-minimalistic-icons";
$dataIconFontStyle: normal;
$dataIconFontWeight: normal;
$dataIconFontVariant: normal;
$trueMinimalisticIconFontFamily: "true-minimalistic-icons";
$trueMinimalisticIconFontStyle: normal;
$trueMinimalisticIconFontWeight: normal;
$trueMinimalisticIconFontVariant: normal;

/*Override theme styles*/

/*Side bar menu*/
$sidebarMenuListItemLinkTextColor: $primaryTextColor;
$sidebarMenuListItemIconColor: $primaryTextColor;
$sidebarMenuListItemLinkHoverTextColor: $primaryTextColor;
$sidebarMenuListItemHoverIconColor: $primaryTextColor;
$sidebarMenuListItemLinkHoverBackgroundColor: rgba($black, 0.15);
$sidebarMenuListActiveIconColor: $primaryTextColor;
$sidebarMenuInactiveItemCurrentAppBorderBottomColor: rgba($black, 0.15);

/*Table */
$dataTableRowBackgroundColorEven: $white;
$dataTableRowBackgroundColorOdd: rgba(247, 247, 247, 1);
$dataTableRowHeaderColor: $black;
$dataTableRowHeaderBgColor: rgba(236, 236, 236, 1);
$dataTableRowSpanColor: $primaryTextColor;
$highlightedTdDataTableBackgroundColor: $primaryGreen;
$hoveredTdDataTableBackGroundColor: $primaryGreen;
$highlightedTdTreeTableBackgroundColor: rgba($primaryGreen, 0.6);
$hoveredTdTreeTableBackGroundColor: rgba($primaryGreen, 0.25);
$tableBorderColor: rgba(black, 0.2); /* Change to grey*/
$rightBorderInsideDataTable: $tableBorderColor;
$leftBorderInsideDataTable: transparent;
$topBorderOutsideDataTableColor: $tableBorderColor;
$leftBorderOutsideDataTableColor: $tableBorderColor;
$rightBorderOutsideDataTableColor: $tableBorderColor;
$bottomBorderOutsideDataTableColor: $tableBorderColor;
$bottomBorderHeaderDataTableColor: $tableBorderColor;
$topBorderBodyDataTableColor: transparent;
$topBorderBodyExpressManyCheckboxTableColor: $tableBorderColor;
$headerBorderColor: $tableBorderColor;
$uiInputFieldTdTextColor: $primaryTextColor;
$treeTableBorderColor: rgba(black, 0.2); /* Change to grey*/
$topBorderOutsideTreeTableColor: $treeTableBorderColor;
$bottomBorderOutsideTreeTableColor: $treeTableBorderColor;
$rightBorderOutsideTreeTableColor: $treeTableBorderColor;
$rightBorderInsideTreeTableColor: $treeTableBorderColor;
$bottomBoderBodyTreeTableColor: $treeTableBorderColor;
$leftBorderOutsideTreeTableColor: $treeTableBorderColor;

/*Side step*/
$sideStepItemHoverColor: $black;
$sideStepItemHoverBackgroundColor: #f5f5f5;

/* Others */
$bodyDialogTitleFontSize: 1.9rem;
$hoveredItemSelectOneMenuTextColor: $primaryTextColor;
$hoveredItemSelectOneListBoxTextColor: $primaryTextColor;
$hoveredPicklistItemTextColor: $primaryTextColor;

$uiFiedsetLegendTextColor: $primaryTextColor;
$uiDialogTitleBarTextColor: $primaryTextColor;
$uiInputFieldTextColor: $primaryTextColor;
$uiFieldSetTogglerColor: $black;