/* Theme Colors */
$primaryColor:#c7d426;
$primaryDarkColor:#97AE04;
$primaryLightColor:#DCF91F;
$primaryLightestColor:#FFFFFF;
$primaryTextColor:#212121;
$accentColor:#c7d426;
$accentDarkColor: #97AE04;
$accentLightColor: #DCF91F;
$accentTextColor: #ECFC82;
$headerPadding: 14px 1em;
$greyLineColor: #d8d8d8;

$bodyBackgroundColor: #FFFFFF;
$menuColor: #F0F0F0;
$processChainMenuColor: $primaryColor;

$loginLogoHeight: 50px;
$homeLogoHeight: 42px;

/*3 colors of header bar*/
$firstHeaderBarColor: $primaryColor;
$secondHeaderBarColor: $primaryColor;
$thirdHeaderBarColor: $primaryColor;

/*task priority color*/
$taskPriorityLowColor: #D4D4D4;
$taskPriorityNormalColor: #96DC82;
$taskPriorityHighColor: #FFC0C0;
$taskPriorityExceptionColor: #FF5A5A;

/*task state color*/
$taskStateOpenColor: #078CFF;
$taskStateInProgressColor: #4EB41C;
$taskStateDoneColor: #4EB41C;
$taskStateZombieDestroyedColor: #FF6464;
$taskStateReservedColor: rgba(0,0,0,0.4);
$taskStateSystemColor: rgba(0,0,0,0.4);

/*Color and border radius of Portal button e.g Add, Close, New, Save, OK ..*/
$actionButtonColor: $primaryColor;
$cancelButtonBackgroundColor: #D3D3D3;
$actionButtonBorderRadius:0px;

/*Color and border radius of context button, 
it only affects when button has attribute styleClass="context-button"*/
$contextButtonColor: #7C7C7C;
$contextButtonBorderRadius:$actionButtonBorderRadius;

/*Announcement panel color*/
$announcementBackgroundColor: #ffff80;
$announcementBorderColor: red;

/*Circle process chain number step color*/
$circleStepNumberColor: #212121;

/* Menu color */
$menuItemHoverBackgroundColor: rgba(0, 0, 0, 0.15);

/* Statistic chart panel header color */
$statisticPanelHeader: rgba(0, 0, 0, 0.05);
$statisticPanelHeaderBorder: #E2E2E2;
$statisticPanelHeaderText: rgba(0,0,0,0.8);
$menuItemHoverBackgroundColor: rgba(0, 0, 0, 0.15);

/* Font Size */
$largeFontSize: 1.4rem; // font size for header,title, groups, menu
$smallFontSize: 1.2rem; // font size for text, label, input

/* Table color */
$dataTableRowBackgroundColorEven: rgba(255, 255, 255, 1);
$dataTableRowBackgroundColorOdd: rgba(247, 247, 247, 1);
$dataTableRowHeaderColor: rgba(0, 0, 0, 1);
$dataTableRowHeaderBgColor: rgba(236,236,236,1);

/* Fieldset */
$fieldSetToggerColor: $primaryTextColor;

$widgetHeaderMainMenuColor: rgba(0,0,0,0.4);

/** Submenu Item*/
$subMenuItemBackgroundColor: rgba(255, 255, 255, 0.6);

/* Filter Widget**/
$filterWidgetInputColor: rgba(0,0,0,0.5);
$advancedFilterWidgetBackgroundColor: rgba(0,0,0,0.04);
$advancedFilterRemoveIconColor: rgba(0,0,0,0.3);

/*Case Item*/
$caseListUnsortHeaderColor: rgba(0,0,0,0.5);
$historyNodeColor: $primaryTextColor;
$historyNodeHoverColor: rgba(0,0,0,0.6);
$caseTaskDocumentNameColor: $primaryTextColor;
$caseListItemBackgroundColor: rgba(255, 255, 255, 0.2);
$caseListItemHoverBackgroundColor: #E8E9EF;
$caseListItemOddRowBackgroundColor: rgba(0,0,0,0.04);
$caseWidgetColumnHeaderIsSelectedColor: rgba(0,0,0,1);
$caseItemDescriptionColor: rgba(0,0,0,0.4);
$caseItemActionDetailColor: rgba(0,0,0,0.5);
$caseItemActionStepsItemHoverBackgroundColor: #E8E9EF;

/*Process */
$expressExpandCollapseButtonColor: $primaryTextColor;
$expressExpandCollapseButtonBackgroundColor: rgba(0, 0, 0, 0.10);
$expressExpandCollapseButtonHoverBackgroundColor: rgba(0, 0, 0, 0.20);
$processNavigatorItemColor: rgba(0,0,0,1);
$processNavigatorItemDisabledColor: rgba(0,0,0,0.3);
$processStartListItemBackgroundColor: rgba(0, 0, 0, 0.05);
$processStartListItemHoverBackgroundColor: rgba(255, 255, 255, 1);
$processStartListItemOpenIconColor: rgba(0,0,0,0.5);

/* Task Widget */
$taskFilterSelectionFormHoverBackgroundColor: #f5f5f5;
$taskFilterTypeLabelColor: rgba(0,0,0,0.6);
$compactTaskStartListItemBackgroundColor: rgba(0, 0, 0, 0.05);
$compactTaskStartListItemHoverBackgroundColor: #E8E9EF;
$compactTaskStartInfoColor: rgba(0,0,0,1);
$taskListDescriptionCellColor: rgba(0,0,0,0.4);
$taskOddRowBackgroundColor: rgba(0,0,0,0.04);