/* Theme Colors */
$primaryColor:#c7d426;
$primaryDarkColor:#97AE04;
$primaryLightColor:#DCF91F;
$primaryLightestColor:#FFFFFF;
$primaryTextColor:#212121;
$accentColor:#c7d426;
$accentDarkColor: #97AE04;
$accentLightColor: #DCF91F;
$accentTextColor: #ECFC82;
$headerPadding: 14px 1em;
$greyLineColor: #d8d8d8;
$red: #FF0000;
$white: #FFFFFF;
$black:#000000;

$bodyBackgroundColor: #FFFFFF;
$menuColor: #F0F0F0;
$processChainMenuColor: $primaryColor;

$loginLogoHeight: 50px;
$homeLogoHeight: 42px;

/*3 colors of header bar*/
$firstHeaderBarColor: $primaryColor;
$secondHeaderBarColor: $primaryColor;
$thirdHeaderBarColor: $primaryColor;

/*task priority color*/
$taskPriorityLowColor: #D4D4D4;
$taskPriorityNormalColor: #96DC82;
$taskPriorityHighColor: #FFC0C0;
$taskPriorityExceptionColor: #FF5A5A;

/*task state color*/
$taskStateOpenColor: #078CFF;
$taskStateInProgressColor: #4EB41C;
$taskStateDoneColor: #4EB41C;
$taskStateZombieDestroyedColor: #FF6464;
$taskStateReservedColor: rgba(0,0,0,0.4);
$taskStateSystemColor: rgba(0,0,0,0.4);

/*Color and border radius of Portal button e.g Add, Close, New, Save, OK ..*/
$actionButtonColor: $primaryColor;
$cancelButtonBackgroundColor: #D3D3D3;
$actionButtonBorderRadius:0px;

/*Color and border radius of context button, 
it only affects when button has attribute styleClass="context-button"*/
$contextButtonColor: #7C7C7C;
$contextButtonBorderRadius:$actionButtonBorderRadius;

/*Announcement panel color*/
$announcementBackgroundColor: #ffff80;
$announcementBorderColor: $red;

/*Circle process chain number step color*/
$circleStepNumberColor: #212121;

/* Menu color */
$menuItemHoverBackgroundColor: rgba(0, 0, 0, 0.15);

/* Statistic chart panel header color */
$statisticPanelHeader: rgba(0, 0, 0, 0.05);
$statisticPanelHeaderBorder: #E2E2E2;
$statisticPanelHeaderText: rgba(0,0,0,0.8);
$menuItemHoverBackgroundColor: rgba(0, 0, 0, 0.15);

/* Font Size */
$defaultFontSize: 10px;
$largeFontSize: 1.4rem; // font size for header,title, groups, menu
$smallFontSize: 1.2rem; // font size for text, label, input
$selectCheckboxMenuIconFontSize: 1.8rem;
$chartNameFontSize: 1.6rem;
$dashboardChartNameFontSize: 2rem;
$chartFilterHeaderFontSize: 1.8rem;
$chartContainerAddLinkFontSize: 1.3rem;

/* Table color */
$dataTableRowBackgroundColorEven: rgba(255, 255, 255, 1);
$dataTableRowBackgroundColorOdd: rgba(247, 247, 247, 1);
$dataTableRowHeaderColor: rgba(0, 0, 0, 1);
$dataTableRowHeaderBgColor: rgba(236,236,236,1);

/* Fieldset */
$fieldSetTogglerColor: $primaryTextColor;
$fieldSetLegendHoverColor: $white; 

$widgetHeaderMainMenuColor: rgba(0,0,0,0.4);

/* Submenu Item*/
$subMenuItemBackgroundColor: rgba(255, 255, 255, 0.6);

/* Filter Widget**/
$filterWidgetInputColor: rgba(0,0,0,0.5);
$advancedFilterWidgetBackgroundColor: rgba(0,0,0,0.04);
$advancedFilterRemoveIconColor: rgba(0,0,0,0.3);
$advancedFilterErrorColor: $red;
$widgetHeaderFilterColor: $black;

/*Case Item*/
$caseListUnsortHeaderColor: rgba(0,0,0,0.5);
$historyNodeColor: $primaryTextColor;
$historyNodeHoverColor: rgba(0,0,0,0.6);
$caseTaskDocumentNameColor: $primaryTextColor;
$caseListItemBackgroundColor: rgba(255, 255, 255, 0.2);
$caseListItemHoverBackgroundColor: #E8E9EF;
$caseListItemOddRowBackgroundColor: rgba(0,0,0,0.04);
$caseWidgetColumnHeaderIsSelectedColor: rgba(0,0,0,1);
$caseItemDescriptionColor: rgba(0,0,0,0.4);
$caseItemActionDetailColor: rgba(0,0,0,0.5);
$caseItemActionStepsItemHoverBackgroundColor: #E8E9EF;
$caseItemActionStepsItemColor: rgba(0, 0, 0, 0.5);
$caseActionStepsContentsBackgroundColor: $white;
$caseStateInProgressColor: rgba(7,140,255,1);
$caseStateDoneColor: rgba(78,180,28,1);

/* Process */
$expressExpandCollapseButtonColor: $primaryTextColor;
$expressExpandCollapseButtonBackgroundColor: rgba(0, 0, 0, 0.10);
$expressExpandCollapseButtonHoverBackgroundColor: rgba(0, 0, 0, 0.20);
$processNavigatorItemColor: rgba(0,0,0,1);
$processNavigatorItemDisabledColor: rgba(0,0,0,0.3);
$processStartListItemBackgroundColor: rgba(0, 0, 0, 0.05);
$processStartListItemHoverBackgroundColor: rgba(255, 255, 255, 1);
$processStartListItemOpenIconColor: rgba(0,0,0,0.5);
$processHistoryColumnHeaderIsSelectedColor: rgba(0, 0, 0, 1);
$processHistoryMessageLabelColor: $black;
$processStartListItemColor: $black;

/* Task Widget */
$taskFilterSelectionFormHoverBackgroundColor: #f5f5f5;
$taskFilterTypeLabelColor: rgba(0,0,0,0.6);
$compactTaskStartListItemBackgroundColor: rgba(0, 0, 0, 0.05);
$compactTaskStartListItemHoverBackgroundColor: #E8E9EF;
$compactTaskStartInfoColor: rgba(0,0,0,1);
$taskListDescriptionCellColor: rgba(0,0,0,0.4);
$taskOddRowBackgroundColor: rgba(0,0,0,0.04);
$sideStepItemColor: rgba(0, 0, 0, 0.5);
$sideStepItemHoverColor: rgba(0, 0, 0, 1);
$sideStepItemHoverBackgroundColor: #f5f5f5;
$taskWidgetSortMenuColor: rgba(0,0,0,0.5);
$taskWidgetSortMenuLinkColor: rgba(0,0,0,0.6);
$taskWidgetSortMenuLinkIsSelectedColor: rgba(0,0,0,1);
$taskWidgetOverlayPanelContentBackgroundColor: $white;
$taskWidgetLinkColor: $black;

/* Case Detail*/
$caseRelatedTaskColor: $primaryTextColor;
$caseRelatedTaskHoverColor: rgba(0,0,0,0.6);
$caseAdditionalDetailLinkColor: rgba(0,0,0,0.5);
$caseNoteShowMoreLinkColor: rgba(0, 0, 0, 0.5);

/*Process chain */
$lineWaitingStepBackgroundColor: #E0E0E0;


/* Admin Setting */
$adminSettingNoPermissionMessageColor: #E53935;
$userSettingContainerLinkColor: rgba(0, 0, 0, 0.6);
$userSettingContainerLinkHoverColor: rgba(0, 0, 0, 1);

/* Absences and Debuty */
$substitutedUserTextColor: #757575;

/*Awesome Icon Selection */
$linkChangeAwesomeIconColor: rgba(0, 0, 0, 1);
$contentLinkChangeAwesomeIconColor: #337ab7;

/*Chart */
$chartFilterInfoIconColor: rgba(0, 0, 0, 0.75);
$chartInfoHeaderColor: #656565;

/*Start Notification */
$notificationContentBackgroundColor: rgb(230, 113, 99);
$notificationContentActionColor: $white;
$notificationContentActionHoverBackgroundColor: $black;

/*Login */
$loginPanelHeaderBackgroundColor: #F0F0F0;

/* Stages breadcrumb */
$stagesChainVisitedColor: #555555;
$stagesChainWaitingColor: #cccccc;
$stagesChainProcessFlowVisibleBackgroundColor: #cccccc;

/* Task Action Item*/
$taskActionItemDisabledStateColor: rgba(0,0,0,0.5);
$taskActionItemLeftIconColor: rgba(0,0,0,0.5);
$taskActionItemWidgetHeaderColor: $white;

/* Task Template */
$menuListWidgetHeaderColor: rgba(0, 0, 0, 0.7);

/* Asterik Icon */
$asterikIconColor: #f03369;

/* Error Page */
$errorContainerColor: #546E7A;
$errorMessageBackgroundColor: $white;
$errorMessageHeaderColor: #E67163;

/*SelectCheckbox */
$selectCheckBoxCloseHoverColor: $white;
 
/* Command Link*/
$commandLinkColor: rgba(0, 0, 0, 0.5);
$commandLinkHoverColor: rgba(0, 0, 0, 0.6);
$commandLinkActiveColor: rgba(0, 0, 0, 0.8);
$commandLinkDisableColor: rgba(0, 0, 0, 0.2);

$bodySateActiveColor: $black;
$autoCompleteHoverColor: $black;
$bodyColumnTogglerLabelColor: $black;
 
 /* Express */
$expressInputSwitchSelectionBackgroundColor: $accentColor;
$expressInputSwitchHandleBackgroundColor: $white;
$expressShowDefaultIconColor: $black;
$taskResponsibleLabelStateErrorColor: #e62a10;
$deleteAssigneeButtonColor: rgba(0, 0, 0, 0.7);
$definedTaskButtonBackgroundColor: $white;
$formElementsPanelHoverDropSectionBackgroundColor: #edffd3;
$reviewContentTitleColor: $black;
$formElementsCheckboxFieldsColor: $primaryTextColor;
$definedTaskLabelBackgroundColor: $accentColor;
$definedTaskButtonContainerBackgroundColor: $white;
$formElementsPanelHoverDropSectionLabelColor: $primaryTextColor;
$taskResponsibleLinkColor: $black;
$selectManyCheckboxLabelColor: #757575;
$autocompleteMoreTextStateHighlightBackgroundColor: white;

/*---------------------------------Font family and Font style----------------------------------------*/
$portalFontFamily: "Roboto";
$iconFontFamily: "FontAwesome";

/*---------------------------------Font weight----------------------------------------*/
$menuListWidgetHeaderFontWeight: 600;

/* Task Action Item */
$taskActionItemLabelFontWeight: normal;

/* Task Detail */
$taskDetailHeaderFontWeight: bold;
$taskDetailSectionTitleFontWeight: bold;
$taskStartInfoHeaderFontWeight: bold;
$taskStartInfoTaskIdFontWeight: normal;
$taskNameInputFontWeight: bold;

/*Task Template */
$taskTemplateTitleFontWeight: bold;
$outputLabelTaskTemplateTitleFontWeight: 400;

/* Case Detail */
$caseDetailNameInputFontWeight: bold;
$additionalCaseDetailLinkFontWeight: 400;
$detailsDocumentAddLinkFontWeight: 400;
$caseDetailHeaderFontWeight: bold;
$historyButtonContainerFontWeight: bold;

/* Case Item */
$caseItemActionStepsFontWeight: bold;

/* Process widget */
$selectedProcessNavItemFontWeight: bold;
$processStartListItemNameFontWeight: 400;

/* Process Chain */
$currentLineHorizontalStepTitleFontWeight: bold;
$currentLineVerticalStepTitleFontWeight: bold;
$currentCircleHorizontalStepTitleFontWeight: bold;
$currentCircleVerticalStepTitleFontWeight: bold;

/* Admin Settings */
$usernameShowEnvironmentInfoFontWeight: bold;

/* Awesome Icon Selection */
$selectAwesomeIconButtonFontWeight: bold;

/* Statistic Widget */
$dashboardChartPanelChartNameFontWeight: 400;
$chartInfoHeaderFontWeight: bold;
$chartInfoLabelFontWeight: bold;

/* Filter selection form*/
$userDefinedFilterContainerHoverFontWeight: bold;

/* Express */
$expressWorkflowActiveSwitchLabelFontWeight: 700;
$expressReviewContentTitleFontWeight: 700;
$expressFinishedTaskLabelFontWeight: 700;
$expressActiveDefinedTaskButtonFontWeight: bold;