/* Theme Colors */
$red: #ff0000;
$white: #fff;
$black: #000000;
$grey1: #808080;
$grey2: #e0e0e0;
$grey3: #d8d8d8;
$grey4: #f0f0f0;

$primaryColor: #c7d426;
$primaryDarkColor: #97ae04;
$primaryLightColor: #dcf91f;
$primaryLightestColor: $white;
$primaryTextColor: $black;
$accentColor: $primaryColor;
$accentDarkColor: $primaryDarkColor;
$accentLightColor: $primaryLightColor;
$accentTextColor: #ecfc82;
$headerPadding: 14px 1em;

$borderColor: rgba($black, 0.1);
$bodyBackgroundColor: $white;

$processChainMenuColor: $primaryColor;

$loginLogoHeight: 50px;
$homeLogoHeight: 42px;

/* Default Portal styles */
$defaultFontSize: 10px;
$defaultBodyFontSize: 1.4rem;
$largeFontSize: 1.4rem; // font size for header,title, groups, menu
$smallFontSize: 1.2rem; // font size for text, label, input
$portalFontFamily: "Roboto";
$defaultFontStyle: normal;
$defaultFontWeight: 400;
$inplaceEditIconFontSize: 1.8rem;

/* 3 colors of header bar */
$firstHeaderBarColor: $primaryColor;
$secondHeaderBarColor: $primaryColor;
$thirdHeaderBarColor: $primaryColor;

/* Task priority color */
$taskPriorityLowColor: #d4d4d4;
$taskPriorityNormalColor: #96dc82;
$taskPriorityHighColor: #ffc0c0;
$taskPriorityExceptionColor: #ff5a5a;

/* Task state color */
$taskStateOpenColor: #078cff;
$taskStateInProgressColor: #4eb41c;
$taskStateDoneColor: #4eb41c;
$taskStateReservedColor: rgba(black, 0.4);
$taskStateSystemColor: rgba(black, 0.4);
$taskStateZombieDestroyedColor: #ff6464;

/* Color and border radius of Portal button e.g Add, Close, New, Save, OK .. */
$actionButtonColor: $primaryColor;
$cancelButtonBackgroundColor: #d3d3d3;
$actionButtonBorderRadius: 0px;

/* Color and border radius of context button, 
it only affects when button has attribute styleClass="context-button" */
$contextButtonColor: #7c7c7c;
$contextButtonBorderRadius: $actionButtonBorderRadius;

/* Table color */
$dataTableRowBackgroundColorEven: $white;
$dataTableRowBackgroundColorOdd: rgba(247, 247, 247, 1);
$dataTableRowHeaderColor: $black;
$dataTableRowHeaderBgColor: rgba(236, 236, 236, 1);
$dataTableHeaderBorderColor: rgba(244, 244, 244, 1);
$dataTableCellBorderColor: $white;

/* Fieldset */
$fieldSetTogglerColor: $primaryTextColor;
$fieldSetLegendHoverColor: $white; 
$fieldSetTogglerBackgroundColor: #eee;
$fieldSetNoBorderColor: transparent;

/* Widget header */
$widgetHeaderMainBorderBottomColor: $borderColor;
$widgetTaskListHeaderBorderBottomColor: $borderColor;
$widgetSortMenuBorderBottomColor: $borderColor;
$widgetHeaderInputFieldBackgroundColor: transparent;
$widgetHeaderInputHoverBackgroundColor: transparent;

/* Announcement panel color */
$announcementBackgroundColor: #ffff80;
$announcementBorderColor: $red;

/* Process chain */
$lineWaitingStepBackgroundColor: $grey2;
$circleStepNumberColor: $primaryTextColor;
$circleHorizontalStepNumberContainerBorderTopColor: $primaryColor;
$circleHorizontalStepNumberContainerBorderTop: $grey2;
$circleHorizontalLastStepNumberContainerBorderTop: $primaryColor;
$circleHorizontalWaitingStepNumberContainerBackgroundColor: transparent;
$circleStepContainerBorder: transparent;
$circleVerticalStepNumberContainerBorder: $grey2;
$circleVerticalStepContainerBackgroundColor: transparent;
$currentLineHorizontalStepTitleFontWeight: bold;
$currentLineVerticalStepTitleFontWeight: bold;
$currentCircleHorizontalStepTitleFontWeight: bold;
$currentCircleVerticalStepTitleFontWeight: bold;

/* Statistic widget */
$statisticPanelHeader: $white;
$statisticPanelHeaderBorder: $white;
$carouselItemPanelGridBorder: $grey2;
$statisticActionPanelBorder: $borderColor;
$statisticFilterAccordionPanelBorder: $grey2;
$dashboardChartPanelChartNameFontWeight: 400;
$chartInfoHeaderFontWeight: bold;
$chartInfoLabelFontWeight: bold;
$chartNameFontSize: 1.6rem;
$chartFilterHeaderFontSize: 1.8rem;
$chartContainerAddLinkFontSize: 1.3rem;
$dashboardChartNameFontSize: 2rem;
$statisticCarouselHeaderButtonHoverColor: $black;
$statisticCarouselHeaderColor: rgba($black, 0.8);

/* Start Menu Item */
$menuItemCurrentApplicationBorderBottomColor: transparent;

/* Submenu Item */
$subMenuItemLinkHoverBackgroundColor: transparent;
$subMenuItemLinkBackgroundColor: transparent;

/* Filter Widget */
$advancedFilterErrorColor: $red;
$widgetHeaderFilterColor: $black;
$widgetAdvancedFilterBorder: transparent;
$widgetAdvancedFilterHoverBorder: $grey3;
$widgetFilterSelectionContainerBorder: transparent;
$widgetAdvancedFilterCommandStateFocusBackgroundColor: none;
$widgetAdvancedFilterOverlayPanelFooter: #eaeaea;
$widgetAdvancedFilterCommandBackgroundColor: none;
$widgetAdvancedFilterBackgroundColor: none;

/* Process */
$processNavigatorItemColor: $black;
$processStartListItemHoverBackgroundColor: $white;
$processHistoryColumnHeaderIsSelectedColor: $black;
$processHistoryMessageLabelColor: $black;
$processStartListItemColor: $black;
$processHeaderTitleContainerBorderBottom: $borderColor;
$processNavigatorBorder: $borderColor;
$processNavigatorItemSelectedBorder: $primaryColor;
$processHistoryColumnHeaderBorder: $borderColor;
$processHistoryListDataScrollerBackgroundColor: transparent;
$selectedProcessNavItemFontWeight: bold;
$processStartListItemNameFontWeight: 400;

/* Case Detail */
$caseRelatedTaskColor: $primaryTextColor;
$caseDetailPaginatorColor: $primaryTextColor;
$caseRelatedTaskContentBorder: $grey3;
$caseDocumentUploadBorder: #cccccc;
$userDefinedFilterContainerHoverFontWeight: bold;
$caseDetailNameInputFontWeight: bold;
$additionalCaseDetailLinkFontWeight: 400;
$detailsDocumentAddLinkFontWeight: 400;
$caseDetailHeaderFontWeight: bold;
$historyButtonContainerFontWeight: bold;

/* Case Item */
$historyNodeColor: $primaryTextColor;
$historyNoteBorder: $grey3;
$caseTaskDocumentNameColor: $primaryTextColor;
$caseListItemHoverBackgroundColor: #e8e9ef;
$caseWidgetColumnHeaderIsSelectedColor: $black;
$caseItemActionStepsItemHoverBackgroundColor: #e8e9ef;
$caseActionStepsContentsBackgroundColor: $white;
$caseStateInProgressColor: rgba(7, 140, 255, 1);
$caseStateDoneColor: rgba(78, 180, 28, 1);
$caseWidgetTopHeaderBorderBottom: $borderColor;
$caseWidgetColumnHeaderBorderBottom: $borderColor;
$caseListDataScrollerContentBackgroundColor: transparent;
$caseHeaderActionCellButtonBackgroundColor: transparent;
$caseItemActionStepsFontWeight: bold;

/* Task Widget */
$taskFilterSelectionFormHoverBackgroundColor: #f5f5f5;
$compactTaskStartListItemHoverBackgroundColor: #e8e9ef;
$compactTaskStartInfoColor: $black;
$sideStepItemHoverColor: $black;
$sideStepItemHoverBackgroundColor: #f5f5f5;
$taskWidgetSortMenuLinkIsSelectedColor: $black;
$taskWidgetOverlayPanelContentBackgroundColor: $white;
$taskWidgetLinkColor: $black;
$taskActionHoverBackgroundColor: #f5f5f5;
$taskFilterSeparatorBorderBottom: $borderColor;
$taskViewContainerDataScrollerContentBackgroundColor: transparent;
$taskOptionPanelBoxShadow: rgba(43, 59, 93, 0.6);
$taskOptionPanelBorderTop: rgba(43, 59, 93, 0.2);

/* Task Detail */
$taskDetailPaginatorColor: $primaryTextColor; 
$taskDetailActionItemHoverBackgroundColor: transparent;
$taskDetailHeaderFontWeight: bold;
$taskDetailSectionTitleFontWeight: bold;
$taskStartInfoHeaderFontWeight: bold;
$taskStartInfoTaskIdFontWeight: normal;
$taskNameInputFontWeight: bold;

/* Task Action Item */
$taskActionItemWidgetHeaderColor: $white;
$taskActionItemLabelFontWeight: normal;

/* Task Template */
$taskTemplateActionButtonFocus: transparent;
$taskTemplateTitleFontWeight: bold;
$outputLabelTaskTemplateTitleFontWeight: 400;

/* Admin Setting */
$adminSettingNoPermissionMessageColor: #e53935;
$userSettingContainerLinkHoverColor: $black;
$userSettingContainerActiveMenuBorder: rgba(43, 59, 93, 0.2);
$userSettingContainerBoxShadow: rgba(43, 59, 93, 0.6);
$emailSettingWidgetHeader: $black;
$usernameShowEnvironmentInfoFontWeight: bold;

/* Absences and Debuty */
$substitutedUserTextColor: $grey1;

/* Awesome Icon Selection */
$linkChangeAwesomeIconColor: $black;
$contentLinkChangeAwesomeIconColor: #337ab7;
$selectAwesomeIconButtonFontWeight: bold;

/* Start Notification */
$notificationContentBackgroundColor: rgb(230, 113, 99);
$notificationContentActionColor: $white;
$notificationContentActionHoverBackgroundColor: $black;

/* Login */
$loginPanelHeaderBackgroundColor: #f0f0f0;

/* Stages breadcrumb */
$stagesChainVisitedColor: #555555;
$stagesChainWaitingColor: #cccccc;
$stagesChainProcessFlowVisibleBackgroundColor: #cccccc;

/* Asterik Icon */
$asterikIconColor: #f03369;

/* Error Page */
$errorContainerColor: #546e7a;
$errorMessageBackgroundColor: $white;
$errorMessageHeaderColor: #e67163;

/* SelectCheckbox */
$selectCheckBoxCloseHoverColor: $white;
$configCheckboxContainerBorder: $black;
$selectCheckboxMenuIconFontSize: 1.8rem;
 
$bodySateActiveColor: $black;
$autoCompleteHoverColor: $black;
$bodyColumnTogglerLabelColor: $black;
 
 /* Express */
$expressInputSwitchSelectionBackgroundColor: $accentColor;
$expressInputSwitchHandleBackgroundColor: $white;
$expressShowDefaultIconColor: $black;
$taskResponsibleLabelStateErrorColor: #e62a10;
$definedTaskButtonBackgroundColor: $white;
$formElementsPanelHoverDropSectionBackgroundColor: #edffd3;
$reviewContentTitleColor: $black;
$formElementsCheckboxFieldsColor: $primaryTextColor;
$definedTaskLabelBackgroundColor: $accentColor;
$definedTaskButtonContainerBackgroundColor: $white;
$formElementsPanelHoverDropSectionLabelColor: $primaryTextColor;
$selectManyCheckboxLabelColor: $grey1;
$autocompleteMoreTextStateHighlightBackgroundColor: white;
$expressInputSwitchSelectionBorder: #dcf91f;
$expressAvailableElementsActionButtonBackgroundColor: transparent;
$expressAvailableElementsActionButtonShadow: none;
$formElementsPanelHoverDropSectionBorder: #699924;
$formDefinitionTableBorder: rgba(117, 117, 117, 0.5);
$formDefinitionTableSelectedPanelBorder: $grey2;
$formDefinitionTableSelectedPanelBackgroundColor: transparent;
$emailFileUploadCornerTopBackgroundColor: transparent;
$expressTableNoHeaderBorder: $grey3;
$expressTableNoHeaderBackgroundColor: transparent;
$selectCheckboxMenuTriggerBackgroundColor: $white;
$expressExpandCollapseButtonColor: $primaryTextColor;
$processExpressLogoBackgroundColor: transparent;
$expressWorkflowActiveSwitchLabelFontWeight: 700;
$expressReviewContentTitleFontWeight: 700;
$expressFinishedTaskLabelFontWeight: 700;
$expressActiveDefinedTaskButtonFontWeight: bold;

/* Chat */
$chatPanelBackgroundColor: $black;
$noGroupChatColor: $white;
$contactCardHoverBackgroundColor: $grey1;
$contactCardIconColor: #b2b2b2;
$contactCardBackgroundColor: $white;
$contactCardIconUnreadMessageColor: $white;
$contactCardIconUnreadMessageBackgroundColor: #ff6d6e;
$contactCardNameColor: $white;
$contactCardStatusBackgroundColor: #64d864;
$contactNotificationColor: $white;
$contactNotificationBackgroundColor: $red;
$messageListBackgroundColor: $white;
$messageListHeaderBackgroundColor: $grey1;
$messageListHeaderCloseIconHoverBackgroundColor: #9b9b9b;
$messageListHeaderCloseIconBackgroundColor: #b2b2b2;
$messageSeparatorBorder: $grey2;
$chatMessageBackgroundColor: #f3f6f9;
$chatMyMessageBackgroundColor: #def4fd;
$messageChatHeaderNameColor: $white;
$showParticipantsLinkColor: $white;
$chatFormBackgroundColor: #f5f5f5;
$notificationBadgeBackgroundColor: rgb(255, 109, 110);
$notificationBadgeColor: $white;
$chatContactTypeHeaderColor: $white;
$chatTooltipColor: $white;
$chatTooltipBackgroundColor: $black;
$participantsListHeaderColor: $black;
$chatSendFormButtonBackgroundColor: transparent;
$messageListContentSendInputBackgroundColor: transparent;
$chatUserInRoleBorder: $grey2;
$showParticipantsLinkFontWeight: bold;
$participantsListHeaderFontWeight: bold;
$messageChatHeaderNameFontWeight: 600;
$chatContactTypeHeaderFontSize: 1.8rem;

/* Icon */
$iconFontFamily: "FontAwesome";
$checkboxMenuIconBackgroundColor: transparent;
$fieldsetToggerHoverBackgroundColor: transparent;
$iconSelectionDialogBorder: transparent;
$iconSelectionDialogBorderHover: $black;
$autoCompleteDropdownFocusBackgroundColor: transparent;
$uiInplaceBackgroundColor: transparent;
$dataIconFontFamily: "true-minimalistic-icons";
$dataIconFontStyle: normal;
$dataIconFontWeight: normal;
$dataIconFontVariant: normal;
$trueMinimalisticIconFontFamily: "true-minimalistic-icons";
$trueMinimalisticIconFontStyle: normal;
$trueMinimalisticIconFontWeight: normal;
$trueMinimalisticIconFontVariant: normal;

/* Others */
$bodyDialogTitleFontSize: 1.9rem;
$menuListWidgetHeaderFontWeight: 600;

/*Override theme styles*/
$sidebarMenuListItemLinkTextColor: $primaryTextColor;
$sidebarMenuListItemIconColor: $primaryTextColor;
$sidebarMenuListItemLinkHoverTextColor: $primaryTextColor;
$sidebarMenuListItemHoverIconColor: $primaryTextColor;
$sidebarMenuListItemLinkHoverBackgroundColor: rgba($black, 0.15);

$uiFiedsetLegendTextColor: $primaryTextColor;
$uiDialogTitleBarTextColor: $primaryTextColor;
$uiInputFieldTextColor: $primaryTextColor;
$uiFieldSetTogglerColor: $black;