.axonivy-loader {
  display: block;
  z-index: 10000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: hsla(0, 0%, 100%, 0.9);
  width: 100px;
  height: 100px;
  border-radius: 10px;
  padding: 20px;
}

.axonivy-loader h5 {
  margin-top: 5px;
  text-align: center;
}

.axonivy-loader .spinner {
  margin: 0 auto;
  height: 50px;
  width: 50px;
  border: 2px solid transparent;
  border-top-color: #0052CC;
  border-radius: 50%;
  -webkit-animation: spinloader 2s linear infinite;
          animation: spinloader 2s linear infinite;
}

.axonivy-loader .spinner:before {
  content: "";
  position: absolute;
  top: 7px;
  right: 7px;
  bottom: 7px;
  left: 7px;
  border: 2px solid transparent;
  border-radius: 50%;
  border-top-color: #0052CC;
  -webkit-animation: spinloader 3s linear infinite;
          animation: spinloader 3s linear infinite;
}

.axonivy-loader .spinner:after {
  content: "";
  position: absolute;
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  border: 2px solid transparent;
  border-radius: 50%;
  border-top-color: #0052CC;
  -webkit-animation: spinloader 1.5s linear infinite;
          animation: spinloader 1.5s linear infinite;
}

@-webkit-keyframes spinloader {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
@keyframes spinloader {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}