/*****CSS FOR DECORATE SCREENSHOT******/
.marker {
  position: absolute;
  z-index: 9999;
  display: inherit;
  width: 36px;
  height: 36px;
  color: #212121;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background-color: #b5e61a;
}

.overlay-text {
  position: absolute;
  z-index: 100;
  background: transparent;
}

.red-thick-outline {
  outline-style: solid !important;
  outline-color: red !important;
  outline-width: thick !important;
}

.red-medium-outline {
  outline-style: solid !important;
  outline-color: red !important;
  outline-width: medium !important;
}

.red-medium-border {
  border: medium solid red !important;
}

.red-outline-thick-offset {
  outline-offset: -5px;
}

.red-medium-border,
.red-topbottom-medium-border,
.red-topbottomleft-medium-border,
.red-topbottomright-medium-border {
  border: medium solid red;
  z-index: 9999;
}

.red-topbottom-medium-border {
  border-left: 0;
  border-right: 0;
}

.red-topbottomleft-medium-border {
  border-right: 0;
}

.red-topbottomright-medium-border {
  border-left: 0;
}

.black-medium-outline {
  outline-style: solid !important;
  outline-color: black !important;
  outline-width: medium !important;
}

.black-thin-outline {
  outline-style: solid;
  outline-color: black;
  outline-width: thin;
}
