//general
$fontSize:14px;
$fontFamily:"Roboto","Helvetica Neue",sans-serif;
$textColor:#212121;
$textSecondaryColor:#757575;
$textboxBgColor:#f7f7f7;
$lineHeight:18px;
$borderRadius:2px;
$letterSpacing:.25px;
$transitionDuration:.3s;

//icons
$iconWidth:20px;
$iconHeight:20px;
$iconFontSize:20px;

//list item hover
$dividerColor:#dbdbdb;
$dividerLightColor:#f8f8f8;
$hoverBgColor:#e8e8e8;
$hoverTextColor:#000000;

/* Predefined Colors */
$blue:#147df0;
$pink:#ed3c76;
$green:#3e9018;
$red:#da2f31;
$orange:#ffb200;
$teal:#599597;
$purple:#633ea5;
$black:#000000;
$yellow:#ffd644;
$grayBgColor:#757575;