@import './common';

$bodyBgColor:#F5F5F5;
$topbarSubmenuHoverBgColor:#f1f2f7;
$topbarMobileMenuBgColor:#ffffff;
$mobileBreakpoint:1024px;
$contentMobileMaskBgColor:#424242;
$breadcrumbBgColor:#ffffff;
$footerBgColor:#ffffff;
$nanoSliderBgColor:#aaaaaa;
$topbarSubmenuBgColor:#ffffff;
