:root {

/* CSS variables for process chain component */
  --process-chain-process-step-font-size: 12px;
  --process-chain-body-background-color: rgba(0,0,0,0);
  --process-chain-menu-color: var(--primary-color, hsl(195, 100%, 29%));
  --process-chain-link-color: #D9DADA;
  
  --process-chain-circle-step-number-color: var(--primary-text-color, hsl(0, 0%, 100%));
  --process-chain-circle-step-container-border: var(--primary-color, hsl(195, 100%, 29%));

  --process-chain-circle-vertical-step-number-container-border: var(--process-chain-link-color);
  --process-chain-circle-vertical-step-container-background-color: var(--process-chain-body-background-color);

  --process-chain-circle-horizontal-step-number-container-border-top: var(--process-chain-link-color);
  --process-chain-circle-horizontal-step-number-container-border-top-color: var(--primary-color, hsl(195, 100%, 29%));
  --process-chain-circle-horizontal-waiting-step-number-container-background-color: var(--process-chain-body-background-color);

  --process-chain-line-waiting-step-background-color: #D9DADA;
  
  --process-chain-current-circle-horizontal-step-title-font-weight: bold;
  --process-chain-current-circle-vertical-step-title-font-weight: bold;
  --process-chain-current-line-horizontal-step-title-font-weight: bold;
  --process-chain-current-line-vertical-step-title-font-weight: bold;

  --state-border-radius: 10px;
  --state-font-size: 1rem;
  --state-line-height: 16px;
  --state-done-background: #D4EBA2;
  --state-open-color: #C9C9C9;

/* CSS variables for process viewer component */
  --process-viewer-data-has-error-message-font-weight: normal;
  --process-viewer-data-has-error-message-font-size: 1rem;
  --process-details-column-title-font-size: 0.85rem;

/* CSS variables for avatar component */
  --avatar-background-color: var(--ivy-primary-color-grey-light, hsl(180, 1%, 85%));
}
