:root {

/* CSS variables for process viewer component */
  --process-viewer-data-has-error-message-font-weight: normal;
  --process-viewer-data-has-error-message-font-size: 1rem;
  --process-details-column-title-font-size: 0.85rem;

/* CSS variables for avatar component */
  --avatar-background-color: var(--ivy-primary-color-grey-light, hsl(180, 1%, 85%));
}
