/*Style for stages process chain -----------------------------------------------------------------------------------*/
.circle-process-chain .circle-horizontal-process-step .circle-horizontal-step-container {
  background-color: var(--process-chain-menu-color, var(--primary-color, hsl(195, 100%, 29%)));
  border: solid 2px var(--process-chain-circle-step-border-color, var(--primary-color, hsl(195, 100%, 29%)));
}

.circle-process-chain .circle-horizontal-process-step.waiting .circle-horizontal-step-container {
  border: solid 2px var(--process-chain-menu-color, var(--primary-color, hsl(195, 100%, 29%)));
  background-color: var(--process-chain-circle-horizontal-waiting-step-background-color, rgba(0, 0, 0, 0));
}

.circle-process-chain .circle-horizontal-process-step.current .circle-horizontal-step-container,
.circle-process-chain .circle-horizontal-process-step.visited .circle-horizontal-step-container,
.process-chain-mobile-container .circle-horizontal-step-container,
.process-chain-mobile-container .circle-horizontal-process-step {
  color: var(--process-chain-circle-step-number-color, var(--primary-text-color, hsl(0, 0%, 100%)));
}

.circle-process-chain .circle-vertical-process-step.visited .circle-vertical-step-container span:before {
    border-color: var(--process-chain-menu-color, var(--primary-color, hsl(195, 100%, 29%)));
}

.circle-process-chain .circle-vertical-process-step.current .circle-vertical-step-title {
  font-weight: var(--process-chain-current-circle-vertical-step-title-font-weight, bold);
}

.circle-process-chain .circle-vertical-process-step.waiting .circle-vertical-step-container {
  border: solid 2px var(--process-chain-menu-color, var(--primary-color, hsl(195, 100%, 29%)));
  background-color: var(--process-chain-circle-vertical-waiting-step-background-color, rgba(0, 0, 0, 0));
}

.circle-process-chain .circle-vertical-process-step .circle-vertical-step-container {
  background-color: var(--process-chain-menu-color, var(--primary-color, hsl(195, 100%, 29%)));
  border: solid 2px var(--process-chain-circle-step-border-color, var(--primary-color, hsl(195, 100%, 29%)));
}

.circle-process-chain .circle-vertical-process-step:not(:last-child) .circle-vertical-step-container .step-number-container:after {
  border-left: 3px solid var(--process-chain-circle-vertical-connector-color, var(--process-chain-link-color, #D9DADA));
}

.circle-process-chain .circle-horizontal-process-step.current .circle-horizontal-step-title {
  font-weight: var(--process-chain-current-circle-horizontal-step-title-font-weight, bold);
}

.line-process-chain .line-horizontal-process-step .line-horizontal-step-container {
    background-color: var(--process-chain-menu-color, var(--primary-color, hsl(195, 100%, 29%)));
}

.line-process-chain .line-horizontal-process-step.current .line-horizontal-step-title {
  font-weight: var(--process-chain-current-line-horizontal-step-title-font-weight, bold);
}

.line-process-chain .line-horizontal-process-step.hide-left-steps {
    background: repeating-linear-gradient(90deg, var(--process-chain-menu-color, var(--primary-color, hsl(195, 100%, 29%))), var(--process-chain-menu-color, var(--primary-color, hsl(195, 100%, 29%))) 10px, var(--process-chain-body-background-color, rgba(0, 0, 0, 0)) 10px, var(--process-chain-body-background-color, rgba(0, 0, 0, 0)) 20px);
}

.line-process-chain .line-horizontal-process-step.hide-right-steps {
    background: repeating-linear-gradient(90deg, var(--process-chain-line-hidden-steps-background-color, hsl(0, 0%, 88%)), var(--process-chain-line-hidden-steps-background-color, hsl(0, 0%, 88%)) 10px, var(--process-chain-body-background-color, rgba(0, 0, 0, 0)) 10px, var(--process-chain-body-background-color, rgba(0, 0, 0, 0)) 20px);
}

.line-process-chain .line-vertical-process-step .line-vertical-step-container {
    background-color: var(--process-chain-menu-color, var(--primary-color, hsl(195, 100%, 29%)));
}

.line-process-chain .line-vertical-process-step.hide-left-steps {
    background: repeating-linear-gradient(180deg, var(--process-chain-menu-color, var(--primary-color, hsl(195, 100%, 29%))), var(--process-chain-menu-color, var(--primary-color, hsl(195, 100%, 29%))) 10px, var(--process-chain-body-background-color, rgba(0, 0, 0, 0)) 10px, var(--process-chain-body-background-color, rgba(0, 0, 0, 0)) 20px);
}

.line-process-chain .line-vertical-process-step.hide-right-steps {
    background: repeating-linear-gradient(180deg, var(--process-chain-line-hidden-steps-background-color, hsl(0, 0%, 88%)), var(--process-chain-line-hidden-steps-background-color, hsl(0, 0%, 88%)) 10px, var(--process-chain-body-background-color, rgba(0, 0, 0, 0)) 10px, var(--process-chain-body-background-color, rgba(0, 0, 0, 0)) 20px);
}

.line-process-chain .line-horizontal-process-step.waiting .line-horizontal-step-container,
.line-process-chain .line-vertical-process-step.waiting .line-vertical-step-container {
  background-color: var(--process-chain-line-waiting-step-background-color, var(--process-chain-link-color, #D9DADA));
}

.line-process-chain .line-vertical-process-step.current .line-vertical-step-title {
  font-weight: var(--process-chain-current-line-vertical-step-title-font-weight, bold);
}

.current .circle-vertical-step-container, .visited .circle-vertical-step-container {
  color: var(--process-chain-circle-step-number-color, var(--primary-text-color, hsl(0, 0%, 100%)));
}

.circle-horizontal-step-container:not(.right-steps) .step-number-container:after {
  border-top-color: var(--process-chain-circle-horizontal-connector-color, var(--process-chain-link-color, #D9DADA));
}

.circle-horizontal-step-container:not(.last-step) .step-number-container:after {
    border-top: 3px dashed var(--process-chain-circle-horizontal-connector-color, var(--process-chain-link-color, #D9DADA));
  }

.circle-horizontal-step-container .step-number-container:before {
  border-top: 3px solid var(--process-chain-circle-horizontal-connector-visited-color, var(--primary-color, hsl(195, 100%, 29%)));
}

.circle-horizontal-process-step:not(:last-child) .circle-horizontal-step-container .step-number-container:after {
  border-top: 1px solid var(--process-chain-circle-horizontal-connector-color, var(--process-chain-link-color, #D9DADA));
}

.circle-process-chain .circle-horizontal-process-step,
.circle-process-chain .circle-vertical-process-step,
.line-process-chain .line-vertical-process-step {
  font-size: var(--process-chain-process-step-font-size, 12px);
}

@media (max-width: 1024px) {
  .circle-process-chain .circle-horizontal-process-step {
    width: auto !important;
    margin-top: 1px !important;
  }
  .circle-process-chain .circle-horizontal-step-title {
    margin-bottom: 2px !important;
  }
  .circle-horizontal-step-container .step-number-container:after,
  .circle-horizontal-step-container .step-number-container:before {
    display: inline-block;
    content: "";
    width: 20px;
    line-height: 0;
    margin-right: -20px;
  }
  _:-ms-fullscreen, :root .circle-horizontal-step-container .step-number-container:after,
    .circle-horizontal-step-container .step-number-container:before {
    margin: 0;
    margin-left: -3px;
  }
  .circle-horizontal-step-container .step-number-container:after {
    transform: translate(30px, -6px);
    border-top-style: dashed;
  }
  .circle-horizontal-step-container .step-number-container:before {
    transform: translate(-30px, -2px);
    border-top-style: dashed;
  }
  _:-ms-fullscreen, :root .circle-horizontal-step-container .step-number-container:before {
    margin-left: -18px;
    -ms-transform: translateX(-150%);
  }
}

@media (max-width: 1024px) {
  .circle-process-chain .circle-horizontal-step-title {
    margin-bottom: 2px !important;
  }
  .circle-horizontal-process-step.left-steps {
    padding-right: 5px;
  }
  .circle-horizontal-step-container .step-number-container:after,
  .circle-horizontal-step-container.right-steps .step-number-container:after,
  .circle-horizontal-step-container.left-steps .step-number-container:before {
    margin: 0;
    position: absolute;
    display: inline-block;
    content: "";
    width: 20px;
  }
  .circle-horizontal-step-container .step-number-container:after,
  .circle-horizontal-step-container.right-steps .step-number-container:after {
    top: 20px;
  }
  .circle-horizontal-step-container.left-steps .step-number-container:before {
    top: 15px;
  }
  .circle-horizontal-step-container:not(.right-steps) .step-number-container:after {
    width: 0 !important;
  }
  .circle-horizontal-step-container .step-number-container:before {
    transform: translate(20px, 5px);
    border-top-style: dashed;
  }
  .circle-horizontal-step-container .step-number-container:before {
    transform: translate(-49px, -1px);
    border-top-style: dashed;
  }
}

/* CIRCLE HONRIZONTAL***/
.circle-process-chain .circle-horizontal-process-step, .circle-process-chain .circle-vertical-process-step {
  width: 140px;
  display: inline-block;
  text-align: center;
}

.circle-process-chain .circle-horizontal-process-step {
  margin: 1px -2px;
}

.circle-horizontal-process-step:not(:last-child) .circle-horizontal-step-container .step-number-container:after {
  position: absolute;
  top: 50%;
  left: calc(100% + 8px);
  content: "";
  width: 84px;
  margin: 0;
  transform: none;
}

.circle-process-chain .circle-horizontal-process-step:not(:last-child) .circle-horizontal-step-container:after {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(100% + 87px);
  width: 5px;
  height: 5px;
  border-top: 1px solid var(--process-chain-circle-horizontal-connector-color, var(--process-chain-link-color, #D9DADA));
  border-right: 1px solid var(--process-chain-circle-horizontal-connector-color, var(--process-chain-link-color, #D9DADA));
  transform: translateY(-50%) rotate(45deg);
}

_:-ms-fullscreen, :root .circle-horizontal-process-step:not(:last-child) .circle-horizontal-step-container .step-number-container:after {
  top: 1.5rem !important;
  margin-left: 0.6em;
}

.circle-process-chain .circle-horizontal-process-step.hide-steps:not(:last-child) .circle-horizontal-step-container .step-number-container:after {
  border-top-style: dashed;
}

.circle-process-chain .circle-horizontal-process-step .circle-horizontal-step-container,
.circle-process-chain .circle-vertical-process-step .circle-vertical-step-container {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.circle-process-chain .circle-horizontal-process-step .step-number-container {
  font-size: 1.238rem;
  line-height: 1;
}

.circle-process-chain .circle-horizontal-step-title {
  margin-bottom: 4px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

/** CIRCLE VERTICAL */
.circle-process-chain .vertical-process-chain {
  margin-top: 20px;
  clear: both;
  float: left;
  width: 140px;
}

.circle-process-chain .circle-vertical-process-step {
  height: 100px;
  overflow: hidden;
  word-break: break-all;
}

.circle-process-chain .circle-vertical-process-step:not(:last-child) .circle-vertical-step-container .step-number-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-process-chain .circle-vertical-process-step:not(:last-child) .circle-vertical-step-container .step-number-container:after {
  position: absolute;
  display: block;
  content: "";
  height: 50px;
  top: 40px;
}

_:-ms-fullscreen, :root .circle-process-chain .circle-vertical-process-step:not(:last-child) .circle-vertical-step-container .step-number-container:after {
  margin-left: 2px; 
}

.circle-process-chain .circle-vertical-process-step.hide-steps:not(:last-child) .circle-vertical-step-container .step-number-container:after {
  border-left-style: dashed;
}

.circle-process-chain .circle-vertical-process-step .circle-vertical-step-container {
  float: left;
}

.circle-process-chain .circle-vertical-step-title {
  padding-top: 10px;
  padding-left: 5px;
  display: flex;
  width: calc(100% - 50px);
  text-align: left;
}

/** LINE HORIZONTAL*/
@media screen and (max-width: 40em) {
  .line-process-chain .line-horizontal-process-step .line-horizontal-step-container {
    width: 80% !important;
    margin: auto;
  }
  .line-process-chain .line-horizontal-step-title {
    margin-bottom: 2px !important;
  }
  .line-process-chain .line-horizontal-process-step.hide-left-steps {
    width: 50px !important;
  }
}

.line-process-chain .line-horizontal-process-step {
  width: 130px;
  display: inline-block;
  text-align: center;
  vertical-align: bottom !important;
  font-size: var(--process-chain-process-step-font-size, 12px);
}

.line-process-chain .line-horizontal-process-step.hide-right-steps,
.line-process-chain .line-horizontal-process-step.hide-left-steps {
  width: 50px;
  height: 10px;
  margin: 0 10px;
  vertical-align: bottom !important;
}

.line-process-chain .line-horizontal-process-step.hide-right-steps {
  margin: 0px 0px 0px 10px !important;
}

.line-process-chain .line-horizontal-process-step .line-horizontal-step-container {
  height: 10px;
  width: 99%;
}

.line-process-chain .line-horizontal-step-title {
  margin-bottom: 5px;
  display: block;
  overflow: hidden;
}

/** LINE VERTICAL*/
.line-process-chain .vertical-process-chain {
  float: left;
}

.line-process-chain .line-vertical-process-step {
  width: 70px;
  height: 120px;
  text-align: center;
}

.line-process-chain .line-vertical-process-step.hide-left-steps {
  width: 10px;
  height: 40px;
  margin: 9px 0px 0px 0px;
}

.line-process-chain .line-vertical-process-step.hide-right-steps {
  width: 10px;
  height: 40px;
  margin: 9px 0px 0px 0px;
}

.line-process-chain .line-vertical-process-step .line-vertical-step-container {
  height: 99%;
  width: 10px;
  float: left;
  width: 10px;
}

.line-process-chain .line-vertical-step-title {
  margin-bottom: 10px;
  display: block;
  overflow: hidden;
  padding-top: 49px;
}

/*Style for stages breadcrumb --------------------------------------------------------------------------------------*/
.stages-chain {
  margin-top: 20px;
  float: right;
  clear: both;
}

.stages-chain .process-step {
  width: 85px;
  height: 50px;
  display: inline-block;
  margin: 0px;
  text-align: center;
}

.stages-chain .process-step i {
  font-size: 1.6rem;
}

.stages-chain .current i {
  color: var(--process-chain-stage-current-icon-color, var(--primary-color, hsl(195, 100%, 29%)));
}

.stages-chain .visited i {
  color: var(--process-chain-stage-visited-icon-color, hsl(0, 0%, 29%));
}

.stages-chain .waiting i {
  color: var(--process-chain-stage-waiting-icon-color, hsl(0, 0%, 88%));
}

.stages-chain .process-flow {
  width: 45px;
  height: 50px;
  display: inline-block;
  margin-left: -25px;
  margin-right: -25px;
}

.stages-chain .process-flow .flow-txt {
  position: relative;
  margin-top: -10px !important;
  float: left;
  width: 100%;
  text-align: center;
}

.stages-chain .process-flow .flow-txt .visible {
  width: 100%;
  height: 2px;
  margin: 0 auto;
  background: var(--process-chain-stage-flow-line-background-color, hsl(0, 0%, 88%));
}

.stages-chain .process-flow .flow-txt .none {
  display: none;
}

.stage-title {
  position: relative;
  margin-top: -18px !important;
  float: left;
  width: 100%;
  text-align: center;
}

.stage-title .stage-name {
  margin: 0 auto;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
