/*****CSS FOR DECORATE SCREENSHOT******/
.marker {
  position: absolute;
  z-index: 9999;
  display: inherit;
  width: 36px;
  height: 36px;
  color: #212121;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background-color: #b5e61a;
}

.overlay-text {
  position: absolute;
  z-index: 100;
  background: transparent;
}

.red-thick-outline {
  outline-style: solid;
  outline-color: red;
  outline-width: thick;
}

.red-medium-outline {
  outline-style: solid;
  outline-color: red;
  outline-width: medium;
}
