/* Accessibility shortcuts */
.shortcuts-container {
    width: 100%;
    margin: 0 auto;
}
.shortcut-key {
    padding: 5px 15px;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}
.shortcut {
    background-color: var(--accessibility-bg-color);
    padding: 10px 15px;
    align-items: center;
}

.shortcut-content {
    font-size: 16px;
    white-space: nowrap;
    display: inline;
}

.shortcut-key {
  background-color : var(--surface-b);
}

body.dark .shortcut-key {
  background-color : var(--accessibility-shortcut-bg-color-dark);
}

:root {
  --accessibility-shortcut-bg-color-dark: var(--surface-d);
}

@media (min-width: 781px) and (max-width: 1360px) {
    .shortcuts-container {
        padding: 8px;
    }
    
    .shortcut {
        padding: 8px 10px;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .shortcut-content {
        font-size: 14px;
        gap: 5px;
        width: 45%;
    }
}
@media (max-width: 780px) {
    .shortcut-content {
        width: 100%;
        font-size: 14px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}
