.chatbot-layout-main {
  padding-top: 62px;
}

.chat-container {
  background: transparent;
  box-shadow: none;
}

.portal-layout-container {
  padding: 0;
}

.chatbot-panel {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: stretch;
}

.chat-container.card {
  border-radius: 0;
  padding: 0;
}

.chatbot-panel .chat-message-container {
  padding: 0;
}

.chatbot-panel .message-list {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.chatbot-panel .message-list .chat-message-list {
  height: 100%;
  width: 100%;
}

.chatbot-panel .message-list-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: stretch;
}

.chatbot-panel .message-list {
  background: transparent;
  box-shadow: none;
}

.chatbot-panel .chat-message-list {
  height: calc(100% - 235px);
  width: 100%;
  padding: 0 30px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
}
.chatbot-panel .my-message {
  float: right;
  display: flex;
  flex-direction: row-reverse;
}

.chatbot-panel .chat-message {
  padding: 10px;
  border-radius: 10px;
  background: var(--chat-message-color);
  color: var(--chat-message-text);
  box-shadow: 0px 3px 5px rgba(41, 50, 65, 0.2);
}

.chatbot-panel .my-message .chat-message {
  background: var(--chat-my-message-color);
  color: var(--chat-my-message-text);
  box-shadow: 0px 3px 5px rgba(41, 50, 65, 0.2);
}

.chatbot-panel .chatbot-message-list {
  padding: 0;
  margin: auto;
  position: relative;
  height: 100%;
}

.chatbot-panel .message-block {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: auto;
}

.chatbot-panel .message-block p {
  margin-bottom: 0;
}

.chatbot-panel .my-message .message-block {
  flex-direction: row-reverse;
}

.chatbot-panel .message-block .chat-message {
  cursor: default;
  border-radius: 12px;
  margin: 0;
  word-break: break-word;
  box-sizing: border-box;
  float: left;
  font-size: 1.1rem;
  white-space: pre-wrap;
  max-width: 100%;
}

.chatbot-panel .message-block .chat-message {
  align-self: flex-start;
}

.chatbot-panel .my-message .chatbot-meta,
.chatbot-panel .chatbot-meta {
  text-align: left;
}

.chatbot-panel .code-block {
  border-radius: 5px;
  flex-direction: column;
  overflow-x: auto;
}

.chatbot-panel .code-block .code-block-header {
  border-radius: 5px 5px 0 0 ;
  display: block;
  width: 100%;
  background: var(--ivy-primary-color-grey-dark);
  line-height: 2rem;
  padding: 0 0.5rem;
}

.chatbot-panel .code-block .code-block-header span {
  color: var(--ivy-primary-text-color);
  font-weight: bold;
}

.chatbot-panel .code-block .code-wrapper {
  padding: 5px;
}

.chatbot-panel .image-container {
  border-radius: 5px;
  background: transparent;
  position: relative;
}

.chatbot-panel .image-container .image {
  width: 100%;
  border-radius: 5px;
}

.chatbot-panel .message-iframe {
  width: 68vw;
  height: 70vh;
  border-radius: 10px;
  border: solid 1px var(--ivy-primary-color-grey-light);
  margin: auto;
}

.chatbot-panel .chatbot-send-form {
  background-color: var(--chat-send-form-background-color);
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 25px 0;
}

.chatbot-send-form .chat-send-form-input-field {
  width: 94%;
}

.chatbot-send-form .chat-send-form-button {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 4%;
}

.chatbot-send-form .chat-send-form-input-field {
  height: 100%;
}

.chatbot-send-form .message-list-content-send-input {
  height: 100%;
  padding: 10px;
  resize: none;
  background: var(--chat-textbox-background-color);
}

@media screen and (max-width: 40em) {
  .chatbot-panel .chat-message-container {
    padding: 10px;
  }

  .ui-scrolltop.chatbot-message-list-scrolltop {
    bottom: 90px;
  }

  .chatbot-send-form .chat-send-form-input-field {
    width: 90%;
  }

  .chatbot-send-form .chat-send-form-button {
    width: 10%;
  }

  .chatbot-panel .message-iframe {
    width: 90vw;
  }
}