.chatbot-layout-main {
  padding-top: 62px;
}

.chat-container {
  background: transparent;
  box-shadow: none;
}

.portal-layout-container {
  padding: 0;
}

.chatbot-panel {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: stretch;
}

.chatbot-panel .welcome-container {
  width: 100%;
  margin: 0 auto 0 auto;
  padding: 2vh 0;
  border-radius: 10px;
  color: var(--chat-message-text);
}

.chatbot-panel .candidate-question-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-around;
}

.chatbot-panel .candidate-question-container .candidate-question-block {
  padding: 15px;
  max-width: 30vw;
  flex: 1;
}

.chatbot-panel .candidate-question-container .candidate-question-block:first-child {
  padding-left: 0;
}

.chatbot-panel .candidate-question-container .candidate-question-block:last-child {
  padding-right: 0;
}

.chatbot-panel .candidate-question-container .candidate-question {
  padding: 15px;
  border-radius: 10px;
  border: solid 2px transparent;
  background: var(--chat-message-color);
  color: var(--chat-message-text);
  box-shadow: 0px 3px 5px rgba(41, 50, 65, 0.2);
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.chatbot-panel .candidate-question-container .candidate-question:hover {
  border-color: var(--ivy-primary-color);
}

.chatbot-panel .candidate-question-container .candidate-question .candidate-question-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.chatbot-panel .candidate-question-container .candidate-question .candidate-question-header .si {
  margin-right: 10px;
}

.chatbot-panel .candidate-question-container .candidate-question .candidate-question-header span {
  font-size: var(--candidate-question-header-font-size);
}

.chat-container.card {
  border-radius: 0;
  padding: 0;
}

.chatbot-panel .chat-message-container {
  padding: 0;
}

.chatbot-panel .message-list {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.chatbot-panel .message-list .chat-message-list {
  height: 100%;
  width: 100%;
}

.chatbot-panel .message-list-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: stretch;
}

.chatbot-panel .message-list {
  background: transparent;
  box-shadow: none;
}

.chatbot-panel .chat-message-list {
  height: calc(100% - 235px);
  width: 100%;
  padding: 0 30px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
}
.chatbot-panel .my-message {
  float: right;
  display: flex;
  flex-direction: row-reverse;
}

.chatbot-panel .chat-message {
  padding: 15px;
  border-radius: 10px;
  background: var(--chat-message-color);
  color: var(--chat-message-text);
  box-shadow: 0px 3px 5px rgba(41, 50, 65, 0.2);
}

.chatbot-panel .my-message .chat-message {
  background: var(--chat-my-message-color);
  color: var(--chat-my-message-text);
  box-shadow: 0px 3px 5px rgba(41, 50, 65, 0.2);
}

.chatbot-panel .chatbot-message-list {
  padding: 0;
  margin: auto;
  position: relative;
  height: 100%;
  max-width: 1143px;
}

.chatbot-panel .message-block {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: auto;
}

.chatbot-panel .message-block p {
  margin-bottom: 0;
}

.chatbot-panel .my-message .message-block {
  flex-direction: row-reverse;
}

.chatbot-panel .message-block .chat-message {
  cursor: default;
  border-radius: 12px;
  margin: 0;
  word-break: break-word;
  box-sizing: border-box;
  float: left;
  font-size: 1.1rem;
  white-space: pre-wrap;
  max-width: 100%;
}

.chatbot-panel .message-block .chat-message {
  align-self: flex-start;
}

.chatbot-panel .my-message .chatbot-meta,
.chatbot-panel .chatbot-meta {
  text-align: left;
}

.chatbot-panel .code-block {
  border-radius: 5px;
  flex-direction: column;
  overflow-x: auto;
}

.chatbot-panel .code-block .code-block-header {
  border-radius: 5px 5px 0 0 ;
  display: block;
  width: 100%;
  background: var(--ivy-primary-color-grey-dark);
  line-height: 2rem;
  padding: 0 0.5rem;
}

.chatbot-panel .code-block .code-block-header span {
  color: var(--ivy-primary-text-color);
  font-weight: bold;
}

.chatbot-panel .code-block .code-wrapper {
  padding: 5px;
}

.chatbot-panel .image-container {
  border-radius: 5px;
  background: transparent;
  position: relative;
}

.chatbot-panel .image-container .image {
  width: 100%;
  border-radius: 5px;
}

.chatbot-panel .message-iframe {
  width: 68vw;
  max-height: 70vh;
  border-radius: 10px;
  border: solid 1px var(--ivy-primary-color-grey-light);
  margin: auto;
}

.chatbot-panel .chatbot-send-form {
  background-color: var(--chat-send-form-background-color);
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 25px 0;
  max-width: 1143px;
  position: relative;
}

.chatbot-panel .chatbot-send-form .typing {
  position: absolute;
  top: 0;
}

.chatbot-panel .chatbot-send-form .typing div {
  position: relative;
  
}

.chatbot-panel .chatbot-send-form .typing div span {
  content: '';
  animation: blink 1.5s infinite;
  animation-fill-mode: both;
  height: 7px;
  width: 7px;
  background: #3b5998;
  position: absolute;
  left:0;
  top:0;
  border-radius: 50%;

  &:nth-child(2) {
    animation-delay: .2s;
    margin-left: calc(7px * 1.5);
  }

  &:nth-child(3) {
    animation-delay: .4s;
    margin-left: calc(7px * 3);
  }
}

@keyframes blink {
  0% {
    opacity: .1;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .1;
  }
}

.chatbot-send-form .chat-send-form-input-field {
  width: 94%;
}

.chatbot-send-form .chat-send-form-button {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 4%;
}

.chatbot-send-form .chat-send-form-button button.ui-button.rounded-button {
  width: 3rem;
  height: 3rem;
  margin-left: 15px;
}

.chatbot-send-form .chat-send-form-input-field {
  height: 100%;
}

.chatbot-send-form .message-list-content-send-input {
  height: 100%;
  padding: 10px;
  resize: none;
  background: var(--chat-textbox-background-color);
}

.chatbot-panel .background {
  position: fixed;
  height: 100%;
  width: 100%;
  inset: 0px;
  pointer-event: none;
  background: var(--ivy-primary-color-white);
}

@media screen and (max-width: 40em) {
  .chatbot-panel .chat-message-container {
    padding: 1vh 3vw;
    margin-top: 0;
  }

  .ui-scrolltop.chatbot-message-list-scrolltop {
    bottom: 90px;
  }

  .chatbot-send-form .chat-send-form-input-field {
    width: 90%;
  }

  .chatbot-send-form .chat-send-form-button {
    width: 10%;
  }

  .chatbot-panel .message-iframe {
    width: 90vw;
  }

  .chatbot-panel .welcome-container {
    padding: 4vh 2vh 2vh 2vh;
  }

  .chatbot-panel .candidate-question-container .candidate-question .candidate-question-header {
    margin-bottom: 1vh;
  }

  .chatbot-panel .candidate-question-container .candidate-question-block {
    width: 100%;
    min-width: 100%;
    padding: 3vw 3vw 0 3vw;
  }

  .chatbot-panel .candidate-question-container .candidate-question-block:first-child {
    padding-left: 3vw;
  }

  .chatbot-panel .candidate-question-container .candidate-question-block:last-child {
    padding-right: 3vw;
    padding-bottom: 3vw;
  }

  .ui-scrolltop.chatbot-message-list-scrolltop {
    bottom: 18vh;
  }
}

.chatbot-panel .assistant-commands-panel {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  padding-top: 3rem;
  padding-right: 3rem;
}

.manage-assistant-sidebar .assistant-info-panel {
  padding: 2em 01em 0 1em;
  height: calc(100% - 80px);
}

body .ui-sidebar.manage-assistant-sidebar {
  width: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}

.assistant-sidebar-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  height: 50px;
  padding: 0 1em 1em 1em;
  align-self: flex-end;
}

body .ui-sidebar.manage-assistant-sidebar .assistant-toolbar {
  padding: 0.5rem;
  margin-bottom: 10px;
}

body .ui-sidebar.manage-assistant-sidebar .tool-header-text {
  font-size: 1.5rem;
  margin-bottom: 10px;
  padding-left: 0;
}

body .ui-sidebar.manage-assistant-sidebar .tools-panel {
  height: 100%;
  align-content: flex-start;
}

body .ui-sidebar.manage-assistant-sidebar .tools-panel .add-tool-list-panel {
  height: 92%;
  overflow: auto;
  display: grid;
  align-items: center;
  justify-items: start;
  align-content: baseline;
  justify-content: start;
}

body .ui-sidebar.manage-assistant-sidebar .tools-panel .tool-list-panel {
  max-height: 90%;
  overflow: auto;
}

body .ui-sidebar.manage-assistant-sidebar .tools-panel .tool-info-line {
  padding-bottom: 3px;
  padding-top: 3px;
}

body .ui-sidebar.manage-assistant-sidebar .tools-panel .tool-header-line {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

body .ui-sidebar.manage-assistant-sidebar .tools-panel .tool-header-line .tool-actions {
  width: 40px;
}

body .ui-sidebar.manage-assistant-sidebar .tools-panel .tool-header-line .tool-name {
  padding: .0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.assistant-header-wrapper {
  margin: auto;
}

.assistant-header-wrapper .assistant-header-panel {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}

.assistant-header-wrapper .assistant-header-panel .assistant-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.assistant-header-panel .assistant-manage-button-container {
  width: 100px;
}

.assistant-header-panel .assistant-manage-button-container .manage-button {
  float: right;
}

.ui-sidebar.manage-assistant-sidebar .tools-panel .assistant-toolbar .ivy-attribute-panel ul {
  padding-left: 1.5rem;
}

.ui-sidebar.manage-assistant-sidebar .tools-panel .assistant-toolbar .ivy-attribute-panel li {
  padding: 3px 0;
}