/********************************** CHAT **********************************/
/* Responsive for Chat */
@media screen and (max-width: 40em) {
  .hidden-chat-contact {
    width: 0 !important;
    transition: width .3s;
    display: none !important;
  }
  .message-list.active,
  .chat-panel.active.message-displayed {
    width: 80vw !important;
    min-width: auto !important;
  }
  .chat-contact.active:not(.hidden-chat-contact),
  .chat-panel.active {
    width: 65vw !important;
    max-width: 300px;
  }
  .notification-badge i.fa.fa-comment {
    margin-right: 2px !important;
  }
  .chat-message-list {
    padding: 5px 15px !important;
  }
  .participants-list-dialog {
    width: 80vw !important;
  }
}

@media screen and (min-width: 40.063em) and (max-width: 64.062em) {
  .chat-contact.active,
  .chat-panel.active {
    width: 25vw !important;
    min-width: 200px;
  }
  .message-list.active {
    width: calc(100% - 25vw) !important;
    min-width: calc(100% - 200px);
  }
  .chat-panel.active.message-displayed {
    width: 70vw !important;
  }
}

@media screen and (min-width: 64.063em) and (max-width: 90.062em) {
  .chat-panel.active.message-displayed {
    width: 65vw !important;
  }
}

@media screen and (min-width: 90.063em) {
    .chat-panel.active.message-displayed {
    width: 50vw !important;
  }
}

/* Ends Responsive for Chat */

.chat-panel {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0;
  visibility: hidden;
  opacity: 0;
  transition: all .3s;
  -ms-transition: all 0s;
  display: flex;
  align-items: stretch;
  /* set it in front of top-layout */
  z-index: 1001;
}

.chat-panel.active {
  visibility: visible;
  opacity: 1;
  width: 300px;
}

.chat-panel.active.message-displayed {
  width: 50vw;
  max-width: 900px;
}

.chat-contact {
  display: none;
  width: 300px;
  position: relative;
  z-index: 999;
  text-align: left;
  min-width: 200px;
}

.chat-contact.active {
  display: block;
}

.chat-contact-content-filter>input[type="text"] {
  width: 280px;
}

.chat-contact-content-contact-list {
  overflow-y: auto;
  height: 100%;
}

.contact-card {
  padding: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 2px 10px;
  border-radius: 3px;
}

.contact-card.is-offline {
  opacity: .3;
}

.contact-card-icon {
  flex: 0 0 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.contact-card-icon:after, .contact-card-icon[unread-message='']:after {
  content: none;
}

.contact-card-icon[unread-message]:after {
  content: attr(unread-message);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -5px;
  text-align: center;
}

.contact-card-name {
  margin: auto 0 auto 10px;
  flex-grow: 1;
  text-align: left !important;
  overflow: hidden;
  height: 40px;
  display: flex;
  align-items: center;
}

.contact-card-name span {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contact-card-status {
  align-items: center;
  justify-content: center;
  stroke: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  transition: background-color .3s;
  position: absolute;
  bottom: 0;
  right: 0;
}

.contact-notification {
  width: 1.3rem;
  min-width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  text-align: center;
}

.message-list {
  display: none;
  width: calc(100% - 300px);
  height: 100%;
}

.message-list.active {
  z-index: 1000;
  display: block;
}

.message-list-form {
  height: 100%;
}

.message-list-header {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  flex-wrap: wrap;
  position: relative;
}

.message-list-header-close {
  position: relative;
  cursor: pointer;
  width: 20px;
  border-radius: 50%;
  flex: 0 0 20px;
}

.message-list-content {
  height: 100%;
  background: var(--surface-d, #545B67);
}

.chat-message-list {
  height: calc(100% - 235px);
  padding: 0 30px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column-reverse;
}

.chat-message-list .chat-message {
  cursor: default;
  padding: 15px;
  border-radius: 10px;
  margin: 0;
  word-break: break-all;
  box-sizing: border-box;
  border-top-left-radius: 0px;
  float: left;
}

.chat-message-list .my-message {
  align-self: flex-end !important;
}

.chat-message-list .my-message .chat-message {
  border-bottom-right-radius: 0px;
  border-top-left-radius: 10px;
  text-align: left;
  float: right;
}

.message-chat-header-name {
  margin-right: 10px;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: calc(100% - 30px);
}

.show-participants-link {
  display: none;
  flex: 0 0 auto;
  margin-top: -10px;
}

.group-chat-panel .show-participants-link {
  display: block !important;
}

.show-participants-link:hover {
  text-decoration: underline;
}

.chat-send-form {
  height: 150px;
  margin: 15px;
  border-radius: 7px;
  margin-bottom: 20px;
  position: relative;
}

.chat-send-form .ui-widget.ui-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.message-list-content-send-input {
  width: 100%;
  height: 100%;
  padding: 10px !important;
  padding-right: 50px !important;
  overflow-y: auto;
}

/*Need to add "data-badge" attribute to element*/
.notification-badge i.fa.fa-comment {
  position: relative;
  margin-right: 15px;
}

.notification-badge[data-badge]:after {
  position: absolute;
  content: attr(data-badge);
  right: 0.3rem !important;
  top: 1.2rem !important;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  text-align: center;
}

.notification-badge:after, .notification-badge[data-badge='']:after {
  content: none;
}

.notification-badge.mod-chat-menu:after {
  top: 0;
  right: 0;
}

.chat-contact-type-header {
  padding: 20px 10px 5px 10px;
  display: inline-block;
  overflow: hidden;
  min-height: 60px;
  width: calc(100% - 60px);
}

.contact-card-name.group-chat-card {
  margin: 5px 10px;
  margin-right: 0;
} 

.chat-message-container {
  margin-top: 10px;
}

.chat-meta {
  cursor: default;
  position: relative;
  text-align: left;
}

.my-message .chat-meta {
  text-align: right;
  width: 100%;
  color: var(--text-color);
}

.chat-meta .tooltip {
  visibility: hidden;
  width: 120px;
  text-align: center;
  border-radius: 3px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: -22px;
}

.chat-message-container:not(.my-message) .chat-meta .tooltip {
  left: 70px;
}

.my-message .chat-meta .tooltip {
  left: -120px;
}

_:-ms-fullscreen, :root .my-message .chat-meta .tooltip {
  left: 350px;
}

.chat-meta:hover .tooltip {
  visibility: visible;
}

.participants-list-dialog {
  min-width: 400px;
}

.role-name,
.participants-list-header {
    margin: 10px 0;
    display: block;
}

ul.roles-participants-list {
    padding-left: 0 !important; 
    list-style: none;
}

ul.users-in-role {
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

/********************************** END CHAT **********************************/

/* EDGE COMPATIBLE FIX*/
@supports (-ms-ime-align:auto) {
  .message-list-content {
    display: grid;
    height: calc(100% - 55px);
    align-self: end;
    grid-template-rows: auto 200px 0px;
  }

  .chat-message-list {
    flex-direction: column;
    height: auto !important;
    max-height: 100%;
    align-self: end;
  }
  
  .chat-send-form {
    align-self: end;
  }
}
/* END */

/* FIREFOX COMPATIBLE FIX*/
@supports (-moz-appearance:meterbar) {
  .message-list-content {
    display: grid;
    height: calc(100% - 55px);
    align-self: end;
    grid-template-rows: auto 200px 0px;
  }

  .chat-message-list {
    flex-direction: column;
    height: auto !important;
    max-height: 100%;
    align-self: end;
  }
  
  .chat-send-form {
    align-self: end;
  }
}
/* END */

/* IE 11 COMPATIBLE FIX*/
_:-ms-fullscreen, :root .chat-panel {
	position: -ms-page;
}

_:-ms-fullscreen, :root .chat-panel.active {
    right: 0;
}

_:-ms-fullscreen, :root .chat-panel:not(.active),
_:-ms-fullscreen, :root .chat-panel .message-list:not(.active) {
	display: none;
}

_:-ms-fullscreen, :root .chat-message-list {
	display: block;
	height: auto;
}

_:-ms-fullscreen, :root .chat-message-container {
	display: inline-block;
	width: 100%;
}

_:-ms-fullscreen, :root .chat-message {
	white-space: pre-wrap;
}
/* END */
.close-chat {
  position: absolute;
  top: 18px;
  right: 18px;
}