@charset "UTF-8";

:root {
  --accent-color: var(--ivy-portal-blue-light);
  --accent-text-color: var(--primary-dark-text-color);
  --ajax-loader-color: var(--ivy-primary-color-grey-dark);

  /* Task state color */
  --task-state-open-color: #C9C9C9;
  --task-state-in-progress-color: var(--ivy-tertinary-color-yellow-dark);
  --task-state-done-color: var(--ivy-primary-color-grey-dark);
  --task-state-reserved-color: rgba(black, 0.4);
  --task-state-system-color: rgba(black, 0.4);
  --task-state-failed-color: #EE4A52;
  --task-state-waiting-color: var(--ivy-tertinary-color-yellow-dark);

  /* Color and border radius of Portal button e.g Add, Close, New, Save, OK .. */
  --cancel-button-background-color: var(--ivy-primary-color-grey-light);
  --cancel-button-state-hover-or-focus-background-color: var(--ivy-primary-color-grey-pale);
  --portal-button-color: var(--ivy-primary-color-black);
  --saved-filter-button-background-color: var(--widget-filter-background-color);

  /* Color of secondary button */
  --button-secondary-bg-color: var(--ivy-primary-color-white);
  --button-secondary-text-color: var(--primary-color);

  /* Color and border radius of context button, it only affects when button has attribute styleClass="context-button" */
  --context-button-border-radius: 0px;
  --context-button-background-color: var(--ivy-primary-color-grey-light);
  --context-button-state-hover-or-focus-background-color: var(--ivy-primary-color-grey-pale);

  /* Widget header */
  --widget-header-main-border-bottom-color: var(--ivy-primary-color-grey-light);
  --widget-sort-menu-border-bottom-color: var(--ivy-primary-color-grey-light);
  --widget-header-input-field-background-color: transparent;
  --widget-header-input-hover-background-color: transparent;

  /* Announcement panel color */
  --announcement-background-color: var(--ivy-tertinary-color-yellow-light);
  --announcement-border-color: var(--ivy-tertinary-color-red-medium);
  --announcement-color: var(--primary-dark-color);

  /* Process chain */
  --process-chain-menu-color: var(--primary-color);
  --line-waiting-step-background-color: var(--ivy-primary-color-grey-light);
  --circle-step-number-color: var(--ivy-primary-color-white);
  --circle-horizontal-step-number-container-border-top-color: var(--primary-color);
  --circle-horizontal-step-number-container-border-top: var(--ivy-primary-color-grey-light);
  --circle-horizontal-last-step-number-container-border-top: var(--primary-color);
  --circle-horizontal-waiting-step-number-container-background-color: transparent;
  --circle-step-container-border: transparent;
  --circle-vertical-step-number-container-border: var(--ivy-primary-color-grey-light);
  --circle-vertical-step-container-background-color: transparent;
  --stages-chain-current-icon-color: var(--primary-color);
  --current-line-horizontal-step-title-font-weight: bold;
  --current-line-vertical-step-title-font-weight: bold;
  --current-circle-horizontal-step-title-font-weight: bold;
  --current-circle-vertical-step-title-font-weight: bold;

  /* Statistic widget */
  --statistic-filter-accordion-panel-border: var(--ivy-primary-color-grey-light);
  --chart-container-background-color: #e6f1f5;
  --chart-container-number-color: var(--ivy-primary-color);
  
  /* Sidebar */
  --sidebar-app-text-color: var(--menuitem-text-color);
  --sidebar-app-text-color: var(--primary-color);
  --sidebar-mobile-menu-icon-font-size: 2.4rem;
  --menuitem-active-bg-color: var(--primary-color);
  --menuitem-active-text-color: var(--ivy-primary-color-white);
  --menuitem-hover-bg-color: var(--ivy-primary-color-grey-light);
  --menuitem-hover-text-color: var(--primary-color);
  
  /* Side step */
  --sidestep-action-text-color: var(--ivy-primary-color-black);

  /* Filter Widget */
  --advanced-filter-error-color: var(--ivy-tertinary-color-red-medium);
  --widget-header-filter-color: var(--ivy-primary-color-black);
  --widget-advanced-filter-border: transparent;
  --widget-advanced-filter-hover-border: var(--ivy-primary-color-grey-light);
  --widget-filter-selection-container-border: transparent;
  --widget-advanced-filter-command-state-focus-background-color: none;
  --widget-advanced-filter-overlay-panel-footer: var(--ivy-primary-color-grey-light);
  --widget-advanced-filter-command-background-color: none;
  --widget-advanced-filter-background-color: none;
  --widget-advanced-filter-icon-color: hsla(180, 1%, 61%, 0.5);
  --widget-advanced-filter-icon-color-hover: var(--accent-color);
  --widget-advanced-filter-hover-backround-color: var(--ivy-primary-color-grey-pale);
  --filter-name-label-color: var(--ivy-primary-color-grey-medium);
  --filter-selection-container-group-border-color: var(--ivy-primary-color-grey-medium);
  --widget-advanced-filter-label-color: var(--ivy-primary-color-grey-medium);
  --widget-filter-background-color: var(--ivy-primary-color-grey-pale);

  /* Item in Widget List */
  --item-widget-background-color: var(--ivy-primary-color-grey-pale);
  --item-widget-box-shadow: 0px 2px 8px var(--box-shadow-color);
  --item-widget-text-color: var(--ivy-primary-color-black);

  /* Process */
  --process-navigator-item-color: var(--ivy-portal-color-black);
  --process-item-color-hover: var(--ivy-primary-color);
  --process-start-list-item-hover-background-color: var(--item-background-hover);
  --process-start-list-item-hover-border: var(--item-border-hover);
  --process-history-column-header-is-selected-color: var(--ivy-primary-color-black);
  --process-history-message-label-color: var(--ivy-primary-color-black);
  --process-navigator-border: var(--ivy-primary-color-grey-light);
  --process-navigator-item-selected-border: var(--primary-color);
  --process-history-column-header-border: var(--ivy-primary-color-grey-light);
  --process-history-list-data-scroller-background-color: transparent;
  --selected-process-nav-item-font-weight: bold;
  --process-start-list-item-name-font-weight: 400;
  --process-nav-item-disable-color: hsla(0, 0%, 11%, 0.3);
  --hovered-process-start-list-item-i-con-color: var(--primary-color);
  --hovered-user-process-start-list-item-icon-color: var(--primary-color);
  --process-warning-icon-color: var(--ivy-tertinary-color-red-medium);
  --active-switch-label-font-weight: 700;
  --process-list-item-background-color: hsl(180, 1%, 95%);
  --process-list-compact-mode-background-color: var(--ivy-primary-color-grey-pale);
  --process-list-item-border-color: hsl(0,0%,92.2%);
  --process-list-widget-item-background-color:  var(--ivy-primary-color-grey-pale);
  --process-list-item-text: var(--ivy-primary-color-black);

  /* Case Detail */
  --case-related-task-color: var(--ivy-primary-color-black);
  --case-related-task-hover-color: var(--ivy-primary-color-grey-dark);
  --case-detail-paginator-color: var(--ivy-primary-color-black);
  --case-related-task-content-border: var(--ivy-primary-color-grey-light);
  --case-document-upload-border: var(--ivy-primary-color-grey-light);
  --user-defined-filter-container-hover-font-weight: normal;
  --case-detail-name-input-font-weight: bold;
  --additional-case-detail-link-font-weight: 400;
  --details-document-add-link-font-weight: 400;
  --case-detail-header-font-weight: bold;
  --history-button-container-font-weight: bold;
  --case-detail-separator-border-color: #F4F4F4;
  --case-detail-paginator-header-corner-top-background-color: hsla(180, 1%, 85%,0.5);
  --case-detail-paginator-hover-button-background-color: hsla(180, 1%, 85%,0.5);
  --case-description-text-color-hightlight: var(--ivy-primary-color-black);
  --case-detail-name-text-color-hight-light: var(--ivy-primary-color-black);
  /* Case List */
  --case-odd-row-background-color: var(--ivy-primary-color-grey-pale);
  /* Case Item */
  --history-note-color: var(--ivy-primary-color-black);
  --case-task-document-name-color: var(--ivy-primary-color-black);
  --case-item-action-steps-item-hover-background-color: var(--ivy-primary-color-grey-pale);
  --case-item-action-steps-item-hover-text-color: var(--ivy-primary-color-grey-dark);
  --case-action-separator-border-color: hsla(180, 1%, 61%, 0.5);
  --case-state-in-progress-color: var(--ivy-tertinary-color-yellow-dark);
  --case-state-done-color: #4eb41c;
  --case-widget-column-header-border-bottom: var(--ivy-primary-color-grey-light);
  --case-list-data-scroller-content-background-color: transparent;
  --case-header-action-cell-button-background-color: transparent;
  --header-action-action-left-border-color: var(--ivy-primary-color-grey-medium);
  --task-note-link-hover-color: var(--ivy-primary-color-grey-dark);
  --case-list-unsortable-header-cell-text-color: var(--ivy-primary-color-grey-medium);
  --case-list-item-background-color: hsla(0, 0%, 100%, 0.2);
  --case-item-description-cell: var(--ivy-primary-color-grey-medium);
  /* Task Widget */
  --task-filter-selection-form-hover-background-color: var(--ivy-primary-color-grey-pale);
  --compact-task-start-list-item-hover-background-color: var(--item-background-hover);
  --compact-task-start-list-item-hover-border: var(--item-border-hover);
  --compact-task-start-info-color: var(--text-color);
  --compact-task-start-info-icon-color: var(--text-color);
  --task-widget-link-color: var(--ivy-primary-color-black);
  --task-widget-header-column: var(--ivy-primary-color-grey-medium);
  --menu-action-hover-text-color: var(--ivy-primary-color-dark);
  --task-filter-separator-border-bottom: var(--ivy-primary-color-grey-light);
  --task-view-container-data-scroller-content-background-color: transparent;
  --task-start-list-description-cell: var(--ivy-primary-color-grey-medium);
  --task-filter-delete-user-defined-icon-hover-color: var(--primary-color);
  --task-in-progress-checkbox-label-color: var(--primary-text-color);
  /* Task Detail */
  --task-detail-paginator-color: var(--ivy-primary-color-black);
  --task-detail-paginator-header-corner-top-border-color: var(--ivy-primary-color-grey-light);
  --task-detail-paginator-header-corner-top-background-color: hsla(180, 1%, 85%, 0.5);
  --task-detail-paginator-hovered-button-background-color: hsla(180, 1%, 85%, 0.5);
  --task-detail-action-item-hover-background-color: transparent;
  --task-detail-header-font-weight: bold;
  --task-detail-section-title-font-weight: bold;
  --task-detail-separator-border-color: #F4F4F4;
  --task-start-info-header-font-weight: bold;
  --task-start-info-task-id-font-weight: normal;
  --task-name-input-font-weight: bold;
  --task-highlighted-inplace-field-background-color: var(--ivy-primary-color-grey-pale);
  --task-highlighted-inplace-field-text-color: var(--ivy-primary-color-black);
  --task-low-priority-color: #90DDE9;
  --task-normal-priority-color: #49BAD6;
  --task-high-priority-color: #007095;
  --task-exception-priority-color: #EE4A52;
  --task-state-suspended-background: #DADADA;
  --task-state-suspended-color: var(--ivy-primary-color-grey-dark);
  --task-state-resumed-background: #FFE896;
  --task-state-done-background: #D4EBA2;
  --task-state-parked-background: rgba(0, 112, 149, 0.2);
  --task-state-failed-background: #EE4A52;
  --task-state-failed-text-color: var(--ivy-primary-color-white);
  /* Task Action Item */
  --task-action-item-widget-header-color: var(--ivy-primary-color-white);
  --task-action-item-label-font-weight: normal;
  --task-start-action-font-weight: bold;
  /* Task Template */
  --task-template-action-button-focus: transparent;
  --task-template-title-font-weight: bold;
  --output-label-task-template-title-font-weight: 400;
  /* Admin Setting */
  --admin-setting-no-permission-message-color: #e53935;
  --user-setting-container-box-shadow: rgba(43, 59, 93, 0.6);
  --email-setting-widget-header: var(--ivy-primary-color-white);
  --portal-accessibility-bg-color: var(--primary-lighter-color);
  --portal-button-bg-color: var(--ivy-primary-text-color);
  --portal-button-text-color: var(--ivy-primary-color);
  /* Absences and Deputy */
  --substituted-user-text-color: var(--ivy-primary-color-black);
  /* Awesome Icon Selection */
  --content-link-change-awesome-icon-color: var(--primary-color);
  --select-awesome-icon-button-font-weight: bold;
  --selected-icon-bg-color: hsla(0, 0%, 97%, 1);
  --icon-color: var(--ivy-primary-color-black);
  /* Start Notification */
  --notification-content-background-color: var(--ivy-tertinary-color-red-dark);
  --notification-content-action-color: var(--ivy-primary-color-white);
  --notification-content-action-hover-background-color: var(--ivy-primary-color-black);
  /* Login */
  --login-panel-header-background-color: var(--ivy-primary-color-grey-pale);
  /* Stages breadcrumb */
  --stages-chain-visited-color: var(--ivy-primary-color-grey-dark);
  --stages-chain-waiting-color: var(--ivy-primary-color-grey-light);
  --stages-chain-process-flow-visible-background-color: var(--ivy-primary-color-grey-light);
  /* Asterik Icon */
  --asterik-icon-color: #f03369;
  /* Error Page */
  --error-container-color: #546e7a;
  --error-message-header-color: #e67163;
  /* Chat */
  --chat-panel-background-color: #F7FAFF;
  --chat-panel-box-shadow: 0px 10px 40px rgb(41 50 65 / 6%);
  --no-group-chat-color: var(--text-color, #69707A);
  --contact-card-icon-color: var(--ivy-primary-color-grey-dark);
  --contact-card-icon-background-color: #D0D6DD;
  --contact-card-icon-offline-color: var(--ivy-primary-color-grey-light);
  --contact-card-background-color: var(--ivy-primary-color-white);
  --contact-card-hover-background-color: hsla(0, 0%, 100%, 0.85);
  --contact-card-icon-unread-message-color: var(--ivy-primary-color-white);
  --contact-card-icon-unread-message-background-color: var(--ivy-tertinary-color-red-dark);
  --contact-card-status-background-color: var(--ivy-tertinary-color-green-medium);
  --contact-card-name-color: var(--text-color, #69707A);
  --contact-notification-color: var(--ivy-primary-color-white);
  --contact-notification-background-color: var(--ivy-tertinary-color-red-dark);
  --contact-card-name: var(--ivy-primary-color-black);
  --message-list-background-color: var(--chat-panel-background-color);
  --message-list-header-background-color: var(--chat-panel-background-color);
  --message-list-header-close-icon-background-color: var(--ivy-primary-color-grey-light);
  --chat-message-background-color: var(--ivy-primary-color-light);
  --chat-my-message-background-color: var(--ivy-secondary-color-light);
  --message-chat-header-name-color: var(--text-color, #69707A);
  --show-participants-link-color: var(--ivy-primary-color-white);
  --chat-form-background-color: var(--ivy-primary-color-white);
  --notification-badge-background-color: var(--ivy-tertinary-color-red-dark);
  --notification-badge-color: var(--ivy-primary-color-white);
  --chat-contact-type-header-color: var(--text-color, #69707A);
  --chat-tooltip-color: var(--ivy-primary-color-white);
  --chat-tooltip-background-color: var(--ivy-primary-color-black);
  --participants-list-header-color: var(--ivy-primary-color-black);
  --chat-send-form-button-background-color: transparent;
  --message-list-content-send-input-background-color: transparent;
  --chat-user-in-role-border: var(--ivy-primary-color-grey-light);
  --chat-box-shadow: var(--chat-panel-box-shadow);
  --chat-contacts-box-shadow: 3px 0 6px hsla(0, 0%, 11%, 0.3);
  --close-chat-button-background-color: var(--ivy-primary-color-grey-light);
  --close-chat-button-color: var(--ivy-primary-color-black);
  --chat-send-form-icon-color: var(--ivy-primary-color-black);
  /* Icon */
  --icon-font-family: "FontAwesome";
  --icon-selection-dialog-border: transparent;
  --icon-selection-dialog-border-hover: var(--ivy-primary-color-black);
  --ui-inplace-background-color: transparent;
  --data-icon-font-family: "true-minimalistic-icons";
  --data-icon-font-style: normal;
  --data-icon-font-weight: normal;
  --data-icon-font-variant: normal;
  --true-minimalistic-icon-font-family: "true-minimalistic-icons";
  --true-minimalistic-icon-font-style: normal;
  --true-minimalistic-icon-font-weight: normal;
  --true-minimalistic-icon-font-variant: normal;

  /* Others */
  --card-dialog-border-color: transparent;
  --hovered-item-select-one-menu-text-color: var(--ivy-primary-color-black);
  --hovered-item-select-one-list-box-text-color: var(--ivy-primary-color-black);
  --auto-complete-hover-color: var(--ivy-primary-color-black);
  --ui-fiedset-legend-text-color: var(--ivy-primary-color-black);
  --ui-dialog-title-bar-text-color: var(--ivy-primary-color-black);
  --ui-input-field-text-color: var(--ivy-primary-color-black);
  --ui-field-set-toggler-color: var(--ivy-primary-color-black);
  --ui-data-picker-title-color: var(--ivy-primary-color-black);
  --ui-data-picker-header-color: var(--ivy-primary-color-grey-pale);
  --ui-data-picker-title-border-color: var(--ivy-primary-color-grey-pale);
  --ui-data-picker-title-background-color: var(--ivy-primary-color-grey-pale);
  --ui-fileupload-buttonbar-background-color: var(--ivy-portal-color-gray-spaces);
  --ui-transparent-button-hover-background-color: transparent;
  --menu-item-link-color: var(--ivy-primary-color-black);
  --menu-item-link-hover-background-color: var(--ivy-primary-color-grey-pale);
  --action-step-text-color: var(--ivy-primary-color-grey-medium);
  --action-step-hover-text-color: var(--ivy-primary-color-grey-dark);
  --action-step-disabled-text-color: var(--ivy-primary-color-grey-medium);
  --action-step-separator-border-color: #F4F4F4;
  --place-holder-text-color: var(--ivy-primary-color-grey-medium);
  --text-tab-default-color: var(--ivy-primary-color-grey-medium);
  --no-item-icon-color: var(--ivy-primary-color-grey-light);
  --user-menu-items-border-color: var(--ivy-primary-color-grey-pale);
  --option-item-border-color: var(--ivy-primary-color-grey-pale);
  /* Portal breadcrumb */
  --breadcrumb-background-color: transparent;
  --breadcrumb-home-icon-color: var(--primary-color);
  --current-step-color: var(--primary-color);
  --current-step-opacity: 1; 
  /* Portal Global Ajax Status */
  --ajax-loading-bg: hsla(0, 0%, 100%, 0.9);
  --general-config-description-color: var(--ivy-primary-color-grey-medium);
  /* Security member display name */
  --security-member-tooltip-arrow-color: var(--ivy-primary-color-white);
  /* Image Process Item */
  --image-process-header-background-color: hsla(0, 0%, 96%, 1);
  --image-process-header-background-color-hover: hsla(0, 0%, 86%, 1);
  --image-process-header-color: hsla(0, 0%, 49%, 1);
  --image-process-start-button-text-color: var(--ivy-portal-blue-dark);
  /* Process information page */
  --process-info-step-icon-font-color: var(--primary-color);
  /* Widget header */
  --widget-filter-noti-background-color: var(--ivy-tertinary-color-red-medium);
  --widget-filter-noti-color: var(--ivy-primary-color-white);
  --widget-header-icon: var(--ivy-primary-color-black);
  /* New Dashboard */
  --dashboard-table-column-small-screen-description-color: var(--ivy-primary-color-grey-medium);
  --new-widget-dialog-title-color: var(--ivy-primary-color-black);
  --new-widget-dialog-description-color: var(--ivy-primary-color-grey-medium);
  --dashboard-type-color: var(--ivy-primary-color-grey-dark);
  /* Process Start Widget*/
  --combined-normal-button-tab-color: hsla(0, 0%, 11%, 0.56);
  --combined-normal-button-tab-border-color: hsla(0, 0%, 11%, 0.32);
  --combined-active-button-tab-color: hsla(0, 0%, 11%, 1);
  --combined-button-tab-background-hover: rgba(144, 221, 233, 1);
  --combined-button-tab-background-focus: rgba(144, 221, 233, 0.5);
  /* News Widget */
  --news-item-background: #F7F7F8;
  /* Notification */
  --notification-panel-color: var(--ivy-primary-color-white);
  --notification-hover-message-color: #f3f3f3;
  /*Notification channels*/
  --state-active: var(--case-state-done-color);
  --state-inactive: var(--task-state-failed-color);

  /* Dashboard commandlink hover */
  --ivy-primary-color-command-link-hover: var(--ivy-primary-color);
  
  /* Dashboard widgets empty message*/
  --dashboard-widget-empty-message: var(--ivy-primary-color-grey-dark);
  
  --accessibility-shortcut-bg-color: var(--ivy-primary-color-grey-pale);
  --accessibility-bg-color: var(--ivy-primary-color-white);
  --accessibility-shortcut-text-color: var(--ivy-primary-color-black);

  /* Confirmation dialog footer button*/
  --ui-leave-button-color: var(--ivy-primary-color-grey-pale);
  
  /* Dashboard configuration*/
  --dashboard-action-container-text-color: var(--ivy-primary-color-black);
  --dashboard-action-container-border-color: var(--ivy-primary-color-grey-light);
  --dashboard-action-container-description-color: var(--ivy-primary-color-grey-dark);
  --dashboard-icon-drag-drop-color: var(--ivy-primary-color-grey-medium);
  
  /* Leave task warning message*/
  --warning-before-leave-task: #757575;
}