/*Uses for customize layout in Portal Template*/
#portal-template-header, #portal-template-footer {
  position: fixed;
  z-index: 1000;
  width: 100%;
}

#portal-template-header {
  top: 0;
}

#portal-template-footer {
  bottom: 0;
}

/* .portal-layout-container { */
/*   overflow-y: auto; */
/* } */

#portal-environment {
  text-align: right;
}

#logo>img {
  margin: 5px 0 0 0px;
}

a.left-sidebar-menu-icon {
  cursor: pointer;
}

.mobile-global-search-container {
  margin: 0 9px;
}

.mobile-global-search-container .global-search-input {
  width: 100% !important;
}

.global-search {
  width: 100%;
  margin: 10px auto;
  position: relative;
  display: inline-block;
}

@media screen and (max-width: 64.062em) {
  .mobile-global-search-container {
    margin-top: 20px;
  }
  .global-search, .search-results-tabview-container {
    padding: 0 10px 0 10px;
  }
}

.show-environment-info {
  font-size: 11px;
  padding: 0 5px 0 0;
}

/* Override default state of ui-layout-container in Internet Explorer */
.ui-layout-container {
  overflow-x: visible !important;
  overflow-y: visible !important;
  height: 100%;
}

.ui-outputlabel .ui-outputlabel-rfi {
  margin-left: 0.2em;
}

.ui-dialog .ui-dialog-content .ui-icon-alert {
  margin-top: 0;
}
/*Case Template*/
.case-template-title-icon {
  margin-right: 5px;
}

.case-template-content {
  margin-top: 30px;
}

.case-template-add-note-command {
  z-index: 1;
  position: absolute;
  margin-top: 10px;
  margin-left: calc(98% - 65px);
}

/*Task template*/
.task-template-container {
  min-height: 400px;
  position: relative;
}

.task-header-container {
  margin-bottom:10px;
}

.task-template-title {
  display: flex;
  align-items: center;
  flex: 1 0 auto;
}

.task-template-title-icon {
  margin-right: 5px;
  font-weight: bold !important;
}

.task-template-content {
  position: relative;
}

.task-template-tasks-command {
  display: flex;
  align-items: center;
  margin-left: 20px;
  padding: 2px;
}

@media screen and (max-width: 40em) {
  .task-template-tasks-command {
    order: 1;
  }
}

.task-template-content.task-frame-container {
  display: flex !important;
}

.layout-wrapper .layout-main .layout-content.frame-container {
  overflow-y: hidden;
}

.task-frame,
.case-information-frame {
  width: 100%;
  border: 0;
}

.case-information-frame {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  border: 0;
}

/*ERROR PAGE*/
.error-container {
  width: 33.3%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10%;
  text-align: center;
}

.message {
  padding: 20px;
}

.message .message-header {
  margin: 16px 0px;
}

.message .message-separator {
  border: 0;
}

.message .message-container {
  margin: 16px 0px;
}

.message .message-container .message-detail:hover {
  text-decoration: underline;
}

.message .message-footer {
  margin-top: 10px;
}

/* APPLICATION MENU */
.layout-wrapper.layout-static .menu-wrapper .sidebar-logo .portal-home-logo-small,  .layout-wrapper .menu-wrapper.layout-sidebar-active .sidebar-logo .portal-home-logo-small
  {
  display: none;
  -moz-transition: visibility 0.2s;
  -o-transition: visibility 0.2s;
  -webkit-transition: visibility 0.2s;
  transition: visibility 0.2s;
}

.layout-sidebar .sidebar-logo .portal-home-logo-small img {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-25%, 30%);
}
/* END APPLICATION MENU */

.task-template-title-horizontal-container {
  display: flex;
  flex-wrap: wrap;
}

.note-history-export-button {
  margin-top: 10px;
  margin-bottom: 60px;
}

.note-history-container {
  padding: .5em;
  padding-bottom: 60px;
}

.note-history-container .note-history-state {
  width: 100%;
  float: none;
}

.additional-case-details-data-grid {
  margin-left: 15px;
}

.additional-case-details-data-1st-column {
  padding-right: 10px;
  text-align: left;
  word-break: normal;
  white-space: nowrap;
}

.additional-case-details-data-2nd-column {
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 400px;
}

.process-history-column-header {
  flex: 1 0 100%;
  height: 60px;
  display: flex;
  align-items: flex-end;
  line-height: normal;
  margin: 0;
  padding: 0 2px 10px 2px;
  margin-bottom: 1px;
}

.process-history-list .ui-datascroller {
  border: none;
  border-radius: 0;
}

.process-history-list .ui-datascroller .ui-datascroller-content {
  padding: 2px;
}

.process-history-list-header-default {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

.process-history.process-history-list.process-history-list-cell-default {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.process-history.process-history-list.process-history-list-cell-default.name-after-avatar {
  padding-left: 3rem;
}

.process-history.process-history-list.process-history-list-cell-default.process-history-list-width-120,
  .process-history-list-header-default.process-history-list-width-120 {
  flex: 0 0 120px;
}

.process-history-list-name-header {
  padding-left: 10px;
}

.case-template-content .case-details, .task-template-content .case-details {
  margin: 0 !important;
}

.case-default-widget-container {
  flex-wrap: wrap;
}

.search-results-tabview .process-in-search {
  margin-top: 10px;
}

.case-template-content .case-list-item {
  width: 100%;
  margin: 20px 0 0 0;
}

.ui-confirm-dialog-message li {
  list-style-type: circle;
}
/******** CHAT ********/
.chat-add-assignee-button-grid, .chat-action-container {
  text-align: right;
}

.chat-delete-assignee {
  float: right;
}

.chat-assignee-selection-panel {
  max-height: 75vh;
}

.chat-assignee-selection-panel .ui-selectoneradio.ui-widget td {
  padding-right: 15px;
}

.chat-assignee-selection-panel .chat-selected-assignee-fieldset .ui-fieldset-content {
  max-height: 150px;
  overflow: auto;
}

/* SERENITY MAIN LAYOUT */
.layout-wrapper {
  -webkit-overflow-scrolling: touch;
}

.layout-wrapper .layout-main.margin-left-0 {
  margin-left: 0px;
}
/* END SERENITY MAIN LAYOUT */
/* =================== FRAME ========================= */
.request-frame {
  width: 100%;
  border: 0;
}
/* =================== END FRAME ========================= */