body.freya .theme-selection-panel label.theme-selection-label {
  line-height: 2.5;
}

.ui-hidden {
  display: none;
}

body.freya .theme-selection-panel .example-link {
  line-height: 2.5;
}

.mt-label {
  margin-top: 2.3rem;
}