/********************************** CHAT **********************************/
.chat-panel {
  position: fixed;
  top: 0;
  right: -900px;
  bottom: 0;
  transition: right .3s;
  display: flex;
  align-items: stretch;
  /* set it in front of top-layout */
  z-index: 1001;
}

.chat-panel.active {
  right: -600px;
}

.chat-panel.active.message-displayed {
  right: 0;
}

.chat-contact {
  width: 300px;
  -webkit-box-shadow: 3px 0 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 3px 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 999;
}

.chat-contact-content-filter>input[type="text"] {
  width: 280px;
}

.chat-contact-content-contact-list {
  overflow-y: auto;
  max-height: 100vh;
}

.contact-card {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.contact-card.is-offline {
  opacity: .3;
}

.contact-card:hover, .contact-card.active {
  background: #ffffff !important;
}

.contact-card:hover .contact-card-icon, .contact-card.active .contact-card-icon {
  background: #607D8B;
}

.contact-card:hover .contact-card-name, .contact-card.active .contact-card-name {
  color: #000000;
}

.contact-card-icon {
  flex: 0 0 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.contact-card-icon:after, .contact-card-icon[unread-message='']:after {
  content: none;
}

.contact-card-icon[unread-message]:after {
  content: attr(unread-message);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -5px;
  text-align: center;
  font-size: .5em;
}

.contact-card-name {
  margin: 16px;
  flex-grow: 1;
  text-align: left !important;
}

.contact-card-status {
  align-items: center;
  justify-content: center;
  stroke: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  transition: background-color .3s;
  position: absolute;
  bottom: 0;
  right: 0;
}

.contact-notification {
  width: 1.3rem;
  min-width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  text-align: center;
}

.message-list {
  width: 600px;
  height: 100%;
}

.message-list-form {
  height: 100%;
}

.message-list-header {
  height: 60px;
  background: #fff;
  display: flex;
  align-items: center;
  padding: 0 10px;
  flex-wrap: wrap;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px 0 rgba(0, 0, 0, 0.14);
  position: relative;
}

.message-list-header-close {
  position: relative;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.message-list-header-close:before {
  transform: rotate(45deg);
}

.message-list-header-close:after {
  transform: rotate(135deg);
}

.message-list-header-close:before, .message-list-header-close:after {
  content: '';
  width: 14px;
  height: 4px;
  display: block;
  /* set its position center */
  position: absolute;
  top: 11px;
  left: 5px;
  border-radius: 30%;
  transition: background-color .65s;
}

.message-list-content {
  height: 100%;
  background-color: #F5F5F5;
}

.chat-message-list {
  height: calc(100% - 235px);
  padding: 0 30px;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
}

.chat-message-list .chat-message {
  cursor: default;
  padding: 15px;
  border-radius: 10px;
  margin: 0;
  word-break: break-all;
  box-sizing: border-box;
  border-top-left-radius: 0px;
  float: left;
}

.chat-message-list .my-message {
  align-self: flex-end !important;
}

.chat-message-list .my-message .chat-message {
  border-bottom-right-radius: 0px;
  border-top-left-radius: 10px;
  text-align: left;
  float: right;
}

.message-chat-header-name {
  color: black !important;
  text-align: center;
}

.message-chat-header-name {
  font-size: 2rem;
  margin-right: 10px;
  flex: 1 0 90%;
}

.show-participants-link {
  display: none;
  flex: 0 0 auto;
  margin-top: -10px;
}

.group-chat-panel .show-participants-link {
  display: block !important;
}

.show-participants-link:hover {
  text-decoration: underline;
}

.chat-send-form {
  height: 150px;
  background: #FFF;
  margin: 15px;
  border-radius: 7px;
  margin-bottom: 20px;
  position: relative;
}

.chat-send-form textarea {
  background-image: none !important;
}

.chat-send-form .ui-widget.ui-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.chat-send-form .ui-widget.ui-button .ui-icon {
  font-size: 2rem !important;
  width: 22px;
  height: 22px;
  margin-top: -10px;
  margin-left: -13px;
}

.message-list-content-send-input {
  width: calc(100% - 65px);
  border: none !important;
  /* override Primefaces/Modena rules */
  height: calc(100% - 20px) !important;
  padding: 0 !important;
  margin: 10px 9px;
  overflow-y: auto;
}

.message-list-content-send-button {
  width: 294px;
  height: 38px;
  margin: 3px;
}

/*Need to add "data-badge" attribute to element*/
.notification-badge i.fa.fa-comment {
  position: relative;
  line-height: 30px;
  font-size: 2rem !important;
  margin-right: 15px;
}

.notification-badge[data-badge]:after {
  position: absolute;
  content: attr(data-badge);
  left: 1.3rem;
  top: 0.3rem !important;
  border-radius: 50%;
  width: 1.3rem;
  height: 1.3rem;
  text-align: center;
  font-size: 0.7em;
}

.notification-badge:after, .notification-badge[data-badge='']:after {
  content: none;
}

.notification-badge.mod-chat-menu:after {
  top: 0;
  right: 0;
}


.chat-contact-type-header {
  padding: 20px 10px 5px 10px;
}

.contact-card-name.group-chat-card {
  margin: 5px 10px;
  margin-right: 0;
} 

.chat-message-container {
  margin-top: 10px;
}

.chat-meta {
  cursor: default;
  position: relative;
}

.my-message .chat-meta {
  text-align: right;
  width: 100%;
}

.chat-meta .tooltip {
  visibility: hidden;
  width: 120px;
  text-align: center;
  border-radius: 3px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: -22px;
}

.chat-message-container:not(.my-message) .chat-meta .tooltip {
  left: 70px;
}

.my-message .chat-meta .tooltip {
  left: -120px;
}

_:-ms-fullscreen, :root .my-message .chat-meta .tooltip {
  left: 350px;
}

.chat-meta:hover .tooltip {
  visibility: visible;
}

.role-name,
.participants-list-header {
    margin: 10px 0;
    display: block;
}

ul.roles-participants-list {
    padding-left: 0 !important; 
}

ul.users-in-role {
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

/********************************** END CHAT **********************************/

/* EDGE COMPATIBLE FIX*/
@supports (-ms-ime-align:auto) {
  .message-list-content {
    display: grid;
    height: calc(100% - 55px);
    align-self: end;
    grid-template-rows: auto 200px 0px;
  }

  .chat-message-list {
    flex-direction: column;
    height: auto !important;
    max-height: 100%;
    align-self: end;
  }
  
  .chat-send-form {
    align-self: end;
  }
}
/* END */

/* FIREFOX COMPATIBLE FIX*/
@supports (-moz-appearance:meterbar) {
  .message-list-content {
    display: grid;
    height: calc(100% - 55px);
    align-self: end;
    grid-template-rows: auto 200px 0px;
  }

  .chat-message-list {
    flex-direction: column;
    height: auto !important;
    max-height: 100%;
    align-self: end;
  }
  
  .chat-send-form {
    align-self: end;
  }
}
/* END */

/* IE 11 COMPATIBLE FIX*/
_:-ms-fullscreen, :root .chat-panel {
	position: -ms-page;
}

_:-ms-fullscreen, :root .chat-panel.active {
    right: 0;
}

_:-ms-fullscreen, :root .chat-panel:not(.active),
_:-ms-fullscreen, :root .chat-panel .message-list:not(.active) {
	display: none;
}

_:-ms-fullscreen, :root .chat-message-list {
	display: block;
	height: auto;
}

_:-ms-fullscreen, :root .chat-message-container {
	display: inline-block;
	width: 100%;
}

_:-ms-fullscreen, :root .chat-message {
	white-space: pre-wrap;
}
/* END */
.close-chat {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.close-chat .ui-button.ui-button-icon-only {
  width: 40px;
  height: 40px;
  background: #ffffff;
}

.close-chat .ui-button.ui-button-icon-only .ui-icon {
  margin-left: -9px;
}