.dashboard__header {
	height: 60px;
	padding: 0 10px;
}

.new-widget-dialog__content .ui-grid.ui-grid-responsive {
  padding: 0;
  border: none;
}

.new-widget-dialog__item {
  text-align: center;
}

.ui-resizable-handle {
  color: var(--primary-color);
}

.dashboard-card {
  padding: 0;
}

.ui-draggable:not(.ui-draggable-disabled)>.ui-draggable-handle {
  cursor: move;
}

.dashboard__switch-mode {
  top: 10px;
  float: right;
  z-index: 995;
}

.dashboard__title {
  font-size: 1.8rem;
}

.dashboard__widget {
  display: flex;
  flex-direction: column;
  box-shadow: var(--card-box-shadow);
}

.widget__header {
  flex: 0 0 30px;
  padding: 10px;
  font-size: 18px;
  border-bottom: 2px solid lightgrey;
  font-weight: bold;
}

.widget__header-actions {
  float: right;
}

.widget__content {
  flex: auto;
  overflow: auto;
  margin-bottom: 20px;
  padding: 10px;
}

.widget__filter-sidebar-mask,
.widget__info-sidebar-mask {
  background-color: lightgray;
  z-index: 99;
  width: 100%;
  height: calc(100% - 49px);
  position: absolute;
  left: 0;
  margin: -10px 0;
  display: none;
  opacity: 0.5;
}

.widget__filter-sidebar,
.widget__info-sidebar {
  position: absolute;
  height: calc(100% - 49px);
  width: 450px;
  background-color: white;
  right: 0;
  margin: -10px 0;
  z-index: 100;
  border-left: solid 1px lightgray;
  padding: 15px;
  overflow-y: auto;
  overflow-x: hidden;
  display: none;
}

.actions-widget {
  text-align: center;
  padding-top: 4px;
}

.action-widget__add-button {
  margin-bottom: 5px;
}

.prototype.task-widget-panel .task-name {
	display: inline;
}

.prototype.task-widget-panel .action-panel {
	display: inline;
}

.prototype.task-widget-panel .action-panel .fa {
	float: right;
	color: white;
	margin: 0 5px;
}

.task-widget-header-main {
	margin: 10px 10px 0 10px;	
}

.dashboard-tasks-container__columns-configuration,
.dashboard-cases-container__columns-configuration  {
  text-align: right;
  margin-bottom: 10px;
}

.dashboard-tasks__start .fa {
  text-align: center;
  display: block;
}

.dashboard-tasks__priority i {
  font-size: 18px;
  display: block;
}

.dashboard-tasks__priority--exception {
  color: red;
}

.dashboard-tasks__description span,
.dashboard-tasks__name span {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.prototype-task-table .default-column {
	max-width: 300px;
	width: 300px;
}

.dashboard-tasks__state-text {
  border-radius: 2rem;
  box-sizing: border-box;
  font-size: var(--default-body-font-size);
  width: fit-content;
  padding: 2px 5px;
}

.dashboard-tasks__state-text--open,
.dashboard-tasks__state-text--suspended {
  background: #DADADA;
  border: 1.5px solid #DADADA;
}

.dashboard-tasks__state-text--resumed {
  background: #FFE896;
  border: 1.5px solid #FFE896;
}

.dashboard-tasks__state-text--done {
  background: #D4EBA2;
  border: 1.5px solid #D4EBA2;
}

.dashboard-tasks__state-text--parked {
  background: #FCC3C3;
  border: 1.5px solid #FCC3C3;
}

.task-configuration.card,
.case-configuration.card,
.widget-configuration.card {
  width: 450px;
  padding: 20px 15px;
  margin-right: 20px;
  border-right: solid 1px var(--ivy-primary-color-grey-light);
}

.case-configuration.card {
  padding: 15px 20px 15px;
}

.task-configuration.card,
.case-configuration.card,
.widget-configuration.card,
.task-preview.card,
.case-preview.card,
.widget-preview.card {
  box-shadow: var(--card-box-shadow);
}

.task-configuration__chbox-work-on {
  width: 10%; 
  display: inline-block;
}

.task-configuration__input-text {
  float: right;
  width: 90%;
}

.task-configuration__input-number {
  width: 100%;
}

body .ui-selectcheckboxmenu.task-configuration__selectcheckboxmenu {
  float: right;
  background-image: none;
  width: 90%;
}

body .ui-selectcheckboxmenu.task-configuration__selectcheckboxmenu .ui-selectcheckboxmenu-trigger .ui-icon {
  top: 5px;
}

.task-configuration__selectcheckboxmenu-panel {
  width: 300px;
}

.task-configuration__calendar {
  float: right;
  width: 90%;
  height: 20px;
}

.task-configuration__calendar input {
  width: 100%;
}

body .ui-calendar.task-configuration__calendar .ui-datepicker-trigger {
  top: -23px;
  right: -92%;
}

.task-configuration__calendar .ui-datepicker-trigger.ui-button-icon-only .ui-button-text {
  line-height: normal;
}

.task-configuration__column-picker.ui-picklist .ui-picklist-list {
  width: 190px;
}

.task-preview,
.case-preview,
.widget-preview {
  width: calc(100% - 470px);
  align-items: flex-start;
  align-self: stretch;
  padding: 20px 15px;
}

.task-preview__header {
  margin: 0;
}

.task-configuration__user-selection>span {
  width: 90%;
  float: right;
}

.task-configuration__user-selection .ui-autocomplete-input {
  width: 100%;
}

.task-configuration__responsibles.ui-autocomplete {
  width: 90%;
  float: right;
}

.task-configuration__responsibles.ui-autocomplete .ui-inputfield {
  width: 100%;
}

.task-configuration__category-panel-footer {
  margin-top: 5px;
  text-align: right;
}

.field-add-fieldset {
  margin-bottom: 10px;
}

.field-add-fieldset__label {
  text-align: right;
}

.field-add-fieldset__input {
  width: 100%;
}

.field-add-fieldset__custom-field-type-container, .field-add-fieldset__number-pattern-container {
  padding: 0;
}

.field-add-fieldset__autocomplete-input {
  width: 100%;
}

.ui-widget-content.info-overlay-panel {
  max-height: 60vh;
  overflow: auto;
  padding: 0;
}

.widget-info-panel,
.widget-filter-panel {
  width: 450px;
}

.widget-info-panel.statistic-filter-accordion-panel .ui-accordion-content {
  max-width: 100%;
}

.category-filter-tree {
  max-height: 400px;
  overflow-y: auto;
}

.category-panel {
  position: relative;
}

.category-panel .category-filter-info {
  display: block;
}

.category-panel .category-filter-info.minimize-content {
  height: 160px;
  overflow: hidden;
}

.category-panel .category-toggle {
  position: absolute;
  top: 15px;
  right: -13px;
}

.dashboard-cases--table table thead tr,
.dashboard-tasks--table table thead tr {
  border-left: solid 1px var(--case-related-task-content-border);
  border-right: solid 1px var(--case-related-task-content-border);
}

.dashboard-cases--table table tbody tr:not(.ui-datatable-empty-message) {
  height: 53px;
}

.grid-stack {
  margin-bottom: 2.5em;
}

.filter-container {
  align-self: flex-start;
}

.filter-container__header h2,
.widget-preview__header h2 {
  margin: auto;
}

.preview-button.ui-button,
.apply-filter-button.ui-button {
  width: auto;
}

.case-preview__header {
  margin-top: auto;
  padding-bottom: 0;
}

.process-widget-component.widget__content {
  padding: 0 0 0;
}

.process-widget-component.widget__content .compact-processes-container .process-start-list-item {
  margin: 10px 10px 12px;
}