.dashboard__header {
	padding: 10px;
}

.new-widget-dialog__content .ui-grid.ui-grid-responsive {
  padding: 0;
  border: none;
}

.new-widget-dialog__item {
  text-align: center;
}

.ui-resizable-handle {
  color: var(--primary-color);
}

.dashboard-card {
  padding: 0;
}

.ui-draggable:not(.ui-draggable-disabled)>.ui-draggable-handle {
  cursor: move;
}

.dashboard-header__action {
  z-index: 995;
  float: right;
  text-align: right;
}

.dashboard__title {
  font-size: 1.8rem;
  margin-right: 10px;
  padding-bottom: 5px;
}

.dashboard__title--active {
  border-bottom: 2px solid;
}

.dashboard__widget {
  display: flex;
  flex-direction: column;
  box-shadow: var(--card-box-shadow);
}

.widget__header {
  flex: 0 0 30px;
  padding: 10px;
  font-size: 18px;
  border-bottom: 2px solid lightgrey;
  font-weight: bold;
}

.widget__header-actions {
  float: right;
}

.widget__content {
  flex: auto;
  overflow: auto;
  padding: 10px;
}

.widget__filter-sidebar-mask,
.widget__info-sidebar-mask {
  background-color: lightgray;
  z-index: 99;
  width: 100%;
  height: calc(100% - 49px);
  position: absolute;
  left: 0;
  margin: -10px 0;
  display: none;
  opacity: 0.5;
}

.widget__filter-sidebar,
.widget__info-sidebar {
  position: absolute;
  height: calc(100% - 49px);
  width: 450px;
  background-color: white;
  right: 0;
  margin: -10px 0;
  z-index: 100;
  border-left: solid 1px lightgray;
  padding: 15px;
  overflow-y: auto;
  overflow-x: hidden;
  display: none;
}

.actions-widget {
  text-align: center;
  padding-top: 4px;
}

.action-widget__add-button {
  margin-bottom: 5px;
}

.prototype.task-widget-panel .task-name {
	display: inline;
}

.prototype.task-widget-panel .action-panel {
	display: inline;
}

.prototype.task-widget-panel .action-panel .fa {
	float: right;
	color: white;
	margin: 0 5px;
}

.task-widget-header-main {
	margin: 10px 10px 0 10px;	
}

.dashboard-tasks-container__columns-configuration,
.dashboard-cases-container__columns-configuration  {
  text-align: right;
  margin-bottom: 10px;
}

.dashboard-tasks__start .fa {
  text-align: center;
  display: block;
}

.dashboard-tasks__priority i {
  font-size: 18px;
  display: block;
}

.dashboard-tasks__priority--exception {
  color: red;
}

td.dashboard-tasks__description span,
td.dashboard-tasks__name span,
td.dashboard-cases__description span,
td.dashboard-cases__name span {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.prototype-task-table .default-column {
	max-width: 300px;
	width: 300px;
}

.dashboard-tasks__state-text,
.dashboard-cases__state-text {
  border-radius: 1rem;
  line-height: 1.6rem;
  box-sizing: border-box;
  font-size: var(--small-font-size);
  width: fit-content;
  padding: 2px 5px;
  display: inline-block;
  border: 1px solid;
}

.dashboard-tasks__state-text--open,
.dashboard-tasks__state-text--suspended {
  background: #DADADA;
  border-color: #DADADA;
}

.dashboard-cases__state-text--running,
.dashboard-tasks__state-text--resumed {
  background: #FFE896;
  border-color: #FFE896;
}

.dashboard-cases__state-text--done,
.dashboard-tasks__state-text--done {
  background: #D4EBA2;
  border-color: #D4EBA2;
}

.dashboard-cases__state-text--destroyed,
.dashboard-cases__state-text--zombie,
.dashboard-tasks__state-text--destroyed {
  background: var(--task-state-zombie-destroyed-color);
  border-color: var(--task-state-zombie-destroyed-color);
}

.dashboard-tasks__state-text--failed,
.dashboard-tasks__state-text--join_failed {
  background: var(--task-state-failed-color);
  border-color: var(--task-state-failed-color);
}

.dashboard-tasks__state-text--waiting_for_intermediate_event {
  background: var(--task-state-waiting-color);
  border-color: var(--task-state-waiting-color);
}

.dashboard-tasks__state-text--parked {
  background: #FCC3C3;
  border-color: #FCC3C3;
}

.task-configuration.card,
.case-configuration.card,
.widget-configuration.card {
  width: 450px;
  padding: 20px 15px;
  margin-right: 20px;
}

.case-configuration.card {
  padding: 15px 20px 15px;
}

.task-configuration.card,
.case-configuration.card,
.widget-configuration.card,
.task-preview.card,
.case-preview.card,
.widget-preview.card {
  box-shadow: var(--card-box-shadow);
}

.task-configuration__chbox-work-on {
  width: 10%; 
  display: inline-block;
}

.task-configuration__input-text {
  float: right;
  width: 90%;
}

.task-configuration__input-number {
  width: 100%;
}

body .ui-selectcheckboxmenu.task-configuration__selectcheckboxmenu {
  float: right;
  background-image: none;
  width: 90%;
}

body .ui-selectcheckboxmenu.task-configuration__selectcheckboxmenu .ui-selectcheckboxmenu-trigger .ui-icon {
  top: 5px;
}

.task-configuration__selectcheckboxmenu-panel {
  width: 300px;
}

.task-configuration__calendar {
  float: right;
  width: 90%;
  height: 20px;
}

.task-configuration__calendar input {
  width: 100%;
}

body .ui-calendar.task-configuration__calendar .ui-datepicker-trigger {
  top: -23px;
  right: -92%;
}

.task-configuration__calendar .ui-datepicker-trigger.ui-button-icon-only .ui-button-text {
  line-height: normal;
}

.task-configuration__column-picker.ui-picklist .ui-picklist-list {
  width: 190px;
}

.task-preview,
.case-preview,
.widget-preview {
  width: calc(100% - 470px);
  align-items: flex-start;
  align-self: stretch;
  padding: 20px 15px;
}

.task-preview__header {
  margin: 0;
}

.task-configuration__user-selection>span {
  width: 90%;
  float: right;
}

.task-configuration__user-selection .ui-autocomplete-input {
  width: 100%;
}

.task-configuration__responsibles.ui-autocomplete {
  width: 90%;
  float: right;
}

.task-configuration__responsibles.ui-autocomplete .ui-inputfield {
  width: 100%;
}

.task-configuration__category-panel-footer {
  margin-top: 5px;
  text-align: right;
}

.field-add-fieldset {
  margin-bottom: 10px;
}

.field-add-fieldset__label {
  text-align: right;
}

.field-add-fieldset__input {
  width: 100%;
}

.field-add-fieldset__custom-field-type-container, .field-add-fieldset__number-pattern-container {
  padding: 0;
}

.field-add-fieldset__autocomplete-input {
  width: 100%;
}

.ui-widget-content.info-overlay-panel,
.filter-overlay-panel.ui-widget-content {
  padding: 0;
}

.filter-overlay-panel.ui-widget-content .ui-overlaypanel-content,
.ui-widget-content.info-overlay-panel .ui-overlaypanel-content {
  width: 450px;
  padding: 0;
}

.statistic-filter-accordion-panel.widget-info-panel,
.filter-overlay-panel.ui-widget-content .ui-overlaypanel-content .filter-overlay-panel__content {
  max-height: 60vh;
  overflow: auto;
}

.filter-overlay-panel__header,
.filter-overlay-panel__content,
.filter-overlay-panel__footer,
.info-overlay-panel__footer,
.statistic-filter-accordion-panel.widget-info-panel {
  padding: .5em 1em;
}

.filter-overlay-panel__footer,
.info-overlay-panel__footer {
  text-align: right;
  border-top: solid 1px var(--widget-advanced-filter-overlay-panel-footer);
}

.restore-button,
.ui-overlaypanel-footer__cancel {
  display: inline-block;
  line-height: 3rem
}

.widget-info-panel {
  width: 450px;
}

.widget-info-panel.statistic-filter-accordion-panel .ui-accordion-content {
  max-width: 100%;
}

.category-filter-tree {
  max-height: 400px;
  overflow-y: auto;
}

.category-panel {
  position: relative;
}

.category-panel .category-filter-info {
  display: block;
}

.category-panel .category-filter-info.minimize-content {
  max-height: 160px;
  overflow: hidden;
}

.category-panel .category-toggle {
  position: absolute;
  top: 15px;
  right: -13px;
}

.dashboard-cases--table table thead tr,
.dashboard-tasks--table table thead tr {
  border-left: solid 1px var(--case-related-task-content-border);
  border-right: solid 1px var(--case-related-task-content-border);
}

.dashboard-cases--table table tbody tr:not(.ui-datatable-empty-message),
.dashboard-tasks--table table tbody tr:not(.ui-datatable-empty-message) {
  height: 53px;
}

.grid-stack {
  margin-top: .5em;
  margin-bottom: 2.5em;
  padding-left: 0;
  padding-right: 0;
}

.filter-container {
  align-self: flex-start;
}

.filter-container__header h2,
.widget-preview__header h2 {
  margin: auto;
}

.preview-button.ui-button,
.apply-filter-button.ui-button,
.update-command.ui-button {
  width: auto;
}

.case-preview__header {
  margin-top: auto;
  padding-bottom: 0;
}

.process-widget-component.widget__content {
  padding: 0 0 0;
}

.process-widget-component.widget__content .compact-processes-container .process-start-list-item {
  margin: 10px 10px 12px;
}

.dashboard-tasks__start .ui-commandlink {
  padding: .5em 2em;
}

body .ui-datatable tbody tr td.dashboard-tasks__state,
body .ui-datatable tbody tr td.dashboard-cases__state {
  padding: 0;
}

body .dashboard__table--edit.ui-datatable tbody tr.ui-state-highlight,
body .dashboard__table--edit.ui-datatable tbody tr.ui-state-hover {
  background: transparent;
  cursor: move;
}

body .dashboard__table--preview.ui-datatable tbody tr.ui-state-highlight,
body .dashboard__table--preview.ui-datatable tbody tr.ui-state-hover {
  cursor: auto;
}

.widget-info__state {
  margin: 2px;
}

.widget__filter-sidebar-link {
  position: relative;
}

.widget__filter-noti-number {
  position: absolute;
  top: -6px;
  left: 8px;
  z-index: 999;
  background: var(--ivy-tertinary-color-red-medium);
  padding: 1px 3px;
  border-radius: 50%;
  font-size: var(--default-font-size);
  border: 1px solid var(--ivy-tertinary-color-red-medium);
  color: var(--ivy-primary-color-white);
}

.widget-infor--type {
  padding: 1em 1em 0;
}

.widget-infor-type--label {
  padding-left: 25px;
  font-weight: bold;
}
.column-management-datatable__reorder i {
  cursor: move;
  padding: 4px 10px;
}

.dashboard-tasks__id,
.dashboard-cases__id,
.dashboard-cases__finished-date {
  width: 110px;
}

.widget-preview__header--description {
  margin-bottom: auto;
}