/* Override fieldset */
.ui-fieldset-legend {
  padding: 10px !important;
}

/* WORKFLOW DEFINITION */
.express-align-bottom-group {
  display: flex !important;
}

.express-align-bottom-group .align-bottom-child-item {
  display: inline-block !important;
  align-self: flex-end !important;
}

.express-work-flow {
  margin-top: 1.5rem;
}

.express-work-flow .express-error-container {
  border: 0;
}

/* Override fieldset style for express */
.express-fieldset {
  width: auto !important;
}

.process-property-container {
  width: 100%;
  margin: auto;
  float: left;
}

.form-element-input-checkbox-table, .express-workflow-input {
  width: 91% !important;
}

.express-workflow-table-input {
  width: calc(100% - 45px) !important;
}

/* Express switch button */
.express-work-flow .express-input-switch-selection,
.ui-inputswitch.ui-widget.ui-widget-content.express-input-switch-selection.ui-inputswitch-checked {
  top: 3px;
  margin: auto 8px;
}

.show-default-ui-icon {
  font-size: 1.5rem;
  margin-left: 4px;
}

.dynamic-task-panel-grid {
  border: none;
  text-align: left;
  width: 100%;
}

.dynamic-task-action-container {
  border: none !important;
  text-align: left;
  width: 100%;
}

.dynamic-task-left-action {
  border: none !important;
  text-align: left;
  width: 50%;
}

.dynamic-task-right-action {
  border: none !important;
  text-align: right;
}

.ui-autocomplete-panel .ui-autocomplete-items .ui-autocomplete-moretext.ui-state-highlight,
.ui-autocomplete-panel .ui-autocomplete-items .ui-autocomplete-moretext.ui-state-highlight td {
  cursor: default;
}

.form-definition-item-icon {
  vertical-align: middle;
}

.placement-form-element-remove-btn {
  padding-right: 8px;
  float: right;
}

.no-border {
  border: none !important;
}

.vertical-align-middle {
  vertical-align: middle;
}

.form-definition-calendar {
  width: 128px;
}

.form-definition-option-container {
  width: 35%;
  padding: 0px !important;
  border: solid 0px !important;
}

/* DEFAULT TEMPLATE DIALOG */
.default-template-dyna-form {
  padding: 20px;
}

/* SELECT RESPONSIBLE DIALOG */
.assignee-selection-panel {
  width: 100%;
}

.assignee-selection-panel, .assignee-selection-panel tbody tr td {
  border: none !important;
}

.assignee-selection-panel .select-assignee .ui-autocomplete {
  width: 100%;
}

.assignee-selection-panel .select-assignee .ui-autocomplete-input {
  width: 100%;
}

.assignee-selection-panel .add-assignee-button {
  float: right;
  margin-top: 15px;
}

.assignee-selection-panel .selected-assignee-panel {
  padding: .6em 0 !important;
  cursor: default;
}

.assignee-selection-panel .selected-assignee-panel .ui-fieldset-legend {
  margin-left: 1em;
}

.assignee-selection-panel .selected-assignee-panel .assignee-selection {
  width: 100%;
  border: none !important;
  margin: 0;
}

.selected-assignee-panel .ui-fieldset-content {
  max-height: 35vh;
  overflow-y: auto;
}

.assignee-selection-panel .delete-assignee {
  font-size: 1.4rem;
  padding-right: 5px;
}

.assignee-selection-panel .assignee-name-col {
  width: 90%;
  padding-left: 0 !important;
}

.assignee-selection-panel .assignee-type-col .fa {
  text-align: center;
  width: 3rem;
  font-size: 1.8rem;
}

.assignee-selection-panel .save-assignee-button {
  margin-top: 10px;
}

/* FORM DEFINITION */
.ui-widget.ui-button.defined-task-button {
  width: 18rem;
  height: 5rem !important;
  vertical-align: top;
  padding: 0 4px 0 7px;
}

.ui-widget.ui-button.defined-task-button span {
  padding: 0 20px !important;
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ui-widget.ui-button.defined-task-button.active {
  opacity: .8 !important;
}

.ui-widget.ui-button.defined-task-button.visited {
  opacity: .8 !important;
}

.form-elements-container {
  margin: 0 0 16px;
  border: none !important;
  padding: 0;
}

.form-elements-container .form-elements-1st-column {
  width: 25%;
}

.form-elements-container .form-elements-2nd-column {
  width: 75%;
  padding-left: 0 !important;
}

.form-elements-container .available-form-elements .ui-panelgrid-cell {
  padding: 0 !important;
}

.form-elements-container .ui-panelgrid-content.ui-widget-content.ui-grid.ui-grid-responsive {
  padding-left: 0;
  padding-right: 0;
}

.available-form-elements .ui-datagrid-content.ui-widget-content {
  border: none !important;
  padding: 0 !important;
}

.available-elements-panel, .available-elements-panel .ui-panel-content.ui-widget-content {
  width: 100%;
  padding: 0 !important;
}

.available-elements-action-btn {
  float: right;
  margin-top: -4px;
  margin-right: -5px;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

/* Form elements responsive */
@media (max-width: 1024px) {
  .available-formelements-field, .form-elements-container .form-elements-1st-column, .form-elements-container .form-elements-2nd-column
    {
    padding: 8px !important;
  }
}

@media (max-width: 1366px) {
  .form-elements-container .form-elements-2nd-column {
    padding-left: 0 !important;
    word-break: break-all;
  }
}

.available-elements-panel .available-elements-image {
  float: left;
  margin-left: -2px;
  margin-top: -2px;
}

.available-formelements-field {
  height: 100%;
  box-sizing: border-box;
}

.show-preview-button {
  margin-bottom: 15px;
}

.ui-draggable:hover {
  cursor: all-scroll;
}

.express-form-buttons-container {
  margin-bottom: 20px;
}

.selected-form-elements-header .ui-datagrid-content.ui-widget-content, .selected-form-elements-left-panel .ui-datagrid-content.ui-widget-content,
  .selected-form-elements-right-panel .ui-datagrid-content.ui-widget-content, .selected-form-elements-footer .ui-datagrid-content.ui-widget-content
  {
  padding: 0 !important;
  border: none !important;
}

.form-definition-table {
  border-collapse: separate;
  height: 100%;
}

.form-definition-table td.ui-panelgrid-cell {
  padding: 10px;
  height: 100%;
}

.form-definition-table tr:first-child td.ui-panelgrid-cell {
  padding-bottom: 0;
}

.form-definition-table tr:last-child td.ui-panelgrid-cell {
  padding-top: 0;
}

.form-definition-table .selected-formelements-panel {
  border-radius: 5px;
  height: 100%;
}

.form-definition-table .selected-formelements-panel.right-section .ui-outputpanel, .form-definition-table .selected-formelements-panel.left-section .ui-outputpanel
  {
  height: 100%;
}

.form-create-tabs .ui-tabs-nav.ui-widget-header.ui-corner-all {
  padding-right: 100px !important;
}

/* EMAIL */
.express-action-button-icon-only {
  width: 110px;
  text-align: center;
}

.email-attachment .ui-fileupload-buttonbar.ui-widget-header.ui-corner-top {
  float: right;
  border: none;
  margin-top: -6px;
  padding: 0 !important;
}

.email-attachment .ui-fileupload-content.ui-widget-content .ui-fileupload-files {
  float: right;
  width: 100%;
  margin: 10px -20px 0 0 !important;
  text-align: right;
}

.email-attachment .ui-fileupload-content.ui-widget-content.ui-corner-bottom {
  border: none;
}

td.email-attachment-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.express-email-container {
  padding: 0.5em;
}

.express-email-container>div.ui-g>div {
  margin-top: 10px;
}

.express-email-container label.ui-state-error {
  color: #e62a10;
}

.email-attachment:before {
  padding-right: 10px;
}

.email-attachment-upload-btn {
  margin-top: 0 !important;
  width: 100%;
}

.email-attachment-upload-btn .ui-fileupload-messages {
  margin-top: 36px;
  margin-right: -8px;
}

/* REVIEW FORM */
.review-content-title {
  margin-bottom: 10px;
  width: calc(100% - 28px);
  padding-bottom: 6px;
  margin-left: 14px;
}

.user-task-dyna-form {
  margin-left: 14px;
  width: calc(100% - 20px) !important;
  table-layout: fixed;
}

.finished-task-label {
  margin-left: 16px;
  margin-bottom: 1em;
}

.finished-task-fieldset legend {
  padding: 10px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 25rem;
}

.finished-task-fieldset .applicant-info-container {
  padding: 6px;
}

.finished-task-fieldset .pe-dynaform-grid {
  margin-bottom: 20px;
}

.dyna-form-dl-div .ui-datalist-content.ui-widget-content {
  padding: 6px 6px 0 !important;
}

.dyna-form-dl-div dl {
  margin: 6px auto !important;
}

/* UI Element - Many checkbox */
.express-table-no-header thead {
  display: none !important;
}

.express-table-no-header .ui-datatable-header.ui-widget-header.ui-corner-top {
  padding: 0;
  width: calc(100% - 1px);
}

.express-table-header-title {
  float: left;
  text-align: left;
  width: calc(100% - 85px);
}

.express-add-option-panel {
  float: right;
  margin-right: 4px;
}

/* Form Creation Tab */
.create-tabs-field {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 0;
  margin-right: 0;
}
.create-tabs-field .ui-fieldset-content {
  width: 100%;
}

.form-create-tabs {
  border: none !important;
}

/* DYNA FORM */
.defined-task-button-container {
  display: inline;
  position: relative;
  float: left;
  margin-bottom: 5px;
}

.defined-task-label {
  position: absolute;
  left: 6px;
  top: 14px;
  z-index: 2;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
}

.defined-task-label label {
  margin-top: 3px;
  display: block;
}

.defined-task-container div {
  margin-left: 13px;
}

.defined-task-container {
  width: 100%;
  float: left;
  padding-left: 3px;
  padding-bottom: 11px;
}

.defined-task-button-container .ui-button .ui-button-text {
  line-height: normal !important;
}

/* APPROVAL FORM */
.applicant-label-field-col {
  border: none !important;
}

.applicant-field-col {
  border: none !important;
}

.approval-comment {
  margin: auto 14px;
  width: calc(99% - 28px) !important;
}

.default-template-text-area {
  overflow: auto;
  resize: none;
}

.preview-dialog {
  max-width: 1200px;
}

.preview-dialog .pe-dynaform-cell[colspan]>.form-definition-calendar>input.hasDatepicker, .preview-dialog .pe-dynaform-cell[colspan] input.ui-inputtext
  {
  width: 100%;
}

.preview-dialog .pe-dynaform-cell input.ui-inputtext, .preview-dialog .pe-dynaform-cell[colspan="2"] input.ui-inputtext,
  .preview-dialog .pe-dynaform-cell>.form-definition-calendar>input.hasDatepicker {
  width: 98%;
}

.ui-spinner .ui-spinner-input {
  width: 100%;
}

.preview-dialog .pe-dynaform-cell[colspan="4"]>.ui-spinner {
  width: 50%;
}

.preview-dialog .ui-widget.ui-datatable {
  border: none;
  width: 100%;
}

.preview-dialog .pe-dynaform-cell>.ui-spinner {
  width: 98%;
}

.preview-dialog .preview-dyna-container {
  padding: 1em 2em;
  margin: 0;
  margin-bottom: 10px;
  max-height: 500px;
  overflow-y: auto;
}

/* Override dynaform cell */
.pe-dynaform-cell[colspan="2"]:not(.pe-dynaform-label) {
  height: 2.5rem !important;
}

.pe-dynaform-grid tr>td.pe-dynaform-cell[colspan="2"]:first-child {
  padding-right: 2em;
}

.pe-dynaform-grid tr>td.pe-dynaform-cell[colspan="2"]:last-child {
  padding-left: 2em;
}

.preview-dialog .pe-dynaform-cell[colspan="2"]:not(.pe-dynaform-label) table,
.preview-dialog .pe-dynaform-cell[colspan="2"]:not(.pe-dynaform-label) table {
  line-height: initial !important;
}

.ui-selectmanycheckbox.ui-widget td:first-child, .ui-selectoneradio.ui-widget td:first-child {
  min-width: 165px;
}

.approval-comment-container {
  margin: auto 16px;
}

.approval-result-table {
  margin: auto 14px;
}

.pe-dynaform-cell.input-field-number {
  padding-top: 7px;
}

.pe-dynaform-cell.input-text-field {
  padding-top: 6px;
}

_:-ms-fullscreen, :root .pe-dynaform-cell.input-field-number {
  padding-top: 3.5px !important;
}

_:-ms-fullscreen, :root .pe-dynaform-cell.input-text-field {
  padding-top: 2.5px !important;
}

/*fix checkbox menu*/
.ui-fluid .ui-selectcheckboxmenu-trigger {
  height: 37px !important;
}

/*fix all input elements same height*/
.ui-g label {
  display: inline-block !important;
}

/*end of fix all input elements same height*/

/*center main content */
@media (min-width: 1920px) {
  .layout-wrapper .layout-main .layout-content {
    margin-left: 15%;
    padding-right: 15% !important;
  }
  .case-details-item {
    min-width: auto;
  }
  .user-task-dyna-container {
    padding: 0.5em 2em 2em !important;
  }
}
/*end of center main content */
/*info button popup*/
.pe-dynaform-label {
  padding-top: 7px;
  padding-left: 0;
  text-align: left !important;
}

/*end of info button popup*/
.pe-dynaform-cell .ui-datalist-item {
  margin-top: -5px !important;
}

.process-property-container .ui-panelgrid-cell:not(.process-property-input-col) {
  padding: 0 !important;
}

.pe-dynaform-cell[colspan="4"]>input, .pe-dynaform-cell[colspan="4"]>select {
  width: 99%;
}

.ui-datalist {
  border: none;
}

.pe-dynaform-grid {
  width: 100%;
}

.preview-dialog .pe-dynaform-cell[colspan="4"]>input.ui-inputtext {
  width: 98%;
}

.pe-dynaform-cell[colspan="4"]>textarea {
  width: 100%;
}

.preview-dialog .pe-dynaform-cell>input.ui-inputtext {
  width: 96%;
}

.preview-dialog .pe-dynaform-cell[colspan="2"] .ui-inputfield.ui-inputtextarea, .ui-inputfield.ui-inputtextarea {
  width: 98%;
  white-space: pre;
}

.pe-dynaform-cell input {
  width: 98%;
}

.Fs24 {
  font-size: 2.4rem !important;
}

.pe-dynaform-cell {
  vertical-align: top;
}

.ui-radiobutton {
  margin: 2px 10px 0px 0px !important;
}

.ui-selectmanycheckbox label, .ui-selectmanycheckbox label.ui-state-disabled {
  opacity: 1;
}

.alignLabelTop {
  display: initial;
}

.marginTop6 {
  margin-top: 6px;
}

.create-form-toolbar {
  position: absolute;
  top: 10px;
  right: 5px;
}

.task-responsible-link:after {
  content: "\f044";
  margin-left: 5px;
}

/* User task form */
.user-task-dyna-container {
  padding: 0.5em 1em 1em;
}

.user-task-form .express-fieldset .ui-fieldset-content table {
  table-layout: fixed;
}

.express-case-document td.document-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Adjust style on mobile */
@media screen and (max-width: 40em) {
  fieldset.express-fieldset {
    padding: 5px !important;
  }
  .email-attachment .ui-fileupload-content.ui-widget-content.ui-corner-bottom {
    display: none !important;
  }
  .finished-task-label {
    margin-left: 7px !important;
  }
  .approval-comment-container {
    margin: auto 7px !important;
  }
  .express-action-button-icon-only {
    text-align: left;
  }
}

.express-process-owner {
  padding-top: 0px !important;
}

body .task-template-content .ui-fieldset .ui-fieldset-legend .ui-fieldset-toggler {
  width: 20px;
  height: 20px;
  padding: 0;
}

body .task-template-content .ui-fieldset .ui-fieldset-legend {
  line-height: 0.3rem;
}

.express-assignee-autocomplete .ui-autocomplete-input {
  padding-right: 20px !important;
}

.form-definition-table tr:nth-child(2) td.ui-panelgrid-cell:first-child {
  margin-right: 5px !important;
  width: calc(50% - 5px);
}

.form-definition-table tr:nth-child(2) td.ui-panelgrid-cell:last-child {
  margin-left: 5px !important;
  width: calc(50% - 5px);
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  .form-definition-table tr:nth-child(2) td.ui-panelgrid-cell {
    padding: 0;
  }

  .form-definition-table tr:nth-child(2) td.ui-panelgrid-cell:first-child {
    padding-left: 14px;
  }

  .form-definition-table tr:nth-child(2) td.ui-panelgrid-cell:last-child {
    padding-right: 12px;
  }
}

/*Edge support*/
@supports (-ms-ime-align: auto) {
  .form-definition-table tr:nth-child(2) td.ui-panelgrid-cell:last-child {
    margin-left: 0px !important;
    width: 50%;
  }
}

/* Express Helper */
.express-process-upload.ui-fileupload {
  padding: 0 !important;
}

.express-process-upload.ui-fileupload .ui-fileupload-progress {
  vertical-align: middle;
}

.import-express-dialog {
  min-width: 450px;
}

.import-express-dialog .express-import-result {
  overflow: auto;
  max-height: 400px;
  width: 100%;
}

.import-express-dialog .import-header-title,
.export-express-dialog .import-header-title {
  margin: 0;
}

.express-workflow-summary-table .express-selection-column {
  width: 50px;
  text-align:center"; 
}

.export-express-dialog .express-export-selected {
  max-height: 250px;
  overflow: auto;
  width: 100%;
}

.express-helper-loading-container {
  display: none;
}

.express-helper-loading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}