.process-property-container {
  width: 100%;
  border: none;
}

.process-property-label-col {
  width: 15%;
  border: none !important;
}

.process-description-label-col {
  vertical-align: top;
}

.process-property-input-col {
  width: 75%;
  border: none !important;
}

.process-property-input {
  width: 98%;
}

.process-property-input-description {
  width: 98%;
  padding-top: 0px !important;
}

.process-flow-container {
  border: none;
  margin-left: -10px;
}

.task-panel-container {
  text-align: center;
  vertical-align: middle;
  border: none;
}

.dynamic-task-panel-grid {
  border: none;
  text-align: left;
  width: 100%;
}

.dynamic-task-title-col {
  border: none !important;
  border-bottom: solid #dfdfdf !important;
}

.dynamic-task-arrow {
  border: none !important;
  width: 15px;
  padding-top: 15px !important;
}

.dynamic-task-name-label-col, .dynamic-task-description-label-col {
  width: 15%;
  border: none !important;
  padding-top: 15px !important;
}

.dynamic-task-name-input-col, .dynamic-task-description-input-col {
  width: 35%;
  border: none !important;
  padding-top: 15px !important;
}

.dynamic-task-name-input, .dynamic-task-description-input, .dynamic-task-actor-input {
  width: 70%;
}

.dynamic-task-name-input, .dynamic-task-actor-input {
  margin-left: -11px;
}

.dynamic-task-action-container {
  border: none !important;
  text-align: left;
  width: 100%;
}

.dynamic-task-left-action {
  border: none !important;
  text-align: left;
  width: 50%;
}

.dynamic-task-right-action {
  border: none !important;
  text-align: right;
}

.applicant-field-container {
  width: 100%;
  border: none;
}

.applicant-field-col {
  width: 25%;
  border: none !important;
}

.applicant-field-input {
  width: 85%;
}

.padding-top-15 {
  padding-top: 15px !important;
}

.applicant-selection-container {
  border: none;
  border-bottom: solid #dfdfdf;
}

.user-list-form {
  width: 500px;
}

.user-selection {
  min-width: 500px;
  margin-bottom: 60px;
}

.user-selection {
  min-width: 500px;
  margin-bottom: 60px;
}

.user-selection .ui-autocomplete-input {
  min-width: 470px;
}

.select-responsible-icon-column {
  width: 16px;
  text-align: right;
}

.ui-autocomplete-panel .ui-autocomplete-items .ui-autocomplete-moretext.ui-state-highlight,
.ui-autocomplete-panel .ui-autocomplete-items .ui-autocomplete-moretext.ui-state-highlight td {
  background-color: white !important;
  cursor: default;
}

.form-definition-item-icon {
	vertical-align: middle;
}

.form-element-name {
	width: 15%;
	border: none !important;
}

.form-element-label {
	width: 35%;
	border: none !important;
}

.form-element-label-input {
	width: 91%;
}

.form-element-attribute {
	width: 25%;
	border: none !important;
}

.create-input-field-panel-grid-row {
	height: 20px;
}

.create-input-field-panel-grid-action-row {
	height: 70px;
}

.create-input-field-panel-grid-action-btn {
	text-align: right;
	border: none !important;
}

.placement-form-element-remove-btn {
	padding-right: 8px;
}

.no-border {
	border: none !important;
}

.vertical-align-middle {
	vertical-align: middle;
}

.ui-panelgrid tbody tr td.form-definition-border-color,
	.form-definition-border-color {
	border: solid #656565 !important;
}

.create-input-field-panel-grid-column {
	width: 50%;
	border: none !important;
	vertical-align: top;
}

.form-element-input-field-type {
	width: 75%;
}

.form-definition-calendar {
	width: 128px;
}

.form-definition-option-container {
	width: 35%;
	padding: 0px !important;
	border: solid 0px !important;
}

.form-definition-option-box-fields {
	width: 15%;
	border: none !important;
	vertical-align: top;
	padding-top: 10px !important;
}

.pe-dynaform-grid.Wid100 {
	width: 100% !important;
}

.floatLeft {
	float: left !important;
}