version: '3.7'
services:
  ivy:
    image: axonivy/axonivy-engine:nightly-8.0
    container_name: ivy-8
    ports:
     - 8008:8080
    volumes:
     - ./licence-8.lic:/etc/axonivy-engine/licence.lic
     - ./ivy.yaml:/etc/axonivy-engine/ivy.yaml
     - ./applications:/usr/lib/axonivy-engine/applications
     - ./data:/usr/lib/axonivy-engine/data
     - ./work:/usr/lib/axonivy-engine/work
    networks:
     - postgres_network
networks:
  postgres_network:
    external: true

