@CHARSET "UTF-8";

body, html, td, tr, th, input, textarea, select, form {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 9pt;
}

.circularImg {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  overflow: hidden;
}

.circularGroupImg {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  overflow: hidden;
}

.flowpanelHot {
  background-color: #eeeeee;
  border: 1px solid;
  border-radius: 10px;
  border-color: rgb(237, 0, 0);
  height: 80px;
}

.flowpanel {
  height: 80px;
}

.iconButton {
  border: 0px;
}

.flowpanelButton {
  border: 0px;
}

.panel {
  background-color: #eeeeee;
}

.acm-task-deletion-button {
  background-color: #eeeeee;
}

.acm-task-deletion-button.ui-button.ui-button-icon-only .ui-button-text {
  padding: 0px !important;
}

.font-bold {
  font-weight: bold !important;
}

.case-info, .task-description, .comment {
  width: 500px;
}

.acm-assignee-selection {
  width: 200px;
}