.process-viewer-data {
  height : 100%;
  overflow: auto;
  padding: 0 !important;
}

.process-viewer-data.has-error-message {
  font-weight: var(--process-viewer-data-has-error-message-font-weight) !important;
  font-size: var(--process-viewer-data-has-error-message-font-size);
  height: 200px;
}

.process-viewer-information {
  height: 60px;
}

.process-viewer-information .process-information-title {
  font-weight: bold;
}

.process-details-column-title {
  opacity: 0.65;
  font-size: var(--process-details-column-title-font-size);
}

.process-viewer-information .process-viewer-info-link {
  cursor: pointer;
  margin-left: 3px;
}

.process-viewer-information .process-viewer-info-link:hover {
  text-decoration: none;
}

.process-viewer-information .process-viewer-info-link i {
  vertical-align: middle;
}

.process-viewer-info-panel .ui-overlaypanel-content {
  padding-left: 0;
  padding-right: 0;
}

.process-viewer-info-container {
  max-width: 500px;
}

.process-viewer-info-container .process-information-title {
  margin-left: 2px;
  margin-bottom: 7px;
}

@media screen and (max-width: 40em) {
  .process-viewer-info-container {
    max-width: auto;
  }
}

.process-technical-information-group {
  table-layout: fixed;
}

.process-viewer-diagram {
  height: calc(100% - 60px);
}

.process-viewer-frame {
  height: 100%;
}