.process-history-component .case-header-default {
  text-align: center;
}

.process-history-component.process-history-column-header {
  flex: 1 0 100%;
  height: 60px;
  display: flex;
  align-items: flex-end;
  line-height: normal;
  margin: 0;
  padding: 0 2px 10px 2px;
  margin-bottom: 1px;
}

.process-history-component.process-history-list .ui-datascroller {
  border: none;
  border-radius: 0;
}

.process-history-component.process-history-list .ui-datascroller .ui-datascroller-content {
  padding: 2px;
}

.process-history-component .process-history-list-header-default {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

.process-history-component.process-history-list.process-history-list-cell-default {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.process-history-component.process-history-list .process-history-list-cell-default.process-history-list-width-120,
.process-history-component.process-history-list .process-history-list-header-default.process-history-list-width-120 {
  flex: 0 0 120px;
}

.process-history-component .process-history-list-name-header {
  padding-left: 10px;
}

.process-history-component .case-list-item:hover {
  z-index: 1;
}

.process-history-component .case-header-container {
  display: flex;
  height: 65px;
  align-items: center;
  position: relative;
}

.process-history-component .case-header-name-desc-cell .case-header-name-cell {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.process-history-component .case-header-name-cell .ui-inplace-content {
  display: flex;
}

.process-history-component .case-header-name-desc-cell .case-header-desc-cell {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.process-history-component .case-header-name-desc-cell {
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 105px;
  display: grid;
}

.process-history-component .case-header-data .case-header-default-cell {
  flex: 0 0 90px;
  text-align: center;
}

.process-history-component .case-header-data .case-header-id-cell {
  flex: 0 0 100px;
}

.process-history-component .case-header-data .case-header-creator-cell {
  flex: 0 0 135px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
}

.process-history-component .case-info-row {
  display: flex;
  width: 100%;
  align-items: center;
  cursor: pointer;
}

.process-history-component .case-list-unsortable-header-cell {
  font-size: var(--process-history-unsortable-header-font-size);
  color: var(--process-history-unsortable-header-text-color);
}

.process-history-component .case-list-item {
  border: 1px solid transparent;
  border-bottom: 1px solid var(--process-history-item-border-bottom-color);
  background-color: var(--process-history-item-background-color);
}

.process-history-component .case-list-item:hover {
  background: var(--process-history-item-background-hover);
  border: var(--process-history-item-border-hover);
  box-sizing: border-box;
}

.process-history-component .case-widget-container .widget-column-header a.ui-commandlink.is-selected {
  color: var(--black);
}

.process-history-component .case-header-name-desc-cell .case-header-desc-cell {
  color: var(--process-history-description-text-color);
}

.process-history-component .case-state-in-progress {
  color: var(--process-history-state-in-progress-color);
}

.process-history-component .case-state-done {
  color: var(--process-history-state-done-or-resume-color);
}

.process-history-component.process-history-list .ui-widget-content {
  border: none;
}

.process-history-component.process-history-list .ui-datascroller {
  background-color: transparent;
}

.process-history-component.process-history-column-header .is-selected {
  color: var(--black);
}

.process-history-component.process-history-column-header {
  border-bottom: 1px solid var(--process-history-header-border-bottom-color);
}

.process-history-component.process-history-empty-message .ui-outputlabel {
  color: var(--process-history-empty-message-label-color);
  font-size: var(--process-history-empty-message-label-font-size);
}

@media ( max-width : 767px) {
  .u-hidden-sm-down {
    display: none !important;
  }
}

@media ( max-width : 991px) {
  .u-hidden-md-down {
    display: none !important;
  }
}