.has-avatar {
  display: inline-flex;
  align-items: center;
  max-width: 100%;
}

.name-after-avatar {
  flex: 1;
  display: flex;
  padding-left: .3rem;
}

.ui-avatar.gravatar > img {
  z-index: 1;
}